footer.c-footer.l-grid_of_8
    //ul
        //li 
            a(href="#") contact@amrindersandhu.com

        
        li 
            a(href="https://twitter.com/anaami") Twitter


        li 
            a(href="https://www.linkedin.com/in/amrindersandhu/") LinkedIn


        li 
            a(href="https://github.com/amrindersandhu") GitHub

        
        li 
            a(href="https://dribbble.com/amrinder") Dribbble



    small.l-span_3-9 &copy; 2008-2020 Amrinder Sandhu


script. 
    // LAZY LOADING IMAGES
    if(!!window.IntersectionObserver){
        let observer = new IntersectionObserver((entries, observer) => { 
            entries.forEach(entry => {
            if(entry.isIntersecting){        
                entry.target.src = entry.target.dataset.src;
                observer.unobserve(entry.target);
            }
            });
        }, {rootMargin: "0px 0px 600px 0px"});
        document.querySelectorAll('img').forEach(img => { observer.observe(img) });
    }