footer.c-footer.l-grid
    span &copy; 2008–2020 Amrinder Sandhu.


    ul
        //li 
            a(href="#") contact@amrindersandhu.com

        
        li 
            a(href="https://twitter.com/anaami") Twitter


        li 
            a(href="https://www.linkedin.com/in/amrindersandhu/") LinkedIn


        li 
            a(href="https://github.com/amrindersandhu") GitHub

        
        li 
            a(href="https://dribbble.com/amrinder") Dribbble
