footer.c-footer.l-grid_of_8
    small.l-span_3-9 &copy; 2008-2020 Amrinder Sandhu
    
    //ul
        li 
            a(href="#") contact@amrindersandhu.com

        
        li 
            a(href="https://twitter.com/anaami") Twitter


        li 
            a(href="https://www.linkedin.com/in/amrindersandhu/") LinkedIn


        li 
            a(href="https://github.com/amrindersandhu") GitHub

        
        li 
            a(href="https://dribbble.com/amrinder") Dribbble



    

    // Email Modal
    //#emailModal.c-modal
        .c-modal__content
            .c-modal__header 
                h1 Email Me

                button.c-modal__close Done


            p Copy my email address (contact@amrindersandhu.com) 

            button#copyEmail Copy

            p
                br
                
                | or 
                
                br

                | compose an email in your default email client.

            

            button#sendEmail.c-button
                a(href="mailto:contact@amrindersandhu.com?subject=Re%3A%20Job%20Opportunity" target="_blank") Open in an email app




script. 
    // LAZY LOADING IMAGES
    if(!!window.IntersectionObserver){
        let observer = new IntersectionObserver((entries, observer) => { 
            entries.forEach(entry => {
            if(entry.isIntersecting){        
                entry.target.src = entry.target.dataset.src;
                observer.unobserve(entry.target);
            }
            });
        }, {rootMargin: "0px 0px 600px 0px"});
        document.querySelectorAll('img').forEach(img => { observer.observe(img) });
    }