footer.c-footer.l-grid_of_9
    small.l-span_3 &copy; 2008-2020 Amrinder Sandhu
    
    .c-footer__links.l-span_3.u-space_below
        //- a#myBtn(href="javascript:void(0)") contact@amrindersandhu.com

        //- i.u-sep &middot;


        a(href="https://www.linkedin.com/in/amrindersandhu/") LinkedIn

        i.u-sep &middot;

        a(href="https://github.com/amrindersandhu") GitHub

        i.u-sep &middot;

        a(href="https://medium.com/@anaami") Medium

        i.u-sep &middot;

        a(href="https://twitter.com/anaami") Twitter


    
    small.l-span_3 Handcoded using Pug, Sass, Gulp, Jekyll, and love.



    
    <button id="js-back-to-top" class="back-to-top">&uarr; <span>Back To Top</span></button>


    // Email Modal
    #emailModal.c-modal.c-modal--email
        .c-modal__content
            button#copyEmail 
                span.c-button__text#btnCopy Copy my email address

                span.c-button__icon <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#aab3c2" transform="translate(2 0)"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"></path></g></svg>


            hr


            a.c-button#composeMail(href="mailto:contact@amrindersandhu.com?subject=Re%3A%20Job%20Opportunity" target="_blank") 
                span.c-button__text Compose an email 

                span.c-button__icon <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" transform="translate(0 0)" fill="#aab3c2" stroke="#aab3c2"><line x1="2" y1="22" x2="22" y2="2" fill="none" stroke-miterlimit="10"></line> <polyline points="12 2 22 2 22 12" fill="none" stroke-miterlimit="10"></polyline></g></svg>



            hr



            button#closeModal.c-modal__close 
                span.c-button__text Nevermind 

                span.c-button__icon <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(0 0)" fill="#aab3c2" stroke="#aab3c2"><circle cx="12" cy="12" r="11" fill="none" stroke="#aab3c2" stroke-miterlimit="10"></circle> <path d="M12,19a6.459,6.459,0,0,0,5-3" fill="none" stroke-miterlimit="10"></path> <path data-stroke="none" d="M7.376,7a3.294,3.294,0,1,0,2.772,4.94L11.3,9.954a.745.745,0,0,1,1.412,0l1.147,1.987A3.294,3.294,0,1,0,16.626,7L12,7.022Z" fill-rule="evenodd" stroke="none"></path></g></svg>


script(src="https://unpkg.com/aos@next/dist/aos.js")
script.
    AOS.init();