header.c-header
    strong.c-name 
        a(href="/") Amrinder Sandhu
    



    button.c-menu_button.c-menu_button--show#menuToggle(type="button") 
        span M
        span E
        br
        span N
        span U



    //button.c-menu_button.c-menu_button--hide(type="button") 
        span H
        span I
        br
        span D
        span E



    nav.c-nav#menuToggleMenu
        ul.c-nav__list
            li.c-nav__item
                a.c-nav__link.c-nav__link--home(href="/") 
                    strong Home 
                    span and journal

            
            li.c-nav__item
                a.c-nav__link.c-nav__link--work(href="work.html") 
                    strong Work 
                    span I’ve done


            li.c-nav__item
                a.c-nav__link.c-nav__link--books(href="books.html") 
                    strong Books 
                    span I’ve read

            
            li.c-nav__item
                a.c-nav__link.c-nav__link--about(href="about.html") 
                    strong About 
                    span me &amp; myself


            //li.c-nav__item
                a.c-nav__link.c-nav__link--contact(href="contact.html") 
                    strong Contact 
                    span information
    