header.c-header
    strong.c-name Amrinder Sandhu


    //- nav.c-nav
    //-     ul.c-nav__list
    //-         li.c-nav__item
    //-             a.c-nav__link(href="/") 
    //-                 strong Home 
    //-                 span Sweet home

            
    //-         li.c-nav__item
    //-             a.c-nav__link.is-active(href="work.html") 
    //-                 strong Work 
    //-                 span I’ve done


    //-         li.c-nav__item
    //-             a.c-nav__link(href="books.html") 
    //-                 strong Books 
    //-                 span I’ve read

            
    //-         li.c-nav__item
    //-             a.c-nav__link(href="about.html") 
    //-                 strong About 
    //-                 span Amrinder
    