header.c-header 
    a.c-name(href="/") 
        span Amrinder 
        span Sandhu




    nav.c-nav
        ul.c-nav__list
            li.c-nav__item
                a.c-nav__link.c-nav__link--home(href="/") About

            
            //li.c-nav__item
                a.c-nav__link.c-nav__link--work(href="work.html") Work


            li.c-nav__item
                a.c-nav__link.c-nav__link--journal(href="journal.html") Journal

            
            li.c-nav__item
                a.c-nav__link.c-nav__link--books(href="books.html") Reading



            //li.c-nav__item
                a.c-nav__link.c-nav__link--contact(href="contact.html") 
                    strong Contact 
                    span information


    figure.c-avatar
        img(src="assets/i/photos/amrinder-11.jpg")
    