.new-wrapper
  .new-lhs
    img.new-photo(src='/assets/i/photos/amrinder-113.png')
    h1.new-h1
      | Amrinder Sandhu is a software designer 
      span.css-break
      | with over 15 years for experience in designing 
      span.css-break
      | digital products, design systems, and websites.
    ul.new-contact-links
      li
        a(href='#') Email
      li
        a(href='https://www.linkedin.com/in/amrindersandhu/') LinkedIn
      li
        a(href='https://github.com/amrindersandhu') GitHub
  section.new-main
    .new-work
      time 2020&ndash;Current
      h2 
        | Staff Designer, 
        a(href='https://www.postman.com/home') Postman
      p Built design system from scratch and led product and website redesigns.
    .new-work
      time 2013&ndash;20
      h2 
        | Design Director, 
        a(href='https://www.unmetric.com') Unmetric
      p Designed 3 core products from scratch used by Coca Cola, Unilever, and GM.
    .new-work
      time 2008&ndash;13
      h2 Lead Designer, 
        a(href='https://www.designbyanaami.com') Design by Anaami
      p Worked as a lead designer with clients like Intel, Zomato, and Grasshopper.
