---
layout: default
title: Amrinder Sandhu
page-class: p-about
page-heading: About
page-description: I’m a digital product designer who is passionate about designing products people love. I work remotely from Ancaster, Canada and love walking, nature, rain, soccer, and DIY-ing.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}
      
    <section class="c-section l-grid l-grid--section">
      <section class="c-section__col">
        <figure class="c-section__image">
          <img src="public/assets/i/photos/amrinder-3.jpeg" />
        </figure>
      </section>
      
      <section class="c-section__content">
        <p>I&apos;ve been leading and contributing to product design, user experience and front-end development for 12 years now. Along with developing and implementing user-centred design vision, principles, strategy, processes and a design system to guide the development of products, I’ve collaborated cross-functionally with product, engineering, marketing, sales and customer support to build and maintain efficient process for user research and product development for delivering smooth and usable UI which has resulted in memorable UX.</p>

      </section>
    </section>
      
    <section class="c-section l-grid l-grid--section">
        <h2 class="c-section__heading">More about me</h2>
        
        <section class="c-section__col">
          <figure class="c-section__image">
            <img src="public/assets/i/photos/amrinder-4.jpeg" />

            <figcaption class="c-section__caption">With Dan Mall at the Smashing Conference 2018 in Toronto.</figcaption>
          </figure>
        </section>
            
        



        <section class="c-section__content">
          <h3>Designing since 2003</h3>
          <p>Amrinder designed his first website (about Arnold Schwarzenegger) in 2003 using Microsoft FrontPage. Before that he used to draw and paint brand logos to perfection. Later, Amrinder started playing with Photoshop to satisfy his curiosity and express his creativity. All these small exercises and experiments helped him later when he decided to start designing full time in 2008. </p>
        </section>





        <section class="c-section__content">
          <h3>Engineer turned Designer</h3>
          <p>Amrinder did a B.Tech in Computer Science and Engineering (2003-2007) before starting full-time freelancing in Feb, 2008. One thing that hasn’t changed during this transition from an Engineer to a Designer is his passion for understanding and solving problems. That Engineering side of his also helps him create a balance between making something that is usable and memorable, and aesthetically pleasing and delightful.</p>
        </section>

            
        



        <section class="c-section__content">
          <h3>Google, Intel, Groupon</h3>
          <p>Before joining Unmetric full-time in 2014, I have lead design at various startups. I’ve worked with <strong>Intel</strong>, <strong>Zomato</strong>, <strong>Grasshopper</strong>, <strong>CIBC</strong>, and <strong>Raja Sandhu</strong> over the years. I also got job offers from <strong>Google</strong>, <strong>Groupon</strong>, and <strong>Intel</strong> which I couldn’t accept because of relocation.</p>
        </section>





        <section class="c-section__content">
          <h3>A Unicorn Designer</h3>
          <p>Since Amrinder worked as a freelancer during the early years of his career (2008-2014), he got opportunities to design more than just websites and applications. He has worked on branding, designed websites and blogs, pitching decks, marketing and product newsletters, brand value posters, social calendars, social media ads, sales collateral, ebooks and video covers, and logos for Unmetric and over a half dozen clients across the world. However, he loves designing product experiences and interactions the most.</p>
        </section>





        <section class="c-section__content">
          <h3>About this website</h3>
          <p>This website is online home of Amrinder where he shares his learnings, reading and work. Amrinder has used number 5 to design various parts of this website:</p>

          <ul class="o-list--bullet">
            <li>I’ve redesigned this website after 10 years in 2020.</li>

            <li>This site uses grid with 10 columns of 100px with gutter of 25px and max width of 1250px.</li>
              
            <li>The typographic scale used is of perfect fifth ratio and 5 type sizes.</li>
              
            <li>It is using 5 basic colors, and 5 light and bright theme colors each.</li>

            <!-- <li>It has 5 main sections (Home, Work, Books, About, and Contact).</li> -->
          </ul>
        </section>
    </section>    
</main>