---
layout: default
title: About Amrinder Sandhu
page-class: p-about
page-heading: About
page-description: I’m a digital product designer who is passionate about designing products people love. I work remotely from Ancaster, Canada and love simplicity, walking, nature, rain, and DIY-ing.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}
      
    <section class="c-section l-grid l-grid--section">
      <section class="c-section__col">
        <figure class="c-section__image c-section__image--alone">
          <img src="public/assets/i/photos/amrinder-3.jpeg" />
        </figure>
      </section>
      
      <section class="c-section__content" data-aos="fade-up">
        <p>I’ve been leading and contributing to product design, user experience and front-end development for 12 years now. Along with developing and implementing user-centred design vision, principles, strategy, and processes to guide the development of products, I’ve collaborated cross-functionally with product, engineering, marketing, sales and customer support to build and maintain efficient process for user research and product development for delivering smooth and usable UI which has resulted in memorable UX.</p>

        <p>Whether I’m designing a small feature, conducting usability testing, building a design system, or writing a LinkedIn recommendation, I always start with thorough research and discovery. I never hesitate to ask questions, challenge conventions, ideas and processes, suggest best practices, tools and frameworks; whether it involves my own team or <a href="https://www.linkedin.com/in/lakshmanannarayan/">a CEO</a> <a href="https://www.linkedin.com/in/siamaktaghaddos/">of a</a> <a href="https://www.linkedin.com/in/deepigoyal/">company</a>.</p> 
        
        <p>Apart from the regular design work, I also assist and influence product strategy, user research, website content strategy, and user interface copy (which I believe is also UI). My ultimate goal is to build delightful products that help people get better at their jobs.</p>

      </section>
    </section>
      
    <section class="c-section l-grid l-grid--section">
        <h2 class="c-section__heading"  >More about me</h2>
        
        <section class="c-section__col--1">
          <figure class="c-section__image c-section__image--withdan">
            <img src="public/assets/i/photos/amrinder-4.jpeg" />

            <figcaption class="c-section__caption">With <a href="http://danmall.com/">Dan Mall</a> at the Smashing Conference 2018 in Toronto. It was the first time in 10 years of my design career that I personally met one of the designers I really admire. We also talked about <a href="http://jasonsantamaria.com">Jason Santa Maria</a> – the other brillant designer who inspired me during early days of my career.</figcaption>
          </figure>
        </section>
            
        


        {% for list in site.data.about.me %}
        <section class="c-section__content" data-aos="fade-up">
          <h3>{{ list.title }}</h3>
          <p>{{ list.copy }}</p>
        </section>
        {% endfor %}
    </section>
    




    <!--<section class="c-section l-grid l-grid--section">
      <h2 class="c-section__heading">About this website</h2>
      
       <section class="c-section__content">
          <h3>About this website</h3>
          <p>This website is online home of Amrinder where he shares his learnings, reading and work. Amrinder has used number 5 to design various parts of this website:</p>

          <ul class="o-list--bullet">
            <li>I’ve redesigned this website after 10 years in 2020.</li>

            <li>This site uses grid with 10 columns of 100px with gutter of 25px and max width of 1250px.</li>
              
            <li>The typographic scale used is of perfect fifth ratio and 5 type sizes.</li>
              
            <li>It is using 5 basic colors, and 5 light and bright theme colors each.</li>

             <li>It has 5 main sections (Home, Work, Books, About, and Contact).</li>
          </ul>
        </section> -->
</main>


<!-- <footer><button>Look ma, no footer!</button></footer> -->