---
layout: default
title: Amrinder Sandhu
page-class: p-about
page-heading: Hello!
page-description: Spiritual being > Human being > Father > Husband > Designer > DIYer > Player
---





{% include header.html %}





<main>      
    <!-- INTRO SECTION -->      
    {% include billboard.html %}



    <section>
        <div class="l-span_3-9">
            <p>Currently, I’m the Head of Design at <a href="https://unmetric.com">Unmetric</a>, where I have been working from day 1 and designed all the core products from scratch.</p>
            
            <p>Prior to this, I have lead design at various early-stage startups designing everything from products, websites, logos, pitch decks, newsletters, business cards and videos.</p> 
            
            <p>My clients include <strong>Intel</strong>, <a href="https://zomato.com"><strong>Zomato</strong></a>, <a href="https://grasshopper.com"><strong>Grasshopper</strong></a>, <a href="https://cibc.com"><strong>CIBC</strong></a>, <a href="https://myed.com"><strong>MyEd</strong></a>, <a href="https://proprofs.com"><strong>ProProfs</strong></a>, and <a href="https://pcl.com"><strong>PCL</strong></a>. I got job offers from <strong>Google</strong></strong>, <strong>Groupon</strong>, and <strong>Intel</strong> that I couldn’t accept because of relocation.</p>

            <p>In 2007, I graduated with a Bachelor's degree in Computer Science and Engineering. I grew up in a small village (Mishriwala) in Punjab, India. I’m based in Ancaster, Canada</p>
            
            <p>I designed my first website (about Arnold Schwarzenegger) in 2003 using Microsoft FrontPage. Before that I used to draw and paint brand logos to perfection. Later, I started playing with Photoshop which helped me later when I started designing full time in 2008.</p>

            <p>My interests includes walking, cooking, watching movies, building DIY stuff, playing cards with my kids, and <a href="journal.html">reading</a> <a href="library.html">design books</a>. I love simplicity, nature, rain, mountains, and solitude.</p>

            <p>Besides everything stated above, I’m a superhero for my kids and a hero for my wife.</p>

        </div>
    </section>        
     


    <section>    
        <div class="l-span_4 u-space_below--more">
            <h3>Capabilities</h3>

            <ul class="u-cols--two">
                <li>Interaction Design</li>

                <li>User Interface Design</li>
            
                <li>Visual Design</li>
                
                <li>Product Design</li>

                <li>Design Leadership</li>
                
                <li>Front-end Architecture</li>

                <li>User Story Mapping</li>

                <li>Journey Mapping</li>

                <li>Sketching</li>

                <li>Prototyping</li>

                <li>Usability Testing</li>

                <li>User Research</li>

                <li>Design System</li>
                
                <li>User Flows</li>

                <li>Manager of One</li>
            </ul>
        </div>

        <div class="l-span_2 u-space_below--more">
            <h3>Toolkit</h3>

            <ul>
                <li>Moleskine</li>

                <li>Post It Notes</li>

                <li>Whiteboard</li>

                <li>Miro</li>
            
                <li>Figma</li>

                <li>Visual Studio</li>

                <li>Sketch</li>

                <li>Balsamiq</li>
            </ul>
        </div>


        <div class="l-span_2 u-space_below--more">
            <h3>Elsewhere</h3>

            <ul>
              <li><a href="https://twitter.com/anaami">Twitter</a></li>
              
              <li><a href="https://www.linkedin.com/in/amrindersandhu/">LinkedIn</a></li>
              
              <li><a href="https://github.com/amrindersandhu">GitHub</a></li>
              
              <li><a href="https://dribbble.com/amrinder">Dribbble</a></li>
            </ul>
        </div>

    </section>
    
</main>





{% include footer.html %}