---
layout: default
title: Amrinder Sandhu
page-class: p-books
page-heading: Books
page-description: Whenever I start working on something new or need to understand something better, I’d read a book on the subject.
---


{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}

    <!-- BOOKS -->
    <section class="c-section js-filtersWrapper">
        <section class="c-section__col">
            <h4>Filter by</h4>

            <ul class="c-section__nav">

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-all-items">All</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="branding">Branding</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="biz">Business &amp; Strategy</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="colors">Colors</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="content">Content Strategy</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="data">Data Visualization</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="process">Design Process &amp; Principles</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="frontend">Front-end Development</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="graphics">Graphic Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="ia">Information Architecture</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="id">Interaction Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="productivity">Productivity</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="pd">Product Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="pm">Product Management</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="psy">Psychology</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="type">Typography</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="usability">Usability</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="ux">User Experience</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="ur">User Research</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="web">Web and Mobile Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link js-filter" id="misc">Miscellaneous</a>
                </li>
            </ul>

            
        </section>





        <section class="c-section__content" data-aos="fade-up">
            {% for book in site.data.books %}
                {% if forloop.first %}<ul class="o-list--bullet c-books_list">{% endif %}
                <li class="c-books_list_item" aria-labelledby="{{ book.category }}">
                    <a class="c-book_link" href="{{ book.url }}" target="_blank">
                        <img class="c-book_cover" loading="lazy" src="assets/i/books/{{ book.src }}"/>

                        <div class="c-book_meta">
                            <h4 class="c-book_title">{{ book.name }}</h4>
                        
                            <span class="c-book_author" >{{ book.author }}</span>
                        </div>
                    </a>
                </li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}              
        </section>




        
    </section>    

    
</main>    