---
layout: default
title: Amrinder Sandhu
page-class: p-books
page-heading: Books
page-description: Whenever I start working on something new or need to understand something better, I’d read a book on the subject.
---


{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}

    <!-- BOOKS -->
    <section class="c-section">
        <!-- <section class="c-section__col c-section__col--nav">
            <h4>Filter by</h4>

            <ul class="c-section__nav">
                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Branding</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Business &amp; Strategy</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Colors</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link is_active">Content Strategy</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Data Visualization</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Design Process &amp; Principles</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Front-end Development</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Graphic Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Information Architecture</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Interaction Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Productivity</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Product Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Product Management</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Psychology</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Typography</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Usability</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">User Experience</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Web and Mobile Design</a>
                </li>

                <li class="c-section__nav_item">
                    <a class="c-section__nav_link">Miscellaneous</a>
                </li>
            </ul>

            
        </section> -->





        <section class="c-section__content" data-aos="fade-up">
            {% for book in site.data.books %}
                {% if forloop.first %}<ul class="o-list--bullet c-books_list">{% endif %}
                <li aria-labelledby="{{ book.category }}">
                    <a class="c-book_link" href="{{ book.url }}" target="_blank">
                        <img class="c-book_cover" loading="lazy" src="assets/i/books/{{ book.src }}"/>

                        <div class="c-book_meta">
                            <h4 class="c-book_title">{{ book.name }}</h4>
                        
                            <small class="c-book_author" >{{ book.author }}</small>
                        </div>
                    </a>
                </li>
                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}              
        </section>




        
    </section>    

    
</main>    