---
layout: default
title: Case Study – DatePicker
page-class: p-cs
page-heading: DatePicker
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section class="u-space_below--most">
        <div class="l-span_3-8">
            <h1>Redesigning the most used UI component using the most sophisticated design tool – data.</h1>
        </div>    
    </section>
      



    
    <!-- PROBLEM SECTION -->
    <section>
        <h2 class="l-span_2">Problem</h2>


        <div class="l-span_6">
            <p>Our senior account manager pinged me for the second time, “Can we fix the date-picker?”. I have been postponing it for a few months as the existing date-picker was working fine but there was definitely a room for improvement. (Is there anything, expect things not designed by humans, where this is not the case?) Here’s what she wrote:</p> 
            
            <blockquote>
                <p>“Amrinder having a huge problem with the date picker and the “custom” time period. Having to click through the months when I want to do a whole year or more is too many clicks. Also when using the picker, having the start date same and changing the end date is near impossible. Any chance we can go back to the old way where we could manually input year if we needed?”</p>
                <footer>&mdash; Our account manager on Slack </footer>
            </blockquote>

            <p>I promised to look into it the following week, and keep her posted.</p>
        </div>
    </section>




    <!-- PROCESS SECTION -->
    <section>
        <h2 class="l-span_2">Process</h2>
        

        <div class="l-span_6">
            <h3>What’s wrong with the existing datepicker</h3>

            <p class="l-span_4">The existing date-picker doesn’t allow you to input dates. One can only click her way to select a date range. We have 1-click selections for last 7 days, last week, last month, and last 30 days but to select any particular month or other time periods such as last two quarters, and one or more years users have to click on the calendar’s previous/next navigation buttons multiple times. It was simple and error free way of selecting a date range.</p>

            
        </div>


        <figure class="l-grid_of_8 c-sshot--wrapped">
            <img class="l-span_6" src="/assets/i/sshots/cs-dp-old.png" alt="DatePicker Old Design"/>

            <figcaption class="l-span_2">The old datepicker with two separate start and end date calendars. It allowed only click based selections. Users had to click multiple times but it was intuitive and error free solution.</figcaption>
        </figure>


        <div class="l-span_3-9">
            <p>This was not a feature request, it didn’t come from R&D team or our CEO or sales or marketing. This came from one of our account managers. To verify this, I reached out to a few other Account Managers and asked if they received any comments/feedback on the date-picker.</p> 

            <h3>Let’s study the usage data</h3>

            <p>After they confirmed, I decided to look at the usage data. One of our front-end developer who mostly worked with me agreed to participate in the research. She reached out to one of our developers and collected date-picker usage data for the last 8 months.</p> 

            <p>We posted our research on Slack to encourage others. This was a prime example showcasing how data can help learn more about the problem and assist in designing a better solution. </p> 
        </div>


        <div class="l-grid_of_8">
            <p class="l-span_2 c-caption">An indepth <a href="https://docs.google.com/gview?url=http://amrindersandhu.com/assets/pdfs/datepicker-analysis.pdf&embedded=true&toolbar=0" target="_blank">data analysis report I shared</a> on Slack. It took us two weeks to collect and analyze the data and come up with an analysis.</p>

            <iframe class="c-dp_analysis l-span_6 u-space_below" src="http://docs.google.com/gview?url=http://amrindersandhu.com/assets/pdfs/datepicker-analysis.pdf&embedded=true&toolbar=0"></iframe>
        </div>
    </section>




    <!-- SOLUTION SECTION -->
    <section>
        <h2 class="l-span_2">Solution</h2>
        

        <div class="l-span_6">
            <h3>Ideation</h3>

            <p>Using these insights we decided to break the date-picker in three sections:</p>

            <ol class="o-list--ordered">
                <li>A drop-down with list of most frequently used options</li>

                <li>An extended drop-down, where first tab is editable date inputs</li>

                <li>Second tab with ability to quickly select months, quarters, and years</li>
            </ol>
        </div>

        
        <figure class="l-grid_of_8 c-sshot--wrapped">
            <img class="l-span_6" src="/assets/i/photos/sketch-datepicker.png" alt="DatePicker sketches"/>

            <figcaption class="l-span_2">Sketches of all three sections of the new datepicker with a couple of variations.</figcaption>
        </figure>
        

        <div class="l-span_3-9">
            <h3>Implementation</h3>

            <p>I shared these sketches with our dev lead to get his input on efforts and time it would take to build. He suggested we break it down into two releases as the second tab was a unique UI, something the JS library they were exploring didn’t support.</p>
        </div>


        <div class="l-grid_of_8 c-sshot--wrapped">
            <!-- <img class="l-span_full" src="/assets/i/sshots/cs-dp-new-v2.png" alt="DatePicker V2"/> -->

            <iframe class="c-dp_prototype l-span_6" style="border: none;" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FRFzANidcL0o0khVI0bFPMs%2FScreenshots%3Fnode-id%3D1%253A101%26viewport%3D2118%252C567%252C0.4292687773704529%26scaling%3Dmin-zoom" allowfullscreen></iframe>

            <figcaption class="l-span_2">The new datepicker design with editable date inputs, an easy and innovative way to jump to previous months in one click, and select multiple months and quarters.</figcaption>
        </div>


        <div class="l-grid_of_8  c-sshot--wrapped">
            <img class="l-span_6" src="/assets/i/sshots/cs-dp-months_view-alt.png" alt="DatePicker alternate months view"/>

            <figcaption class="l-span_2 l-grid_flip_order">The alternate direction I tried for the months’ view. In this design, it is easier to select months within the same year. However, there is more cognitive load when date range spans two or more years.</figcaption>
        </div>



    </section>





    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">What I Learned</h2>


        <div class="l-span_3-9">
            <ul class="o-list--bullet">
                <li>Encourage AMs to actively share user problems, feedback and requests</li>
                
                <li>Use quantitative data more often</li>
                
                <li>Dig deeper to pull insights</li>

                <li>People are ready to step up if given opportunity</li>
            </ul>
        </div>
    </section>



    <hr class="u-space_below--most"/>




    <!-- MORE CASE STUDIES -->
    <section class="u-space_below--most">
        <div class="l-span_4 l-grid_of_4">
            <h2 class="l-span_2">More Case Studies</h2>
        </div>


        {% for entry in site.data.work.case-study %}
            {% if entry.status == "active" %}
                {% if entry.page-title != "Case Study – DatePicker" %}
                    <div class="c-media {{ entry.class }} l-span_4 u-space_below">
                        <a href="{{ entry.link }}">
                            <div class="c-media__info">
                                <p>{{ entry.title }}</p>

                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                    <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                                        <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                                    </g>
                                </svg>
                            </div>

                            <img src="{{ entry.src }}" alt="Cover for QAS case study"/>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>





    <hr class="u-space_below--most"/>





    <!-- PROJECTS SECTION -->
    <section class="u-space_below--most">
        <h2 class="l-span_2 u-space_above">Selected <i class="u-break_line--hd"></i>Projects</h2>
        

        <div class="l-span_6 l-grid_of_6">
            {% for entry in site.data.work.project %}
                <div class="c-media c-media--prj u-space_below {{ entry.class }}">
                    <a href="{{ entry.link }}">
                        <div class="c-media__info">
                            <p>{{ entry.title }}</p>

                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                                    <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                                </g>
                            </svg>
                        </div>


                        <img src="{{ entry.img }}" alt="Cover for Integration project"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    

</main>




{% include footer.html %}