---
layout: default
title: Case Study – DatePicker
page-class: p-cs
page-heading: DatePicker
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section>
        <h1 class="l-span_3-8 u-space_below--more">Redesigning the most used UI component using the most sophisticated design tool – data.</h1>  


        <!-- <p class="l-span_2">Jun – Sep 2019</p> -->


        <p class="l-span_3-9 u-space_below--more">In Analyze date-picker, we intentionally didn’t allow entering the start and end dates, believing it will prevent users from making errors. But users were facing issues because of our choice, so I decided to fix it. Apart from offering the editable date inputs, we also provided better ways of selecting dates and months faster.</p>


        <figure class="l-span_full c-sshot--wrapped">
            <img data-src="/assets/i/sshots/cs-dp-teaser.png" alt="DatePicker Teaser"/>

            <figcaption class="is-below">Three components of the new date picker: frequent selections drop-down, months selector, and dates selector.</figcaption>
        </figure>
    </section>
      



    
    <!-- ROLE -->
    <section>
        <h2 class="l-span_2">Role</h2>

        <p class="l-span_3-9">In this project, I worked closely with one of our front-end developers, two backend developers, and a dev lead. Here’s exactly what I did:</p>

        <ul class="l-span_3-9 o-list--bullet u-cols--two">
            <li>Research</li>

            <li>UI/UX Design</li>

            <li>Usability Testing</li>

            <li>Project Management</li>
        </ul>
    </section>






    <!-- CONSTRAINT -->
    <section>
        <h2 class="l-span_2">Constraints</h2>

        <ul class="l-span_3-9 o-list--bullet">
            <li>The engineering team was always busy fixing data-related bugs and building the features requested by clients. The dev leads saw the date-picker improvement as an unimportant task with a lower priority. It took me some time and effort, and the help of our account manager to convince them before we could start the development.</li>

            <li>The third-party JS library our engineering team decided to use for date-picker didn’t offer everything we needed. I didn’t want to compromise the UX, so I had our front-end developer look into the JS library. She worked closely with the backend developer and successfully created the missing functionality.</li>
        </ul>
    </section>





    <!-- PROBLEM SECTION -->
    <section>
        <h2 class="l-span_2">Problem</h2>


        <div class="l-span_6">
            <p>Our senior account manager pinged me for the second time, “Can we fix the date-picker?”. I have been postponing it for a few months as the existing date-picker was working fine, but there was definitely room for improvement. (Is there anything, expect things not designed by humans, where this is not the case?) Here’s what she wrote:</p> 
            
            <blockquote>
                <p>“Amrinder, I’m having a huge problem with the date picker and the “custom” time period. Having to click through the months when I want to do a whole year or more is too many clicks. Also, when using the picker, having the start date same and changing the end date is near impossible. Any chance we can go back to the old way where we could manually input year if we needed?”</p>
                <footer>&mdash; Our account manager on Slack </footer>
            </blockquote>

            <p>I promised to look into it the following week and keep her posted.</p>
        </div>
    </section>




    <!-- PROCESS SECTION -->
    <section>
        <h2 class="l-span_2">Process</h2>
        

        <div class="l-span_6">
            <h3>What’s wrong with the existing date-picker</h3>

            <p class="l-span_4">The existing date-picker doesn’t allow you to input dates. One can only click to select a date range. We have 1-click selections for the last seven days, last week, last month, and last 30 days. However, to select any particular month or other periods, such as the last two quarters and one or more years, users have to click on the calendar’s previous/next navigation buttons multiple times. It was a simple and error-free way of selecting a date range.</p>

            
        </div>


        <figure class="l-grid_of_8 c-sshot--wrapped">
            <img class="l-span_6" data-src="/assets/i/sshots/cs-dp-old.png" alt="DatePicker Old Design"/>

            <figcaption class="l-span_2">The old date-picker with two separate start and end date calendars. It allowed only click-based selections. Users had to click multiple times, but it was an intuitive and error-free solution.</figcaption>
        </figure>


        <p class="l-span_3-9">This was not a feature request; it didn’t come from the R&D team or our CEO or sales or marketing. This came from one of our account managers. To verify this, I reached out to a few other Account Managers and asked if they received any comments/feedback on the date-picker.</p> 


        <div class="l-span_3-9 l-grid_of_6 u-space_below">
            <div class="l-span_4 u-pad_right--30">
                <h3>Let’s study the usage data</h3>

                <p>After they confirmed, I decided to look at the usage data. One of our front-end developers, who mostly worked with me, agreed to participate in the research. She reached out to one of our developers and collected date-picker usage data for the last eight months.</p> 

                <p>We posted our research on Slack to encourage others. This was a prime example showcasing how data can help learn more about the problem and assist in designing a better solution. </p> 
            </div>

            <figure class="l-span_2 u-pad_right--30">
                <img data-src="assets/i/books/lean_analytics.jpg" alt="Lean Analytics book cover"/>

                <figcaption>Great book on usage data analysis. <a href="/library.html"> See other books in my library</a></figcaption>
            </figure>
        </div>


        <figure class="l-grid_of_8 c-sshot--wrapped">
            <img class="l-span_full" data-src="/assets/i/sshots/cs-dp-excel.png" alt="DatePicker raw data"/>

            <figcaption class="l-span_4 is-below">A Google Sheet with usage data for eight months.</figcaption>
        </figure>


        <div class="l-grid_of_8">
            <p class="l-span_2 c-caption">An indepth <a href="https://amrindersandhu.com/assets/pdfs/datepicker-analysis.pdf" target="_blank">data analysis report I shared</a> on Slack. It took us two weeks to collect and analyze the data and come up with an analysis.</p>

            <!-- <iframe class="c-dp_analysis l-span_6 u-space_below" src="./assets/pdfs/datepicker-analysis.pdf"></iframe> -->

            <iframe class="scribd_iframe_embed c-dp_analysis l-span_6 u-space_below" title="Date-picker Analysis" src="https://www.scribd.com/embeds/455635263/content?start_page=1&view_mode=scroll&access_key=key-VbzLU2tzhQx1GQdVVY6E" data-auto-height="true" data-aspect-ratio="0.75" scrolling="no" id="doc_12164" width="null" height="null" frameborder="0"></iframe><script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>
        </div>
    </section>




    <!-- SOLUTION SECTION -->
    <section>
        <h2 class="l-span_2">Solution</h2>
        

        <div class="l-span_6">
            <h3>Ideation</h3>

            <p>Using these insights, we decided to break the date-picker in three sections:</p>

            <ol class="o-list--ordered">
                <li>A drop-down with a list of most frequently used options.</li>

                <li>An extended drop-down, where the first section is editable date inputs.</li>

                <li>Second section with the ability to quickly select months, quarters, and years.</li>
            </ol>
        </div>

        
        <figure class="l-grid_of_8 c-sshot--wrapped">
            <img class="l-span_6" data-src="/assets/i/photos/sketch-datepicker.png" alt="DatePicker sketches"/>

            <figcaption class="l-span_2">Sketches of all three sections of the new date-picker with a couple of variations.</figcaption>
        </figure>
        

        <div class="l-span_3-9">
            <h3>Implementation</h3>

            <p>I shared these sketches with our dev lead for getting his input on the efforts and time it would take to build. He suggested we break it down into two releases as the second tab was a unique UI, something the JS library they were exploring didn’t support.</p>
        </div>


        <div class="l-grid_of_8 c-sshot--wrapped">
            <!-- <img class="l-span_full" data-src="/assets/i/sshots/cs-dp-new-v2.png" alt="DatePicker V2"/> -->

            <iframe class="c-dp_prototype l-span_6" style="border: none;" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FRFzANidcL0o0khVI0bFPMs%2FScreenshots%3Fnode-id%3D1%253A101%26viewport%3D2118%252C567%252C0.4292687773704529%26scaling%3Dmin-zoom" allowfullscreen></iframe>

            <figcaption class="l-span_2">The new date-picker design with editable date inputs, an easy and innovative way to jump to previous months in one click, and select multiple months and quarters.</figcaption>
        </div>


        <div class="l-grid_of_8  c-sshot--wrapped">
            <img class="l-span_6" data-src="/assets/i/sshots/cs-dp-months_view-alt.png" alt="DatePicker alternate months view"/>

            <figcaption class="l-span_2 l-grid_flip_order">The alternate direction I tried for the months’ view. In this design, it is easier to select months within the same year. However, there is more cognitive load when the date range spans two or more years.</figcaption>
        </div>



    </section>




    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">Outcomes</h2>


        <div class="l-span_3-9">
            <p>We analyzed data from Sep 1 to Dec 31, 2019 and found:</p>
            <ul class="o-list--bullet">
                <li>Last month selection went up from 8% to 23%</li>

                <li>Last quater selections were 8%</li>
                
                <li>Last 30 days remained same at 5%</li>

                <li>Custom date selection came down from 85% to 43%</li>
                
            </ul>
        </div>
    </section>



    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">What I Learned</h2>


        <div class="l-span_3-9">
            <ul class="o-list--bullet">
                <li>Encourage account managers to actively share user problems and feedback</li>
                
                <li>Quantitative data can be beneficial to make design decisions</li>
                
                <li>Spending focused time and effort can yield valuable insights</li>

                <li>People are ready to step up and take responsibilities if given an opportunity</li>
            </ul>
        </div>
    </section>



    <hr class="u-space_below--most"/>





    <!-- MORE -->
    <section class="u-space_below--most">
        <h1 class="l-span_1 u-space_below--most">More Projects</h1>



        {% for entry in site.data.work %}
            {% if entry.status == "active" %}
                {% if entry.page-title != "Case Study – DatePicker" %}
                    <div class="c-media {{ entry.class }} l-span_full u-space_below--most">
                        <a class="l-grid_of_8" href="{{ entry.link }}">
                            <div class="c-media__info l-span_3">
                                <h2>{{ entry.title }}</h2>
        
                                <p>{{ entry.desc }}</p>
        
                                <span>{{ entry.cta }}</span>
                            </div>
        
                            <img class="l-span_5-9" data-src="{{ entry.src }}" alt="{{ entry.alt }}"/>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
</main>




{% include footer.html %}