---
layout: default
title: Case Study – DatePicker
page-class: p-cs
page-heading: DatePicker
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section>
        <h1 class="l-span_4-9 u-space_below--more">Redesigning the most used UI component using the most sophisticated design tool – data.</h1>  


        <p class="l-span_4-10 u-space_below--more">In Analyze date-picker, we intentionally didn’t allow entering the start and end dates, believing it will prevent users from making errors. But users were facing issues because of our choice, so I decided to fix it. Apart from offering the editable date inputs, we also provided better ways of selecting dates and months faster.</p>


        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/cs-dp-teaser.png" alt="DatePicker Teaser"/>

            <figcaption class="is-below">Three components of the new date picker: frequent selections drop-down, months selector, and dates selector.</figcaption>
        </figure>
    </section>
      



    
    <!-- ROLE -->
    <section>
        <div class="l-span_3 u-space_below">
            <h2>My Role</h2>

            <ul>
                <li>Research</li>

                <li>Data Analysis</li>

                <li>Project Management</li>

                <li>UI/UX</li>

                <li>Usability Testing</li>
            </ul>
        </div>


        <div class="l-span_2 u-space_below">
            <h2>Team</h2>

            <ul>
                <li>Dev Lead</li>
                
                <li>Two Backend Devs</li>

                <li>Front-end Dev</li>

                <li>Myself</li>
            </ul>
        </div>


        <div class="l-span_2 u-space_below">
            <h2>Tools</h2>

            <ul>
                <li>Usage Data</li>

                <li>Google Sheets</li>

                <li>Moleskine</li>

                <li>Keynote</li>
                
                <li>Figma</li>
            </ul>
        </div>


        <div class="l-span_2">
            <h2>Timeline</h2>

            <ul>
                <li>Three months</li>

                <li>Jun–Aug 2019</li>

                <li>Two releases</li>
            </ul>
        </div>
    </section>






    <!-- CONSTRAINT -->
    <section>
        <h2 class="l-span_2">Constraints</h2>

        <ul class="l-span_4-10 o-list--bullet">
            <li>The engineering team was always busy fixing data-related bugs and building the features requested by clients. The dev leads saw the date-picker improvement as an unimportant task with a lower priority. It took me some time and effort, and the help of our account manager to convince them before we could start the development.</li>

            <li>The third-party JS library our engineering team decided to use for date-picker didn’t offer everything we needed. I didn’t want to compromise the UX, so I had our front-end developer look into the JS library. She worked closely with the backend developer and successfully created the missing functionality.</li>
        </ul>
    </section>





    <!-- PROBLEM SECTION -->
    <section>
        <h2 class="l-span_3">Problem</h2>


        <div class="l-span_6">
            <p>Our senior account manager pinged me for the second time, “Can we fix the date-picker?”. I have been postponing it for a few months as the existing date-picker was working fine, but there was definitely room for improvement. (Is there anything, expect things not designed by humans, where this is not the case?) Here’s what she wrote:</p> 
            
            <blockquote>
                <p>“Amrinder, I’m having a huge problem with the date picker and the “custom” time period. Having to click through the months when I want to do a whole year or more is too many clicks. Also, when using the picker, having the start date same and changing the end date is near impossible. Any chance we can go back to the old way where we could manually input year if we needed?”</p>
                <footer>&mdash; Our account manager on Slack </footer>
            </blockquote>

            <p>I promised to look into it the following week and keep her posted.</p>
        </div>
    </section>




    <!-- PROCESS SECTION -->
    <section>
        <h2 class="l-span_3">Process</h2>
        

        <div class="l-span_6">
            <h3>What’s wrong with the existing date-picker</h3>

            <p class="l-span_4">The existing date-picker doesn’t allow you to input dates. One can only click to select a date range. We have 1-click selections for the last seven days, last week, last month, and last 30 days. However, to select any particular month or other periods, such as the last two quarters and one or more years, users have to click on the calendar’s previous/next navigation buttons multiple times. It was a simple and error-free way of selecting a date range.</p>

            
        </div>


        <figure class="l-grid_of_9 c-sshot--wrapped">
            <img class="l-span_7" src="/assets/i/sshots/cs-dp-old.png" alt="DatePicker Old Design"/>

            <figcaption class="l-span_2">The old date-picker with two separate start and end date calendars. It allowed only click-based selections. Users had to click multiple times, but it was an intuitive and error-free solution.</figcaption>
        </figure>


        <p class="l-span_4-10">This was not a feature request; it didn’t come from the R&D team or our CEO or sales or marketing. This came from one of our account managers. To verify this, I reached out to a few other Account Managers and asked if they received any comments/feedback on the date-picker.</p> 


        <div class="l-span_4-10 l-grid_of_6 u-space_below">
            <div class="l-span_4 u-pad_right--30">
                <h3>Let’s study the usage data</h3>

                <p>After they confirmed, I decided to look at the usage data. One of our front-end developers, who mostly worked with me, agreed to participate in the research. She reached out to one of our developers and collected date-picker usage data for the last eight months.</p> 

                <p>We posted our research on Slack to encourage others. This was a prime example showcasing how data can help learn more about the problem and assist in designing a better solution. </p> 
            </div>

            <figure class="l-span_2 u-pad_right--30">
                <img src="assets/i/books/lean_analytics.jpg" alt="Lean Analytics book cover"/>

                <figcaption>Great book on usage data analysis. <a href="/library.html"> See other books in my library</a></figcaption>
            </figure>
        </div>


        <figure class="l-grid_of_9 c-sshot--wrapped">
            <img class="l-span_full" src="/assets/i/sshots/cs-dp-excel.png" alt="DatePicker raw data"/>

            <figcaption class="l-span_4 is-below">A Google Sheet with usage data for eight months.</figcaption>
        </figure>


        <div class="l-grid_of_9 c-sshot--wrapped">
            <p class="l-span_full c-caption u-space_below">An indepth <a href="https://amrindersandhu.com/assets/pdfs/datepicker-analysis.pdf" target="_blank">data analysis report I shared</a> on Slack.</p>

            <img class="l-span_3 u-space_below" src="/assets/i/sshots/dp-report-1.png" alt="DatePicker report page 1"/>

            <img class="l-span_3 u-space_below" src="/assets/i/sshots/dp-report-2.png" alt="DatePicker report page 2"/>

            <img class="l-span_3 u-space_below" src="/assets/i/sshots/dp-report-3.png" alt="DatePicker report page 3"/>

            <img class="l-span_3" src="/assets/i/sshots/dp-report-4.png" alt="DatePicker report page 4"/>

            <img class="l-span_3 u-space_above--mob" src="/assets/i/sshots/dp-report-5.png" alt="DatePicker report page 5"/>

            <img class="l-span_3 u-space_above--mob" src="/assets/i/sshots/dp-report-6.png" alt="DatePicker report page 6"/>
        </div>
    </section>




    <!-- SOLUTION SECTION -->
    <section>
        <h2 class="l-span_3">Solution</h2>
        

        <div class="l-span_6">
            <h3>Ideation</h3>

            <p>Using these insights, we decided to break the date-picker in three sections:</p>

            <ol class="o-list--ordered">
                <li>A drop-down with a list of most frequently used options.</li>

                <li>An extended drop-down, where the first section is editable date inputs.</li>

                <li>Second section with the ability to quickly select months, quarters, and years.</li>
            </ol>
        </div>

        
        <figure class="l-grid_of_6 l-span_4-10 c-sshot--wrapped">
            <img class="l-span_6" src="/assets/i/photos/sketch-datepicker.png" alt="DatePicker sketches"/>

            <figcaption class="l-span_full is-below">Sketches of all three sections of the new date-picker with a couple of variations.</figcaption>
        </figure>
        

        <div class="l-span_4-10">
            <h3>Implementation</h3>

            <p>I shared these sketches with our dev lead for getting his input on the efforts and time it would take to build. He suggested we break it down into two releases as the second tab was a unique UI, something the JS library they were exploring didn’t support.</p>
        </div>


        <div class="l-span_4-10">
            <h3>Final Designs</h3>

            <p>Here are the finalized designs I created in Figma.</p>
        </div>


        <div class="l-span_full c-sshot--wrapped">
            <figure class="l-grid_of_9 u-space_below">
                <img class="l-span_6" src="/assets/i/sshots/cs-dp-view-1.png" alt="DatePicker drop-down"/>

                <figcaption class="l-span_3 l-grid_flip_order">The new date-picker design with most used time periods as default options.</figcaption>
            </figure>
            

            <figure class="l-grid_of_9 u-space_below">
                <img class="l-span_6" src="/assets/i/sshots/cs-dp-view-2.png" alt="DatePicker Dates View"/>

                <figcaption class="l-span_3 l-grid_flip_order">Dates view offer editable date inputs plus easy selection of dates. The Months bar at the bottom allows users to quickly jump between years and months in one click.</figcaption>
            </figure>


            <figure class="l-grid_of_9">
                <img class="l-span_6" src="/assets/i/sshots/cs-dp-view-3.png" alt="DatePicker Months View"/>

                <figcaption class="l-span_3 l-grid_flip_order">Super easy way to select multiple months and quarters along with one click actions to do the same.</figcaption>
            </figure>
        </div>


        <figure class="l-span_4-10 l-grid_of_6 c-sshot--wrapped">
            <img class="l-span_4 u-space_above--mob" src="/assets/i/sshots/cs-dp-months_view-alt.png" alt="DatePicker alternate months view"/>

            <figcaption class="l-span_2">The alternate direction I tried for the months’ view. In this design, it is easier to select months within the same year. However, there is more cognitive load when the date range spans two or more years.</figcaption>
        </figure>



    </section>




    <!-- OUTCOMES SECTION -->
    <section>
        <h2 class="l-span_3">Outcome</h2>

            <div class="l-span_2 u-space_below">
                <p class="u-txt-t1 u-space_below--less">23%</p>

                <p class="c-caption">selected “Last Month” up from 8%. This indicates we really made things easier and faster for our users.</p>
            </div>


            <div class="l-span_2 u-space_below">
                <p class="u-txt-t1 u-space_below--less">8%</p>

                <p class="c-caption">selected the “Last quater” option which we added based on usage data. Earlier this selection would take multiple clicks.</p>
            </div>


            <div class="l-span_2 u-space_below--more">
                <p class="u-txt-t1 u-space_below--less">43%</p>

                <p class="c-caption">selected “Custom Dates” down from 85%. This indicates people started using the default options more.</p>
            </div>

            <p class="l-span_4-10">There was no change in “Last 30 days” option usage. It remained same at 4-5%.</p>
    </section>



    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">What I Learned</h2>


        <div class="l-span_4-10">
            <ul class="o-list--bullet">
                <li>Encourage account managers to actively share user problems and feedback</li>
                
                <li>Quantitative data can be beneficial to make design decisions</li>
                
                <li>Spending focused time and effort can yield valuable insights</li>

                <li>People are ready to step up and take responsibilities if given an opportunity</li>
            </ul>
        </div>
    </section>



    <hr class="u-space_below--most"/>





    <!-- MORE -->
    <section class="u-space_below--most">
        <h1 class="l-span_1 u-space_below--most">More Projects</h1>



        {% for entry in site.data.work %}
            {% if entry.page-title != "Case Study – DatePicker" %}
                <div class="c-media {{ entry.class }} l-span_full u-space_below--most">
                    <a class="l-grid_of_9" href="{{ entry.link }}">
                        <div class="c-media__info l-span_3">
                            <h2>{{ entry.title }}</h2>
    
                            <p>{{ entry.desc }}</p>
    
                            <span>{{ entry.cta }}</span>
                        </div>
    
                        <img class="l-span_6-10" src="{{ entry.src }}" alt="{{ entry.alt }}"/>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </section>
</main>




{% include footer.html %}