---
layout: default
title: Project – Discover
page-class: p-pr
page-heading: 
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section class="u-space_below--most">
        <div class="l-span_3-9">
            <h1 class="u-space_below--more">Designing the world’s largest branded content catalog: Discover</h1>

            <p>Falcon.io acquired Unmetric in October 2019 and decided to integrate Unmetric’s two core products &mdash; Analyze and Discover &mdash; into Falcon.io platform and call it Benchmark. Our team decided to split this huge integration effort into three parts.</p> 
                        
            <p>The first phase will allow new Benchmark users to access the Unmetric platform both from inside the Falcon platform by clicking the Benchmark icon in the sidebar, and also from the Unmetric sign-in screen by clicking the “Sign in with Falcon.io” single sign-on button.</p>
        </div>    
    </section>





    <section>
        <h2 class="l-span_2">What I did</h2>

        <ul class="l-span_4 u-cols--two u-space_below--more">
            <li>Discovery</li>
            
            <li>Wireframming</li>

            <li>Prototyping</li>

            <li>UI/UX</li>

            <li>User Research</li>

            <li>Icon Design</li>
            
            <li>Front-end Development</li>
        </ul>
    </section>



    <section>
        <h2 class="l-span_2">Discovery</h2>

        <p class="l-span_3-9">Our head of product shared a doc outlining product goals, specifications and MVP requirements. I got on a call with him to discuss what business outcomes we are trying to achieve and what business outcomes are we looking forward to with launching Discover. I also added assumptions we were making as a business and on users behalf. We agreed that if these assumptions are proven to be false, our product might fail. We also listed down the least amount of feature that can help our target audience to achieve their outcomes. </p>


        <div class="c-sshot--wrapped l-span_3-9 l-grid_of_6">
            <img class="l-span_3" src="/assets/i/sshots/proj-dis-ideas-doc-1.png"/>

            <img class="l-span_3" src="/assets/i/sshots/proj-dis-ideas-doc-2.png"/>
        </div>


        <p class="l-span_3-9">After outlining outcomes and assumptions for both the business and user, I initiated discussion around user needs and challenges they are facing. I asked questions around efforts they are making right now to meet their needs and get over their challenges. </p>


        <div class="c-sshot--wrapped l-span_3-9 l-grid_spl-1">
            <img class="u-space_below" src="/assets/i/sshots/proj-dis-ur-doc.png"/>

            <p class="c-caption">A press release I suggested based on <a href="https://www.quora.com/What-is-Amazons-approach-to-product-development-and-product-management" target="_blank">Amazon’s approach to product development</a> and we wrote as a team.</p>
        
            
            <img class="u-space_above" src="/assets/i/sshots/proj-dis-ur-doc-req.png"/>

            <p class="c-caption u-space_below--none u-txt-align--right">A press release I suggested based on <a href="https://www.quora.com/What-is-Amazons-approach-to-product-development-and-product-management" target="_blank">Amazon’s approach to product development</a> and we wrote as a team.</p>
        </div>
        

        <p class="l-span_3-9">After digesting all this info, I created product sections that will help content creators meet their needs, improve the efforts and streamline their workflow.</p>


        <div class="c-sshot--wrapped l-grid_of_6 l-span_3-9">
            <img class="l-span_4" src="/assets/i/sshots/proj-dis-wf-explore.png"/>

            <p class="c-caption l-span_2">One of the wireframes I created in Balsamiq to get feedback from the CEO and Head of Product</p>
        </div>


        <figure class="c-sshot--wrapped l-grid_of_8">
            <img class="l-span_full u-space_below" src="/assets/i/sshots/proj-dis-slides-prototype.png"/>

            <figcaption class="l-span_3-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, dicta labore ullam recusandae mollitia et odio temporibus quibusdam inventore quo minus iste? Totam pariatur assumenda nobis ipsum debitis eum soluta.</figcaption>
        </figure>


        <figure class="c-sshot--wrapped l-grid_of_6 l-span_3-9">
            <img class="l-span_4" src="/assets/i/sshots/proj-dis-doc-feedback-ques.png"/>

            <figcaption class="l-span_2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates unde ratione, eveniet aut, dolores consequuntur nihil modi eaque ut adipisci quos, cum est laborum quae vel sint laboriosam quia architecto!</figcaption>
        </figure>


        <figure class="c-sshot--wrapped l-grid_of_8">
            <img class="l-span_6
            " src="/assets/i/sshots/proj-dis-wf-key-overview.png"/>    

            <figcaption class="l-span_2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates unde ratione, eveniet aut, dolores consequuntur nihil modi eaque ut adipisci quos, cum est laborum quae vel sint laboriosam quia architecto!</figcaption>
        </figure>
    </section>





    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">What I Learned</h2>

        <p class="l-span_3-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vitae et quas dignissimos repellendus, expedita itaque magnam nobis accusantium eaque voluptates ducimus? Magni recusandae nulla magnam incidunt eum ex velit?</p>
    </section>





    <hr class="u-space_below--most"/>





    <!-- MORE -->
    <section>
        <h2>More Case Studies</h2>


        <div class="c-media l-span_5-9 u-space_below">
            <a href="/case-study-qas.html">
                <img src="/assets/i/sshots/cs-qas-cover.png" alt=""/>
                

                <div class="c-media__info">
                    <p>Saving months of extra work and balanced innovation with collaboration and communication.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>


        <div class="c-media l-span_4">
            <a href="/case-study-branding.html">
                <img src="/assets/i/sshots/cs-br-cover.png" alt=""/>
                

                <div class="c-media__info">
                    <p>Positioning Unmetric as a leader in social media analytics space and a premium brand.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>
    </section>
</main>




{% include footer.html %}