---
layout: default
title: Case Study – Discover
page-class: p-pr
page-heading: 
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section>
        <h1 class="l-span_3-9 u-space_below--more">Designing the world’s largest branded content catalog: Discover</h1>

        <p class="l-span_3-9 u-space_below--more">With Discover, content creators and planners explore millions of ideas for their new campaigns and content for their social media channels. It allows users to discover inspiration, find concept evidence and explore whitespaces for their brand’s content.</p> 
    
    
        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-search.png" alt="Discover search results page"/>

            <figcaption class="is-below">Discover’s search results page</figcaption>
        </figure>
    </section>





    <section>
        <h2 class="l-span_2">What I did</h2>

        <ul class="l-span_4 u-cols--two u-space_below--more">
            <li>User Research</li>
            
            <li>Wireframming</li>

            <li>Prototyping</li>

            <li>UI/UX</li>

            <li>Front-end Development</li>

            <li>Icon Design</li>
        </ul>
    </section>



    <section>
        <h2 class="l-span_2">Discover</h2>

        <p class="l-span_3-9">Discover is Unmetric’s third core product and #2 in usage/sales. I worked on it from ideation to execution with our CEO and Head of Product. The first discussion took place in October 2015 when our CEO briefed me his new idea. He explained that we have a huge amount of social data from six biggest networks, and it could be useful to look through that data and learn from history.</p>

        <p class="l-span_3-9 u-space_below--more">Content creators were our obvious target audience. Being a creator myself, I knew that finding inspiration is always tricky but a very important step in creating something new. </p>

        

        <div class="l-grid_of_8 u-space_below">
            <figure class="l-span_2 u-pad_right--30 u-align--bottom">
                <img src="assets/i/books/lean_ux.jpg" alt="Lean UX book cover"/>

                <figcaption>I learned outcomes based approad from Lean UX. <a href="/library.html"> See other books in my library</a></figcaption>
            </figure>

            <div class="l-span_6">
                <h3 class="l-span_3-9">Let’s focus on business and user outcomes</h3>


                <p class="l-span_6">After our Head of Product shared a doc outlining product goals, specifications and MVP requirements, I got on a call with him to be on the same page. After digesting everything he shared, I recommended we should rather focus on the business outcomes (we are trying to achieve) and user outcomes (that we will help users achieve).</p> 

                <p class="l-span_3-9">In addition to that, I added assumptions we were making as a business and on behalf of users. We agreed that if these assumptions are proven to be false, our product might fail. We also listed down the least amount of features that can help our target audience to achieve their outcomes.</p>
            </div>
        </div>

        

        <div class="c-sshot--wrapped l-span_3-9 l-grid_of_6">
            <img class="l-span_3" src="/assets/i/sshots/proj-dis-ideas-doc-1.png"/>

            <img class="l-span_3" src="/assets/i/sshots/proj-dis-ideas-doc-2.png"/>
        </div>

        <p class="l-span_3-6 u-pad_right--30">Next, I initiated discussion around user needs and challenges they are facing. I asked a handful of questions to understand the “Why’s”.</p>

        <figure class="l-span_3">
            <img src="/assets/i/photos/nb-dis-why.jpg" alt="A sketch of Why Discover makes sense"/>
        </figure>
    </section>



    <section>
        <h2 class="l-span_2">Define</h2>

        <p class="l-span_3-9">To build a shared understanding, I created a Google doc outlining user’s needs and challenges, efforts they were making, and their workflow. In the same doc we also wrote product vision and later on added the product architecture.</p>

        <p class="l-span_3-9">Before adding to the last section, i.e., Product architecture, I suggested our team to write a press release for Discover together. This approach is widely <a href="https://www.quora.com/What-is-Amazons-approach-to-product-development-and-product-management" target="_link">used by Amazon for product development</a>.</p>


        <div class="c-sshot--wrapped l-span_3-9 l-grid_spl-1">
            <img class="u-space_below" src="/assets/i/sshots/proj-dis-ur-doc.png"/>

            <p class="c-caption">A Google Doc outlining user needs and challenges, efforts they make and their existing workflow.</p>
        
            
            <img class="u-space_above" src="/assets/i/sshots/proj-dis-ur-doc-req.png"/>

            <p class="c-caption u-space_below--none u-txt-align--right">A press release I suggested based on <a href="https://www.quora.com/What-is-Amazons-approach-to-product-development-and-product-management" target="_blank">Amazon’s approach to product development</a> and we wrote as a team.</p>
        </div>


        <div class="l-span_3-6">
            <p>Once we listed some exciting and interesting benefits of Discover for the target audience, I started thinking about the product architecture.</p>

            <p>I listed the most common actions (find, save, annotate, and share) users would need to perform in order to move forward in their workflow of content creation.</p>

            <p>Focusing on users’ needs helped me outline what type of content and features would help them achieve outcomes they seek.</p>
        </div>

        
        <img class="l-span_3 u-space_below--more" src="/assets/i/photos/nb-dis-needs.jpg" alt="Calendar view for Topics"/>


        <p class="l-span_3-9">I came up with six main sections: </p>

        <ul class="l-span_3-9 o-list--ordered u-space_below">
            <li><strong>Homepage:</strong> A feed of content from the topics a user is following, plus, most engaging content from an industry they chose.</li>
            <li><strong>Explore:</strong> A list of topics based on the popular days and events.</li>
            <li><strong>Favorites:</strong> All the topics favorited by a user.</li>
            <li><strong>Boards:</strong> A collection of stories bookmarked by a user and her team.</li>
            <li><strong>Team: </strong>A group of teammates inside Discover who can create boards, add stories to boards and comment on them.</li>
            <li><strong>Activity:</strong> Everything done by members of a team.</li>
        </ul>


        <div class="l-grid_of_8 c-sshot--wrapped">
            <figure class="l-span_4 u-space_below">
                <img src="/assets/i/photos/nb-dis-calendar.jpg" alt="Calendar view for Topics"/>

                <figcaption class="is-below">Calendar view for Explore (later renamed to Topics)</figcaption>
            </figure>

            <figure class="l-span_4 u-space_below">
                <img src="/assets/i/photos/nb-dis-explore.jpg" alt="Explore section"/>

                <figcaption class="is-below">Explore section layout </figcaption>
            </figure>

            <figure class="l-span_4 u-space_below">
                <img src="/assets/i/photos/nb-dis-feed.jpg" alt="Calendar view for Topics"/>

                <figcaption class="is-below">Homepage feed</figcaption>
            </figure>

            <figure class="l-span_4 u-space_below">
                <img src="/assets/i/photos/nb-dis-following.jpg" alt="Explore section"/>

                <figcaption class="is-below">Followed topics functionality outlined</figcaption>
            </figure>

            <figure class="l-span_4 u-space_below">
                <img src="/assets/i/photos/nb-dis-search.jpg" alt="Explore section"/>

                <figcaption class="is-below">Search and Explore functionality outlined</figcaption>
            </figure>
        </div>
    </section>
    
    



    <section>
        <h2 class="l-span_2">Develop</h2>


        <p class="l-span_3-9">After we agreed on the product sections, I quickly created some wireframes to show our Head of Product and we finalized what features needs to be shipped first.</p>


        <div class="c-sshot--wrapped l-grid_of_6 l-span_3-9">
            <img class="l-span_4" src="/assets/i/sshots/proj-dis-wf-explore.png"/>

            <p class="c-caption l-span_2">One of the wireframes I created in Balsamiq to get feedback from the CEO and Head of Product</p>
        </div>


        <p class="l-span_3-9">Before starting with UI design and development, I created a requirements doc listing all the features, tasks and interaction. This helped development team understand what needs to be built, plus they could collaborate, ask questions and suggest ideas.</p>

        <figure class="l-span_3-9 l-grid_of_6 c-sshot--wrapped">
            <img class="l-span_4" src="/assets/i/sshots/proj-dis-requirements.png" alt="Discover Feature Requirements"/>

            <figcaption class="l-span_2">One of the many pages listing all the options (with steps) that can be offered for a user action.</figcaption>
        </figure>

        <p class="l-span_3-9">To help developers understand all the interactions, I created a very basic prototype in Google slides to show the user flow and high level interactions.</p> 

        <figure class="c-sshot--wrapped l-grid_of_8">
            <img class="l-span_full u-space_below" src="/assets/i/sshots/proj-dis-slides-prototype.png"/>

            <figcaption class="l-span_3-7">A low-fi prototype I created in Google Slides (yes, that’s not a typo) and shared with our development team.</figcaption>
        </figure>

        <p class="l-span_3-9">In order to get some validation early on, our CEO showed this prototype to a couple of choosers. I put together a brief list of questions and notes so that we can avoid leading them to answers and instead ask the right questions.</p>
    </section>
    
    



    <section>
        <h2 class="l-span_2">Deliver</h2>

        <p class="l-span_3-9">We wanted to ship Discover fast and quickly learn and iterate. The UI mockups would have taken weeks if not months. To speed things up I jumped straight into code editor and started building the UI components.</p>

        <p class="l-span_3-9">In 2 weeks, I handed off the most important and development intensive features to developers so we can work simultaneously. After three months of collaboration and development, we launched the beta version to a few existing customers. The first public version was launched after that in June 2016.</p>

        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-old.png" alt="Discover search results page V1"/>

            <figcaption class="is-below">Discover’s old search results page</figcaption>
        </figure>


        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-search.png" alt="Discover search results page"/>

            <figcaption class="is-below">Discover’s search results page</figcaption>
        </figure>


        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-board.png" alt="Discover board page"/>

            <figcaption class="is-below">A Discover board</figcaption>
        </figure>


        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-topics.png" alt="Discover topics page"/>

            <figcaption class="is-below">Explore section listing all the popular days and events a user can follow</figcaption>
        </figure>


        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-following.png" alt="Discover topics following page"/>

            <figcaption class="is-below">A followed topics page</figcaption>
        </figure>


        
            <figure class="l-span_3-9 l-grid_of_6 c-sshot--wrapped">
                <img class="l-span_5" src="/assets/i/sshots/dis-comment.png" alt="Comments modal"/>

                <figcaption class="l-span_1">Comments modal for a content piece</figcaption>
            </figure>

            <figure class="l-span_3-9 l-grid_of_6 c-sshot--wrapped">
                <img class="l-span_5" src="/assets/i/sshots/dis-board-add.png" alt="Add to a Board modal"/>

                <figcaption class="l-span_1 l-grid_flip_order">Add to a Board modal</figcaption>
            </figure>
    </section>




    <section>
        <h2 class="l-span_2">Iterate</h2>
        
        <p class="l-span_3-9">Within a month after launch, we collected both qualitative and quantitative data to understand what’s working and what’s not, and why. I participated in the user interviews (with Unilever, Wunderman, and DFW) with our CEO and Head of Product.</p> 

        <p class="l-span_3-9">Based on the feedback, I created hi-fi prototype in Invision which we showed to the customers. After validation from customers, we shipped V2. The homepage feed was replaced with search (as 80% of the users were using search and only ~5% were looking at feed). We also improved search results page to show more content upfront along with a list of profiles posting it.</p>


        <figure class="l-span_8 c-sshot--wrapped">
            <img src="/assets/i/sshots/dis-home-new.png" alt="Revised homepage"/>

            <figcaption class="is-below">Revised Homepage with focus on search</figcaption>
        </figure>
    </section>





    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">What I Learned</h2>

        <ul class="o-list--bullet l-span_3-9">
            <li><strong>Skipping the mockups</strong> can really speed things up. After sketching and creating prototypes, I had a fair idea on what’s required to be built. Since I was already handling the front-end for Analyze (Unmetric’s flagship product), it took me couple of days to setup the front-end foundation. After ten days of continuous coding, I delivered the first batch of UI components to our development team and kept working on lower priority stuff simultaneously.</li>

            <li><strong>Build to learn:</strong> I now believe we could have started with less and could have focused more on feedback. Instead, we went for a more complete solution (like Boards, Activity, etc.). The ability to search with filters could have been enough to learn and collect feedback, and we would have saved resources and shipped faster.</li>
        </ul>
    </section>





    <hr class="u-space_below--most"/>




    
 
    <!-- MORE -->
    <section class="u-space_below--most">
        <div class="l-span_4 l-grid_of_4">
            <h2 class="l-span_1">More Case Studies</h2>
        </div>


        {% for entry in site.data.work.case-study %}
            {% if entry.status == "active" %}
                {% if entry.page-title != "Case Study – Quick Access Sidebar and Outliers" %}
                    <div class="c-media {{ entry.class }} l-span_4 u-space_below">
                        <a href="{{ entry.link }}">
                            <div class="c-media__info">
                                <p>{{ entry.title }}</p>

                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                    <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                                        <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                                    </g>
                                </svg>
                            </div>

                            <img src="{{ entry.src }}" alt="Cover for QAS case study"/>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>





    <hr class="u-space_below--most"/>


    



    <!-- PROJECTS SECTION -->
    <section class="u-space_below--most">
        <h2 class="l-span_2 u-space_above">Selected <i class="u-break_line--hd"></i>Projects</h2>
        

        <div class="l-span_6 l-grid_of_6">
            {% for entry in site.data.work.project %}
                <div class="c-media c-media--prj u-space_below {{ entry.class }}">
                    <a href="{{ entry.link }}">
                        <div class="c-media__info">
                            <p>{{ entry.title }}</p>

                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                                    <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                                </g>
                            </svg>
                        </div>


                        <img src="{{ entry.img }}" alt="Cover for Integration project"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>




    <hr class="u-space_below--most"/>
</main>




{% include footer.html %}