---
layout: default
title: Amrinder Sandhu
page-class: p-contributions
page-heading: Hello!
page-description: For 12 years, Amrinder has lead design at startups to help achieve business outcomes, create memorable experiences, and build products that people love.
---





{% include header.html %}





<main>      
    <!-- INTRO SECTION -->      
    <section class="u-space_below--most">
        <div class="l-span_3-9">
            <h1 class="u-space_below">For 12 years, I’ve led design at startups to help achieve business outcomes by creating experiences and products that people love.</h1>
        </div>

        <div class="l-span_3-8">
            <p>Currently, I am the Head of Design at <a href="https://unmetric.com" target="_blank">Unmetric</a> (acquired by Cision). <i class="u-break_line--hd"></i>From day one, I designed all three core products used by customers<i class="u-break_line--hd"></i> like Coca-Cola, Unilever, General Motors, and Accenture.</p>
        </div> 
    </section>




    <!-- CONTRIBUTION SECTION -->
    <!-- <section>
        <h2 class="l-span_2">Contributions</h2>

        <div class="l-span_3-9">
            <p>During the last ten years at <a href="https://unmetric.com" target="_blank"><strong>Unmetric</strong></a>, I wore many hats. I introduced processes (Retrospectives), practices (JTBD), tools (Slack, ), and frameworks (OKRs) to help the team … Here are some of my contributions to the different fields:</p>
        </div>


        <div class="l-span_3-9">
            <h3>User Experience</h3>

            <ul class="o-list--bullet">
                <li>Initiated a handful of projects to improve user experience for Analyze.</li>

                <li>Worked closely with Head of Customer Success to launch life cycle emails.</li>

                <li>Kickstarted in-app onboarding project with our customer success team.</li>

                <li>Oversaw all products UX from ideation to launch plus ongoing iterations.</li>
            </ul>
        </div>


        <div class="l-span_3-9">
            <h3>User Research</h3>

            <ul class="o-list--bullet">
                <li>Successfully assembled a team to JTBD research with the help of our CEO.</li>

                <li>Created a JTBD Slack channel to share resources, ideas and have conversations.</li>

                <li>Initiated talks and setup team meeting with JTBD leader Alan Klament.</li>

                <li>Created user interviews field guide for our CEO and Head of User Research.</li>
            </ul>
        </div>


        <div class="l-span_3-9">
            <h3>Hands-on Design</h3>

            <ul class="o-list--bullet">
                <li>Built all three core products, from ideation to implementation.</li>

                <li>Designed UI/UX for all the features of the core product Analyze for ten years.</li>

                <li>Created prototypes, wireframes, user flows, and MVPs to validate product ideas.</li>

                <li>Designed the website, blog, collateral, newsletters, and pitch decks.</li>

                <li>Wrote front-end code for all core products and website for 8 years.</li>
            </ul>
        </div>



        <div class="l-span_3-9">
            <h3>Usability Testing</h3>

            <ul class="o-list--bullet">
                <li>Introduced, organized and led usability testing.</li>

                <li>Helped conduct multiple usability tests both with customers and teammates.</li>

                <li>Wrote a field guide with how-tos and regularly shared best practices.</li>

                <li>Wrote test cases for multiple features to get quality feedback.</li>

                <li>Analyzed usability testing data with PM and improved features.</li>
            </ul>
        </div>


        <div class="l-span_3-9">
            <h3>Teams Alignment</h3>

            <ul class="o-list--bullet">
                <li>Started Skype groups, introduced Trello, Invision and later on Slack.</li>

                <li>Sold OKRs to our CEO and created a <a href="#" target="_blank">Google Sheets template</a> to help various teams.</li>

                <li>Introduced project kickoffs, release checklists, steering slides, and retrospectives.</li>
            </ul>
        </div>



        <div class="l-span_3-9">
            <h3>Cross-functional Collaboration</h3>

            <ul class="o-list--bullet">
                <li>Collaborated with CEO and Head of Product from conception to launch for all products.</li>

                <li>Worked with Head of Marketing, CEO and two designers and led <a href="/case-study-branding.html">the branding project</a>.</li>

                <li>Initated a user onboarding project and worked closely with Head of Customer Success.</li>

                <li>Led a cross-functional team from sales and marketing to redesign <a href="https://unmetric.com/analyze">Analyze webpage</a>.</li>

                <li>Developed customer journey and user story maps with product and engineering teams.</li>
            </ul>
        </div>


        


        <div class="l-span_3-9">
            <h3>Design System</h3>

            <ul class="o-list--bullet u-space_below">
                <li>Built first version of design system in 2016 using Frontify to save resources.</li>

                <li>Developed and published <a href="http://unmetric.design" target="_blank">Unmetric Design System</a> used by three core products.</li>

                <li>Worked with a copywriter to create voice and tone guide for Unmetric brand.</li>

                <li>Created templates for Google Docs, Slides, and Keynote for sales and marketing.</li>
            </ul>

            <p class="u-space_below--more"><a href="/proj-unds.html">See Unmetric Design System project details</a></p>
        </div>


        <div class="l-span_3-9">
            <h3>Product Strategy</h3>

            <ul class="o-list--bullet">
                <li>Helped product team clearly define target audience (big brands and large agencies).</li>

                <li>Distinguished between choosers and users so we can cater to their needs better.</li>

                <li>Helped team discover customer needs using JTBD to find a product-market fit.</li>

                <li>Led the design team on a use-case group, helped research and write better job stories.</li>

                <li>Successfully led efforts to make customer research an integral part of product strategy.</li>

                <li>Validated ideas using prototypes and helped save resources and time.</li>
            </ul>
            
        </div>


        <div class="l-span_3-9">
            <h3>Content Strategy</h3>

            <ul class="o-list--bullet">
                <li>Worked closely with marketing team to A/B test different content approaches.</li>

                <li>Led efforts on switching our content strategy from products to benefits.</li>

                <li>Wrote hooks and value propositions for homepage and three product pages.</li>

                <li>Added “Why Unmetric” section to help visitors easily understand our offerings.</li>
            </ul>
        </div>


        <div class="l-span_3-9">
            <h3>Front-end Development</h3>

            <ul class="o-list--bullet">
                <li>Built front-end architecture from scratch using Gulp, Sass, and Jade.</li>

                <li>Introduced concepts like OOCSS, SMACSS, BEM, and libraries like Bourbon.</li>

                <li>Hired, mentored, and managed two world class front-end developers.</li>

                <li>Pitched Angular adoption to the engineering team in 2016.</li>
            </ul>
        </div>
    </section> -->

    
    
</main>





{% include footer.html %}