---
layout: default
title: Amrinder Sandhu
page-class: p-home
page-heading: Hello!
page-description: Digital designer persistent about making delightful, usable, and simple products that people love.
---

{% include header.html %}

<main class="c-main">             
     
    <section class="c-section--section">    
        <section class="c-section__col c-section--elsewhere">
            <h2>Case Studies</h2>

            <ul class="o-list--bullet">
              <li><a href="/case-study-datepicker.html">Datepicker</a></li>
              <li><a href="/case-study-qas.html">QAS</a></li>
              <li><a href="/case-study-branding.html">Branding</a></li>
            </ul>
        </section>
      </section>
    
</main>

{% include footer.html %}

