---
layout: default
title: Amrinder Sandhu
page-class: p-home
page-heading: Hello!
page-description: Digital designer passionate about making delightful, usable, and simple products that people love.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}


    <section class="c-section l-grid l-grid--section">
        <!-- <section class="c-section__col">
          <figure class="c-section__image c-section__image--alone">
            <img src="assets/i/photos/amrinder-11.jpg" />
          </figure>
        </section> -->
        
        <section class="c-section__content">
            <p>Currently, I’m the head of design at <a href="https://unmetric.com">Unmetric</a>, where I have been working from day 1 and designed all the core products from scratch. While reinforcing design culture, a user-centered design vision, and UX principles, I also built the design system and front-end architecture.</p>
            
            <p>Besides leading design, I collaborated cross-functionally to build and maintain an efficient process for successful user onboarding, effective user research, and outcome-focused product development. In addition, I introduced tools, frameworks, and processes to increase productivity, align teams, and improve communication.</p>
            
            <p>For the past 12 years, I lead design at various early-stage startups working on everything from designing core products, websites, logos, pitch decks, and front-end. My clients include <strong>Intel</strong>, <a href="https://zomato.com"><strong>Zomato</strong></a>, <a href="https://grasshopper.com"><strong>Grasshopper</strong></a>, <a href="https://cibc.com"><strong>CIBC</strong></a>, <a href="https://myed.com"><strong>MyEd</strong></a>, <a href="https://proprofs.com"><strong>ProProfs</strong></a>, and <a href="https://pcl.com"><strong>PCL</strong></a>. I got job offers from <strong>Google</strong></strong>, <strong>Groupon</strong>, and <strong>Intel</strong> that I couldn’t accept because of relocation.</p>

            <p>In 2007, I graduated with a degree in Computer Science and Engineering. I’m based in Ancaster, Canada, but grew up in a small village (Mishriwala) in Punjab, India.</p>

            <p>I love simplicity, nature, rain, mountains, walking, and <a href="journal.html">reading</a> <a href="books.html">design books</a>.</p>

        </section>
    </section>        
     
    <section class="c-section l-grid l-grid--section">    
        <section class="c-section__col c-section--elsewhere">
              <!-- <figure class="c-section__image c-section__image--alone">
                <img src="assets/i/photos/amrinder-11.jpg" />
              </figure> -->
            
            <h3>Elsewhere</h3>
            <ul class="o-list--bullet">
              <li><a href="https://twitter.com/anaami">DM me on <strong>Twitter</strong></a></li>
              <li><a href="https://www.linkedin.com/in/amrindersandhu/">Message me on <strong>LinkedIn</strong></a></li>
              <li><a href="https://github.com/amrindersandhu">My commits on <strong>GitHub</strong></a></li>
              <li><a href="https://dribbble.com/amrinder">Some of my shots at <strong>Dribbble</strong></a></li>
            </ul>
        </section>
      </section>
    
</main>
