---
layout: default
title: Amrinder Sandhu
page-class: p-home
page-heading: Hello!
page-description: For 12 years, Amrinder has lead design at startups to help achieve business outcomes, create memorable experiences, and build products that people love.
---





{% include header.html %}





<main>      
    <!-- INTRO SECTION -->      
    <section class="u-space_below--most">
        <div class="l-span_3-9">
            <h1 class="u-space_below">For 12 years, I’ve led design at startups to help achieve business outcomes by creating experiences and products that people love.</h1>
        </div>

        <div class="l-span_3-8">
            <p>Currently, I am the Head of Design at <a href="https://unmetric.com" target="_blank">Unmetric</a> (acquired by <a href="https://falcon.io" target="_blank">Falcon.io</a>). <i class="u-break_line--hd"></i>From day one, I designed all three core products used by customers<i class="u-break_line--hd"></i> like Coca-Cola, Unilever, General Motors, and Accenture.</p>

            <p class="u-space_below--none">I’m available to join full-time from April, 2020. <a href="mailto:contact@amrindersandhu.com"><b>Email Me</b></a></p>
        </div> 
    </section>




    <!-- CASE STUDIES SECTION -->
    <section>
        <h2 class="l-span_2">Case Studies</h2>


        <div class="c-case_study l-span_5-9 u-space_below">
            <a href="/case-study-qas.html">
                <img src="/assets/i/sshots/cs-qas-cover.png" alt="Cover for QAS case study"/>
            
            
                <div class="c-case_study__info">
                    <p>Saving months of extra work with transparent communication and open collaboration.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>


        <div class="c-case_study l-span_4 u-space_below u-pull_up--200">
            <a href="/case-study-datepicker.html">
                <img src="/assets/i/sshots/cs-dp-cover.png" alt="Cover for Datepicker case study"/>

                <div class="c-case_study__info">
                    <p>Redesigning the most used UI component using the most sophisticated design tool – data.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>

        
        <div class="c-case_study l-span_4">
            <a href="/case-study-branding.html">
                <img src="/assets/i/sshots/cs-br-cover.png" alt="Cover for Branding case study"/>
            
            
                <div class="c-case_study__info">
                    <p>Positioning Unmetric as a leader in social media analytics space and a premium brand.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>
    </section>





    <hr class="u-space_below--most"/>

    <section class="c-testimonial">
        <div class="l-span_6">
            <blockquote>
                <p><span>“</span>Forget design. Amrinder is the kind of person you want on your product team. Period. His thoughtful approach to designing great user experiences and products, unwillingness to accept intellectually lazy answers, and pursuit of beauty is refreshing and goes a long way towards building amazing products. I've personally and closely worked with him on at least three SaaS products and have been pleasantly surprised each time. I'd work with him in a heartbeat — on anything related to design. Heck, even if it wasn't about design.<span>”</span></p>
            </blockquote>
        </div>

        <div class="l-span_2 l-grid_flip_order c-testimonial__author">
            <img src="/assets/i/photos/lux.jpg"/>

            <small><b>Lux Narayan</b> <br/> CEO & Co-Founder,<br/> Unmetric</small>
        </div>
    </section>





    <hr class="u-space_below--most"/>



    

    <!-- PROJECTS SECTION -->
    <section class="u-space_below--most">
        <h2 class="l-span_2">Other Projects</h2>


        <div class="c-case_study l-span_5-9">
            <a href="/proj-integration.html">
                <img src="/assets/i/sshots/cover-proj-integ.png" alt="Cover for Integration project"/>
            
            
                <div class="c-case_study__info">
                    <p>Unmetric Falcon <br/>Integration <br/>Phase 1</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>




        <div class="l-span_5-9 u-space_above">
            <p><i>More work coming soon&hellip;</i></p>
        </div>
    </section>



    <!-- EXPERIENCE SECTION -->
    <section>
        <h2 class="l-span_4">Experience</h2>


        <div class="l-span_4">
            <p><strong>As a design leader</strong>, I hired, mentored, and lead a team of five to explore, experiment, and contribute freely to the design process and tools. I also conducted team retrospectives and feedback sessions with other teams. I highly encourage my team to practice user empathy, cross-collaboration, focus on customer needs and business outcomes.</p>
        </div>


        <div class="l-span_4">
            <p><strong>As an individual contributor</strong>, I built a dozen of products from ideation to execution. With a user-centered approach, unwavering attention to details, and using data as a design tool, I continuously improved the quality and user experience of products. I also built a design system and front-end architecture, designed websites, blogs, emails, and pitch decks. </p>
        </div>


        <div class="l-span_4">
            <p><strong>As an inspiring team player</strong>, I introduced best practices, frameworks, and tools across the company to help improve processes, collaboration, and communication. I collaborated cross-functionally to optimize the conversion funnel, reduce churn and improve user experience. I also contributed to product and content strategy, user research, usability testing, and copywriting. </p>
        </div>


        <div class="l-span_4">
            <p><strong>As a caring designer</strong>, I put myself in customer’s shoes, ask questions to understand their goals and figure out jobs they are trying to perform. I initiated a handful of projects to improve user experience.</p>
        </div>


        <div class="l-span_4">
            <p><strong>As a remote employee</strong> from day one, I have learned to overcome the biggest hurdles in a distant working relationship: communication and collaboration. Over the years, I have introduced tools and processes to help teams and individuals build an excellent working relationship without feeling isolated.</p>
        </div>
    </section>




    <hr class="u-space_below--most"/>




    <section class="c-testimonial">
        <div class="l-span_6">
            <blockquote>
                <p><span>“</span>Amrinder is a <b>valuable asset</b> to any organization. He <b>relentlessly pursues perfection</b>. I’ve worked with Amrinder for almost a decade now and spent countless hours brainstorming, arguing and discussing ideas and concepts that eventually find their way into the products we developed. At Unmetric, <b>we received a lot of accolades for the design</b> and UI/UX and a lot of that credit should go to Amrinder. He is also a <b>capable leader</b> — he built up a great design team at Unmetric. He is always on the <b>lookout for best practices</b> from other startups and catalyzed several process changes that <b>helped us collaborate better and become more productive</b>.<span>”</span></p>
            </blockquote>
        </div>

        <div class="l-span_2 l-grid_flip_order c-testimonial__author">
            <img src="/assets/i/photos/kumar.jpeg"/>

            <small><b>Kumar Krishnasami</b> <br/> Head of Product and <br/> Co-Founder, Unmetric</small>
        </div>
    </section>

    
    
</main>





{% include footer.html %}