---
layout: default
title: Amrinder Sandhu
page-class: p-work
page-heading: Hello!
page-description: For 12 years, Amrinder has lead design at startups to help achieve business outcomes, create memorable experiences, and build products that people love.
---





{% include header.html %}





<main>      
    <!-- INTRO SECTION -->      
    <section class="u-space_below--most">
        <div class="l-span_3-9">
            <h1 class="u-space_below">For 12 years, I’ve led design at startups to help achieve business outcomes by creating experiences and products that people love.</h1>
        </div>

        <div class="l-span_3-8">
            <p>Currently, I am the Head of Design at <a href="https://unmetric.com" target="_blank">Unmetric</a> (acquired by Cision). <i class="u-break_line--hd"></i>From day one, I designed all three core products used by customers<i class="u-break_line--hd"></i> like Coca-Cola, Unilever, General Motors, and Accenture.</p>
        </div> 
    </section>




    <!-- CASE STUDIES SECTION -->
    <section class="u-space_below--most">
        <div class="l-span_4 l-grid_of_4">
            <h2 class="l-span_1 u-space_above">Case Studies</h2>
        </div>


        {% for entry in site.data.work.case-study %}
            <div class="c-media {{ entry.class }} l-span_4 u-space_below">
                <a href="{{ entry.link }}">
                    <div class="c-media__info">
                        <p>{{ entry.title }}</p>

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                            <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                                <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                            </g>
                        </svg>
                    </div>

                    <img data-src="{{ entry.src }}" alt="Cover for QAS case study"/>
                </a>
            </div>
        {% endfor %}
    </section>





    <hr class="u-space_below--most"/>




    <!-- TESTIMONIAL #1 -->
    <section class="c-testimonial u-space_below--most">
        <div class="l-span_6">
            <blockquote>
                <p><span>“</span>Forget design. Amrinder is the <b>kind of person you want on your product team. Period.</b> His thoughtful approach to designing great user experiences and products, unwillingness to accept intellectually lazy answers, and <b>pursuit of beauty is refreshing</b> and goes a long way towards building amazing products. I’ve personally and closely worked with him on at least three SaaS products and have been pleasantly surprised each time. <b>I’d work with him in a heartbeat</b> — on anything related to design. Heck, even if it wasn’t about design.<span>”</span></p>
            </blockquote>
        </div>


        <div class="l-span_2 l-grid_flip_order c-testimonial__author u-space_below">
            <img data-src="/assets/i/photos/lux.jpg"/>

            <small><b>Lux Narayan</b> <br/> CEO & Co-Founder,<br/> Unmetric</small>
        </div>


        <p class="l-span_3-9"><a href="testimonials.html">More good things people said about me &rarr;</a></p>
    </section>





    <hr class="u-space_below--most"/>




    <!-- SKILLS -->
    <section>
        <h2 class="l-span_2">Toolkit <i class="u-break_line--hd"></i> &amp; Skills</h2>    

        <div class="l-grid_of_6">
            <p class="l-span_6">I can seamlessly switch between tools and use whatever helps me put ideas across clearly and quickly so that the team can make better decisions faster.</p>


            <p class="l-span_6 u-space_below--more">As a <del>t-shaped</del> <a href="http://www.futurecapable.com/?p=102" target="_blank">key-shaped</a> designer, I can wear many hats and possess skills that help me lead teams from discovery through delivery.</p>


            <div class="l-span_2">
                <ul>
                    <li>Moleskine</li>

                    <li>Post It Notes</li>

                    <li>Whiteboard</li>

                    <li>Miro</li>

                    <li>Balsamiq</li>
                
                    <li>Figma / Sketch</li>

                    <li>Principle</li>

                    <li>Visual Studio</li>
                </ul>
            </div>


            <div class="l-span_4">
                <ul class="u-cols--two">
                    <li>Design Leadership</li>

                    <li>Interaction Design</li>

                    <li>User Interface Design</li>
                
                    <li>Visual Design</li>
                    
                    <li>Product Design</li>

                    <li>User Flows</li>                

                    <li>User Story Mapping</li>

                    <li>Journey Mapping</li>

                    <li>User Research</li>

                    <li>Human-centered Design</li>

                    <li>Sketching</li>

                    <li>Prototyping</li>

                    <li>Usability Testing</li>

                    <li>Design System</li>

                    <li>Front-end Architecture</li>

                    <li>Manager of One</li>
                </ul>
            </div>
        </div>
    </section>




    <hr class="u-space_below--most"/>





    <!-- PROJECTS SECTION -->
    <section class="u-space_below--most">
        <h2 class="l-span_2 u-space_above">Selected <i class="u-break_line--hd"></i>Projects</h2>

        <div class="l-span_6 l-grid_of_6">
            {% for entry in site.data.work.project %}
                <div class="c-media c-media--prj u-space_below {{ entry.class }}">
                    <a href="{{ entry.link }}">
                        <div class="c-media__info">
                            <p>{{ entry.title }}</p>

                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                                    <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                                </g>
                            </svg>
                        </div>


                        <img data-src="{{ entry.img }}" alt="Cover for Integration project"/>
                    </a>
                </div>
            {% endfor %}
        </div>

    </section>





    <hr class="u-space_below--most"/>




    <!-- WORK PHOTOS -->
    <section class="c-work_photos">
        <h2 class="l-span_2">Behind <i class="u-break_line--hd"></i>the Screen</h2>

        <p class="l-span_3-7 u-space_below--more">A few photos of the wireframes, sketches, and mapping exercise I have done over the years.</p>

        
        <div class="l-grid_of_8 c-sshot--wrapped">
            <figure class="l-grid_of_8 u-space_below">
                <img class="l-span_full" data-src="/assets/i/photos/wb-portfolio-mapping.png" alt="Portfolio mapping"/>

                <figcaption class="l-span_3 is-below">Mapping for this site’s redesign</figcaption>
            </figure>

            
            <figure class="l-span_4 u-space_below">
                <img class="l-span_full" data-src="/assets/i/photos/wb-portfolio-coding.png" alt="Portfolio mapping"/>

                <figcaption class="l-span_full is-below">Used 3 codes to indicate the status of a task. <br/>Triangle in corner = planned. Filled triangle = WIP. Fold = Done. </figcaption>
            </figure>


            <div class="l-span_5-9">
                <figure class="l-span_full u-space_below">
                    <img data-src="/assets/i/photos/wb-abo.png" alt="ABO feature flow"/>
    
                    <figcaption class="is-below">Flow map for ABO feature</figcaption>
                </figure>
    
    
                <figure class="l-span_full u-space_below">
                    <img data-src="/assets/i/photos/wb-abo-2.png" alt="ABO feature flow"/>
    
                    <figcaption class="is-below">Flow map for ABO search</figcaption>
                </figure>
            </div>


            <div class="l-span_4">
                <figure class="l-span_full u-space_below">
                    <img data-src="/assets/i/photos/wb-insights.png" alt="Insights feature"/>

                    <figcaption class="is-below">Mapping for the Insights features</figcaption>
                </figure>
    
    
                <figure class="l-span_full u-space_below">
                    <img class="l-span_full" data-src="/assets/i/photos/wb-alerts-1.png" alt="Alert feature"/>

                    <figcaption class="l-span_3 is-below">Wireframe for Alerts features</figcaption>
                </figure>
            </div>


            <figure class="l-span_4 u-space_below">
                <img class="l-span_full" data-src="/assets/i/photos/nb-pitch_notes.png" alt="Sales pitch notes"/>

                <figcaption class="l-span_3 is-below">Notes from a sales pitch from our CEO. This helped me understand how and what we are selling to customers.</figcaption>
            </figure>


            <figure class="l-grid_of_5 u-space_below">
                <img class="l-span_full" data-src="/assets/i/photos/wb-sports.png" alt="Sports app feed"/>

                <figcaption class="l-span_full is-below">Wireframes for Sports App feed</figcaption>
            </figure>


            <figure class="l-span_6-9 u-space_below">
                <img class="l-span_full" data-src="/assets/i/photos/wb-pulse.png" alt="Unmetric Pulse"/>

                <figcaption class="l-span_full is-below">Unmetric Track mobile app onboarding flow</figcaption>
            </figure>


            


            <figure class="l-grid_of_8 u-space_below">
                <img class="l-span_6" data-src="/assets/i/photos/wb-ui_patterns.png" alt="UI Patterns"/>

                <figcaption class="l-span_2 l-grid_flip_order u-align--bottom u-pad_right--30">Deciding colors for the <a href="/proj-unds.html">Unmetric Design System</a></figcaption>
            </figure>


            <figure class="l-grid_of_8 u-space_below">
                <img class="l-span_6" data-src="/assets/i/photos/notebooks.jpg" alt="Notebooks"/>

                <figcaption class="l-span_2">Moleskine: Home to my sketches and scribbles. This is where I go for brainstorming.</figcaption>
            </figure>


            <figure class="l-span_4 u-space_below">
                <img data-src="/assets/i/photos/nb-dis-onboarding.jpg" alt="Onboarding flow"/>

                <figcaption class="is-below">Unmetric Discover onboarding flow</figcaption>
            </figure>


            <figure class="l-span_4 u-space_below">
                <img data-src="/assets/i/photos/nb-dis-feed.jpg" alt="Calendar view for Topics"/>

                <figcaption class="is-below">Unmetric Discover homepage feed</figcaption>
            </figure>


            <figure class="l-span_4">
                <img data-src="/assets/i/photos/sketch-homepage-1.png" alt="Homepage early sketch"/>
                

                <figcaption class="is-below">Outline of Unmetric Analyze navigation changes</figcaption>
            </figure>


            <figure class="l-span_4 u-space_above--mob">
                <img data-src="/assets/i/photos/sketch-datepicker.png" alt="DatePicker sketches"/>
    
                <figcaption class="is-below">Sketches of all three sections of the new Analyze datepicker.</figcaption>
            </figure>
        </div>
    </section>





    <hr class="u-space_below--most"/>





    <!-- EXPERIENCE SECTION -->
    <section class="u-space_below--most">
        <h2 class="l-span_4">Experience</h2>


        <div class="l-span_4">
            <p><strong>As a design leader</strong>, I hired, mentored, and led a team of five to explore, experiment, and contribute freely to the design process and tools. I also conducted team retrospectives and feedback sessions with other teams. I highly encourage my team to practice user empathy, collaborate across functions, and focus on customer needs and business outcomes.</p>
        </div>


        <div class="l-span_4">
            <p><strong>As an individual contributor</strong>, I built a dozen products from ideation to execution. With a user-centered approach, unwavering attention to details, and using data as a design tool, I continuously improved the quality and user experience of products while achieving business outcomes. I also built a design system and front-end architecture, designed websites, newsletters, and pitch decks. </p>
        </div>


        <div class="l-span_4">
            <p><strong>As a team player</strong>, I introduced best practices, frameworks, and tools across the company to help improve processes, collaboration, and communication. I collaborated cross-functionally to optimize the conversion funnel, reduce churn and improve user experience. I also contributed to product and content strategy, user research, usability testing, and copywriting. </p>
        </div>


        <div class="l-span_4">
            <p><strong>As a UX designer</strong>, I have put myself in customer’s shoes, asked questions to understand their goals and figure out jobs they are trying to perform. I participated in user interviews, shared best practices and books, and wrote interview questions. While practicing user empathy, I contiunously encouraged our developers to think from the user’s perspective as they build products and features.</p>
        </div>


        <div class="l-span_4">
            <p><strong>As a remote employee</strong> from day one, I have learned to overcome the biggest hurdles in a distant working relationship: communication and collaboration. I have worked with a dozen clients on 50+ projects across time zones. Over the years, I have introduced tools and processes to help teams and individuals build an excellent working relationship without feeling isolated.</p>
        </div>
    </section>




    <hr class="u-space_below--most"/>





    <!-- TESTIMONIALS -->
    <section>
        <div class="l-grid_of_8 u-space_below--more">
            <h2 class="l-span_full">For 10 years, I worked at Unmetric with various teams and people. <i class="u-break_line--hd"></i>Here are some good things they said about me&hellip;</h2>
        </div>


        <div class="l-span_4">
            <blockquote>
                <p class="no-hypens">His thoughtful approach to designing great user experiences and products&hellip; <i class="u-break_line--hd"></i>is refreshing</p>

                <footer>– CEO & Co-Founder</footer> 
            </blockquote>
        </div>

        <div class="l-span_4">
            <blockquote>
                <p class="no-hypens">Catalyzed several process changes that helped us collaborate better and become more productive</p>
                
                <footer>– Head of Product & Co-Founder</footer>
            </blockquote>
        </div>

        <div class="l-span_4">
            <blockquote>
                <p class="no-hypens">Amrinder is unrelenting! One of the most effective designers I have worked with… consistently in awe of his enthusiasm</p>
                
                <footer>– Senior Product Designer</footer>
            </blockquote>
        </div>

        <div class="l-span_4">
            <blockquote>
                <p class="no-hypens">Unabatedly thinking about not just improving his team's performance but also elevating the entire organization</p>
                
                <footer>– Director of Customer Success & Operations</footer>
            </blockquote>
        </div>

        <div class="l-span_4">
            <blockquote>
                <p>Raised everyone’s knowledge and understanding&hellip; at the forefront of bringing the latest tools, processes, and frameworks</p>
                
                <footer>– Head of Customer Success & Research</footer>
            </blockquote>
        </div>

        <div class="l-span_4">
            <blockquote>
                <p class="no-hypens">Part of the conversation at every stage of the customer journey from awareness to becoming a client</p>
                
                <footer>– Director of Marketing</footer>
            </blockquote>
        </div>

        <p class="l-span_3 u-space_below--more u-space_above--more">
            <a href="/testimonials.html">See all the testimonials &rarr;</a>
        </p>
    </section>

    
</main>





{% include footer.html %}