---
layout: default
title: Amrinder Sandhu
page-class: p-journal
page-heading: Learn
page-description: To improve what I know and learn what I don’t, I read blogs and articles. Here’s what I find useful.
---

{% include header.html %}

<main>      
    {% include billboard.html %}
    
    {% for entry in site.data.entries.journal %}
    <section>
        <div class="l-span_3">
            <p class="c-entry_comment">{{ entry.title }}</p>
        </div>

        <div class="l-span_5-9">
            <article class="l-span_full c-entry" data-aos="fade-up">
                
                <a href="{{ entry.url }}" target="_blank" class="c-entry__link">
                    <div class="c-entry__content">
                        <h2 class="c-entry__content__heading">{{ entry.content-title }}</h2>

                        <p class="c-entry__content__blurb">{{ entry.content-copy }}</p>
                    </div>
                </a>
            </article>
        </div>
      </section>
    {% endfor %}





    {% for entry in site.data.awayback.journal %}
    <section>
        <div class="l-span_4">
            <p class="c-entry_comment">{{ entry.title }}</p>
        </div>

        <div class="l-span_4">
            <article class="c-entry" data-aos="fade-up">
                
                <a href="{{ entry.url }}" target="_blank" class="c-entry__link">
                    <div class="c-entry__content">
                        <h3 class="c-entry__content__heading">{{ entry.content-title }}</h3>
                      
                        <p class="c-entry__content__blurb">{{ entry.content-copy }}</p>
                    </div>
                </a>
            </article>      
        </div>
      </section>
    {% endfor %}
</main>





{% include footer.html %}