---
layout: default
title: Amrinder Sandhu
page-class: p-journal
page-heading: Learn
page-description: To improve what I know and learn what I don’t know, I read blogs and articles. Here’s what I find useful.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}
    
    {% for entry in site.data.entries.journal %}
    <section class="c-section">
        <section class="c-section__col c-section__col--1to4">
            <h2 class="c-entry__heading">{{ entry.title }}</h2>
        </section>

        <section class="c-section__content">
            <article class="c-entry" data-aos="fade-up">
                
                <a href="{{ entry.url }}" target="_blank" class="c-entry__link">
                    <section class="c-entry__content">
                        <h3 class="c-entry__content__heading">{{ entry.content-title }}</h3>
                        <p class="c-entry__content__blurb">{{ entry.content-copy }}</p>
                    </section>
                </a>
            </article>
            
                   
        </section>
      </section>
    {% endfor %}





    {% for entry in site.data.awayback.journal %}
    <section class="c-section">
        <section class="c-section__col c-section__col--1to4">
            <h3 class="c-entry__heading">{{ entry.title }}</h3>
        </section>

        <section class="c-section__content">
            <article class="c-entry" data-aos="fade-up">
                
                <a href="{{ entry.url }}" target="_blank" class="c-entry__link">
                    <section class="c-entry__content">
                        <h4 class="c-entry__content__heading">{{ entry.content-title }}</h4>
                        <p class="c-entry__content__blurb">{{ entry.content-copy }}</p>
                    </section>
                </a>
            </article>
            
                   
        </section>
      </section>
    {% endfor %}
</main>