---
layout: default
title: Amrinder Sandhu
page-class: p-journal
page-heading: Learn
page-description: To improve what I know and learn what I don’t, I read blogs and articles. Here’s what I find useful.
---

{% include header.html %}

<main>      
    <section class="u-space_below--most">
        <div class="l-span_3-8">
            <h1>To improve what I know and learn what I don’t, I read blogs and articles. Here’s what I find useful.</h1>
        </div>    
    </section>
    



    {% for entry in site.data.entries.journal %}
    <section>
        <article class="c-entry l-grid_of_8">

            <a class="c-entry__link l-span_3-9" href="{{ entry.url }}" target="_blank">
                <h2 class="c-entry__heading">{{ entry.content-title }}</h2>
            </a>

            <p class="c-entry__comment l-span_2">{{ entry.title }}</p>

            <p class="c-entry__blurb l-span_6">{{ entry.content-copy }}</p>
        </article>
    </section>
    {% endfor %}





    {% for entry in site.data.awayback.journal %}
    <section>
        <article class="c-entry l-grid_of_8">

            <a class="c-entry__link l-span_3-9" href="{{ entry.url }}" target="_blank">
                <h2 class="c-entry__heading">{{ entry.content-title }}</h2>
            </a>

            <p class="c-entry__comment l-span_2">{{ entry.title }}</p>

            <p class="c-entry__blurb l-span_6">{{ entry.content-copy }}</p>
        </article>
    </section>
    {% endfor %}
</main>





{% include footer.html %}