---
layout: default
title: Work of Amrinder Sandhu
page-class: p-portfolio
page-heading: Work
page-description: By using design thinking to solve problems and test solutions to find product-market fit, I use design to make a business successful.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}
      



    
    <section class="c-section">
        <section class="c-section__col c-section__col--1to4">
            <h2>Projects</h2>
        </section>

        <section class="c-section__content">
            <div>
                <h3>QAS (Quick Access Sidebar)</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Onboarding</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Outliers</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Branding</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Date-picker</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Settings realign</h3>
            </div>
        </section>


        <section class="c-section__content">
            <div>
                <h3>QAS (Quick Access Sidebar)</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Onboarding</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Outliers</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Branding</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Date-picker</h3>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Settings realign</h3>
            </div>
        </section>
    </section>
    
    


    <section class="c-section">
        <section class="c-section__col c-section__col--1to4">
            <h2>Contributions</h2>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Front-end Development</h3>

                <p>Coding is a design tool to me. I have been hand-coding since the days of Internet Explorer 6, and when PSD to HTML conversions was a thing. Over the years, I have written HTML/CSS for everything from table-based newsletters, websites, and full-fledged web applications. During my ___ at Unmetric, I did front-end development for all the products, websites, blog and emails, introduced Gulp, Sass, Jade, BEM, built CSS architecture using concepts like OOCSS and SMACSS, and libraries like Compass and Bourbon. I also collaborated with Harry Roberts to improve the front-end codebase. Later on, along with mentoring two of our front-end developers, my responsibilities also included overseeing the front-end development and pitching the adoption of Angular to our engineering team. Just as architects should know the ins and outs of the building materials, similarly, designers working on the web should know the very languages that breathe life in the designs. 
                </p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Team Alignment</h3>

                <p>Managing and working with remote teams is difficult. Being a remote designer from day 1, I have good amount of experience on things that can go sideways and ways to control and fix them. To improve communication at Unmetric, I started using Skype groups adding people working on the same project. Then came Slack and I was delighted. It took me more than __ to sell it internally and get people to quit Skype and switch to Slack. To understand business goals I sold OKRs to our CEO and created Google Sheets template so everyone can start using. Kickoffs, release checklists, steering slides, and monthly retrospectives were other major things that I introduced to help improve alignment and communication. </p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>User Experience</h3>

                <p>A design leadership role is incomplete if it doesn’t involve providing best possible user experience. In order to fulfil that, I collaborated with Customer success team who does weekly calls/email with customer, and get feature requests. I also listened to sale pitches across geographies to understand what solution our target audience is looking for and what jobs are they trying to perform. Apart from creating what customers are articulating loud, I also initiated a few dedicated projects just to improve the usability and user experience (QAS, DatePicker, Settings, Insights by Xia, Success checklist, Help menu, Help Center, Intercom messenger, etc.). With the help of our head of customer success, we kickstarted a handful of projects to improve user onboarding inside the platform.</p>
            </div>
        </section>


        <section class="c-section__content">
            <div>
                <h3>Content Strategy</h3>

                <p>Along with designing website and blog, I closely worked with our marketing team to do A/B testing. We tested different content strategy approaches like showcasing product benefits instead of features, replacing product pages with solutions, and adding Why Unmetric section that focuses on jobs that our customers perform and how Unmetric can help them do those jobs in a better way.</p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3>Product Strategy</h3>

                <p>Being a part of a product company, I contributed and influenced the product strategy on various occasions. We clearly defined our target audience (big brand and agencies), and also distinguished between choosers and users so we can cater to their needs better. I helped test a few ideas before we decided to commit more resources. By advocating and making customer research integral part of our product strategy, I helped our team discover needs of our customer and find a product-market fit.</p>
            </div>
        </section>


        <section class="c-section__content">
            <div>
                <h3></h3>

                <p></p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3></h3>

                <p></p>
            </div>
        </section>


        <section class="c-section__content">
            <div>
                <h3></h3>

                <p></p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3></h3>

                <p></p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3></h3>

                <p></p>
            </div>
        </section>

        <section class="c-section__content">
            <div>
                <h3></h3>

                <p></p>
            </div>
        </section>
    </section>
</main>