---
layout: default
title: Unmetric Analyze
page-class: p-pr
page-heading: 
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main>      
    <section data-aos="fade-down">
        <div class="l-span_4-10">
            <h1>Unmetric Analyze &mdash; <i class="u-break_line--hd"></i> 10 years in the making</h1>

            <p>From 2010 till 2020, I hands-on designed every single feature and played an instrumental role in shaping every aspect of Analyze. Over the years, Analyze was used and loved by customers like Coca-Cola, Unilever, GM, Pepsi, Ford, Amex, FedEx.</p> 
        </div>
    </section>





    <section data-aos="fade-up">
        <h3 class="l-span_4-10 u-space_below">A quick walkthrough of Analyze</h3>

        <div class="c-embedded_video l-span_full u-space_below--more">
            <iframe src="https://player.vimeo.com/video/341528643" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>

        <p class="l-span_4-10">Over the ten years of building Analyze, I worked on over dozen of new features and redesigns. Here are the in-depth case studies of a couple of the latest features:</p>

        <ul class="o-list--bullet l-span_4-10">
            <li><a href="/case-study-datepicker.html">Date-picker redesign case study</a></li>

            <li><a href="/case-study-qas.html">Homepage and Navigation redesign case study</a></li>
        </ul>
    </section>



    <section class="u-space_below--most">
        <h2 class="l-span_full u-space_below--more">Some of the Analyze features I worked on over the years</h2>


        <h3 class="l-span_4-10 u-space_below">Campaign Analysis (2013)</h3>

        <div class="c-sshot--wrapped l-span_full u-space_below--more">
            <figure class="l-grid_of_9 u-space_below">
                <img class="l-span_7" src="/assets/i/sshots/ana-camp-01.png" alt="Campaign analysis"/>
                
                <figcaption class="l-span_2">A profile’s campaign analysis</figcaption>
            </figure>


            <figure class="l-grid_of_9">
                <img class="l-span_6"  src="/assets/i/sshots/ana-camp-02.png" alt="Campaigns view"/>
                
                <figcaption class="l-span_3 l-grid_flip_order u-align--bottom">Campaigns view for a selected industry (Technology)</figcaption>
            </figure>
        </div>



        <h3 class="l-span_4-10 u-space_below">PPT Reports (2013)</h3>

        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <img class="l-span_4" src="/assets/i/sshots/ana-reports-ppt-01.png" alt="PPT reports slide 1"/>

            <img class="l-span_5 u-space_above--mob u-space_below" src="/assets/i/sshots/ana-reports-ppt-02.png" alt="PPT report slide 2"/>

            <img class="l-span_5" src="/assets/i/sshots/ana-reports-ppt-03.png" alt="PPT reports slide 3"/>

            <img class="l-span_4 u-space_above--mob" src="/assets/i/sshots/ana-reports-ppt-04.png" alt="PPT report slide 4"/>
        </div>



        <h3 class="l-span_4-10 u-space_below">Share of Voice (2014)</h3>
        
        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <img class="l-span_4" src="/assets/i/sshots/ana-sov-01.png" alt="Share of Voice"/>
            
            <img class="l-span_5 u-space_above--mob"  src="/assets/i/sshots/ana-sov-02.png" alt="Share of Voice"/>
        </div>



        <h3 class="l-span_4-10 u-space_below">Customizable Compare Overview (2015)</h3>

        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <figure class="l-span_6">
                <img src="/assets/i/sshots/ana-comp-ov-01.png" alt="Campaign analysis"/>
                
                <figcaption class="is-below">Compare overview section</figcaption>
            </figure>


            <figure class="l-span_3 u-space_above--mob">
                <img src="/assets/i/sshots/ana-comp-ov-02.png" alt="Campaigns view"/>
                
                <figcaption class="is-below">An overlay to customize metrics to compare</figcaption>
            </figure>
        </div>



        <h3 class="l-span_4-10 u-space_below">Dedicated Reports Section (2015)</h3>

        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <figure class="l-span_5">
                <img src="/assets/i/sshots/ana-reports-01.png" alt="Download Reports section"/>
                
                <figcaption class="is-below">Download reports module</figcaption>
            </figure>


            <figure class="l-span_4 u-space_above--mob">
                <img src="/assets/i/sshots/ana-reports-02.png" alt="Schedule Reports section"/>
                
                <figcaption class="is-below">Schedule reports module</figcaption>
            </figure>   
        </div>




        <h3 class="l-span_4-10 u-space_below">Smart Alerts (2017)</h3>

        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <figure class="l-span_5">
                <img src="/assets/i/sshots/ana-alerts-01.png" alt="Alerts screenshot"/>
                
                <figcaption class="is-below">Alerts setup overlay</figcaption>
            </figure>


            <figure class="l-span_4 u-space_above--mob">
                <img src="/assets/i/sshots/ana-alerts-02.png" alt="Alerts email screenshot"/>
                
                <figcaption class="is-below">Alert email</figcaption>
            </figure>   
        </div>
        
        

            

        <h3 class="l-span_4-10 u-space_below">Automated and Manual Content Tagging (2018)</h3>
        
        
        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <figure class="l-span_5">
                <img src="/assets/i/sshots/ana-tag-01.png" alt="Tagging screenshots"/>
                
                <figcaption class="is-below">Manual tagging for posts</figcaption>
            </figure>


            <figure class="l-span_4 u-space_above--mob">
                <img src="/assets/i/sshots/ana-tag-02.png" alt="Tagging screenshots"/>
                
                <figcaption class="is-below">Create tag and enable auto-tagging</figcaption>
            </figure>
        </div>



        <h3 class="l-span_4-10 u-space_below">Brand Posts Analysis (2019)</h3>
        
        <div class="c-sshot--wrapped l-grid_of_9 u-space_below--more">
            <figure class="l-span_5 u-space_below">
                <img src="/assets/i/sshots/ana-tag-03.png" alt="Tagging screenshots"/>
                
                <figcaption class="is-below">Compare a profile’s content performance using tags</figcaption>
            </figure>


            <figure class="l-span_4">
                <img src="/assets/i/sshots/ana-tag-04.png" alt="Tagging screenshots"/>
                
                <figcaption class="is-below">Compare tagged content performance from multiple profiles</figcaption>
            </figure>
        </div>



        <h3 class="l-span_4-10 u-space_below">Redesigned Date-picker (2019)</h3>

        <p class="l-span_4-10"><a href="/case-study-datepicker.html">See Date-picker case study &rarr;</a></p>
        
        <div class="l-span_full c-sshot--wrapped u-space_below--more">
            <img src="/assets/i/sshots/ana-datepicker-01.png" alt="Date-picker screenshot"/>
        </div>




        <h3 class="l-span_4-10 u-space_below">Redesigned Homepage with Feed and Outliers (2019)</h3>

        <p class="l-span_4-10"><a href="/case-study-qas.html">See Homepage redesign case study &rarr;</a></p>
        
        <div class="l-span_full c-sshot--wrapped u-space_below--more">
            <img src="/assets/i/sshots/cs-qas-hp_new_final.png" alt="New homepage"/>
        </div>



        <h3 class="l-span_4-10 u-space_below">Redesigned Navigation (2019)</h3>

        <p class="l-span_4-10"><a href="/case-study-qas.html">See Navigation redesign case study &rarr;</a></p>
        
        <div class="l-span_full c-sshot--wrapped">
            <video autoplay loop controls>
                <source src="/assets/videos/cs-qas-new.mov" type="video/mp4">
            </video>
        </div>
    </section>




    
    <hr class="u-space_below--more"/>





    <!-- MORE -->
    <section class="u-space_below--most">
        <h1 class="l-span_1 u-space_below--most">More Projects</h1>



        {% for entry in site.data.work %}
            {% if entry.page-title != "Product – Analyze" %}
                <div class="c-media {{ entry.class }} l-span_full u-space_below--most">
                    <a class="l-grid_of_9" href="{{ entry.link }}">
                        <div class="c-media__info l-span_4">
                            <time>{{ entry.time }}</time>


                            <h2>{{ entry.title }}</h2>

                            <p>{{ entry.desc }}</p>

                            <span>{{ entry.cta }}</span>
                        </div>

                        <div class="l-span_5">
                            {{ entry.images }}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </section>


</main>




{% include footer.html %}