---
layout: default
title: Unmetric Falcon Integration
page-class: p-pr
page-heading: 
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section>
        <div class="l-span_4-10 u-space_below--more">
            <h1>Unmetric Falcon Integration – Phase 1</h1>

            <p>Falcon.io acquired Unmetric in October 2019 and decided to integrate Unmetric’s two core products &mdash; Analyze and Discover &mdash; into Falcon.io platform and call it Benchmark. Our team decided to split this considerable integration effort into three parts.</p> 
                        
            <p>The first phase will allow new Benchmark users to access the Unmetric platform both from inside the Falcon platform by clicking the Benchmark icon in the sidebar, and also from the Unmetric sign-in screen by clicking the “Sign in with Falcon.io” single sign-on button.</p>
        </div>
        

        <figure class="l-span_full c-sshot--wrapped">
            <img src="/assets/i/sshots/teaser-integ.png" alt="Integration Teaser"/>

            <figcaption class="is-below">The landing page of a user flow prototype I made for the stakeholders. Real prototype embedded below.</figcaption>
        </figure>
    </section>




    <!-- ROLE -->
    <section>
        <div class="l-span_3">
            <h2>My Role</h2>

            <ul>
                <li>Discovery</li>

                <li>Opportunity Canvas</li>
                
                <li>User Story Mapping</li>

                <li>Prototyping</li>

                <li>Project Management</li>

                <li>UI/UX</li>

                <li>Icon Design</li>

                <li>Onboarding</li>
            </ul>
        </div>


        <div class="l-span_2 u-space_above--mob">
            <h2>Team</h2>

            <ul>
                <li>Two PMs</li>

                <li>Two Dev Leads</li>
                
                <li>Two Backend Devs</li>

                <li>Two Front-end Devs</li>

                <li>Product Designer</li>

                <li>Myself</li>
            </ul>
        </div>


        <div class="l-span_2 u-space_above--mob">
            <h2>Tools</h2>

            <ul>
                <li>Whiteboard</li>

                <li>Moleskine</li>

                <li>Miro</li>
                
                <li>Figma</li>
            </ul>
        </div>


        <div class="l-span_2 u-space_above--mob">
            <h2>Timeline</h2>

            <ul>
                <li>Three months</li>

                <li>Dec 2019 – Feb 2020</li>

                <li>One release</li>
            </ul>
        </div>
    </section>






    <section>
        <div class="c-sshot--wrapped l-grid_of_9">
            <img class="l-span_5" src="/assets/i/photos/sketch-integ-1.png"/>

            <div class="l-span_4 l-grid_of_4 u-space_above--mob">
                <img class="l-span_4 u-space_below" src="/assets/i/photos/sketch-integ-2.png"/>
                
                <div class="l-span_2 l-grid_of_2">
                    <p class="c-caption l-span_2">An early brainstorming session I did in-person with Falcon’s director of product, our dev lead, and senior product designer in our Chennai office.</p>

                    <p class="c-caption l-span_2 u-align--bottom u-txt-align--right">Later, I did some sketching to think through the user flow coming from Falcon.io platform into Unmetric products.</p>
                </div>

                <img class="l-span_2 u-space_above--mob" src="/assets/i/photos/sketch-integ-3.jpg"/>
            </div>
        </div>    
    </section>
      



    
    <section>
        <p class="l-span_4-9">After one week of face time in Chennai, we were all remote again. I explored Miro and added our ideas for further conversation.</p>


        <figure class="c-sshot--wrapped l-grid_of_9">
            <img class="l-span_7" src="/assets/i/sshots/proj-integ-opportunity_canvas.png" alt="Opportunity Canvas"/>

            <figcaption class="l-span_2">I created an opportunity canvas to create a shared understanding and involve stakeholders.</figcaption>
        </figure>

        <figure class="c-sshot--wrapped l-grid_of_9">
            <img class="l-span_7" src="/assets/i/sshots/proj-integ-kano_model.png" alt="Kano model"/>

            <figcaption class="l-span_2 l-grid_flip_order">I created this Kano model to help the team decide and prioritize the efforts. We didn’t get to use this Kano model, though.</figcaption>
        </figure>
        
        <figure class="c-sshot--wrapped l-grid_of_9">
            <img class="l-span_full" src="/assets/i/sshots/proj-integ-story_mapping.png" alt="User story map"/>

            <figcaption class="c-caption is-below l-span_4-9">A big user story map we created to think through all the steps and things we wanted to build. This was my favorite exercise in this project. I wish I had learned this earlier.</figcaption>
        </figure>
    </section>




    
    <section>
        <h2 class="l-span_2">Execution</h2>

        
 

        <div class="c-sshot--wrapped l-grid_of_9">
            <iframe class="c-integ_flow_prototype l-span_full u-space_below"  style="border: none;" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FRFzANidcL0o0khVI0bFPMs%2FScreenshots%3Fnode-id%3D185%253A5%26viewport%3D256%252C-106%252C0.09974861890077591%26scaling%3Dmin-zoom" allowfullscreen></iframe>

            <p class="c-caption l-span_2"><strong>Note:</strong> Click through to see the various flows. <em>Press R to restart the prototype.</em></p>

            <p class="c-caption l-span_4-10 u-space_below--none">The final prototype we presented to the broader team showcasing different user types and scenarios they might face. After making a few changes based on the feedback, I created Jira epic and tasks for the front-end developers so we can get the ball rolling.</p>
        </div>




        <figure class="c-sshot--wrapped l-span_4-10 l-grid_of_6">
            <img class="l-span_4" src="/assets/i/photos/sketch-benchmark-icon.jpg" alt="icon sketch"/>

            <figcaption class="l-span_2">A quick mind mapping exercise I did for Benchmark icon before jumping into Figma.</figcaption>
        </figure>


        <div class="c-sshot--wrapped l-grid_of_9">
            <iframe class="c-integ_icon_prototype l-span_6" style="border: none;" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FRFzANidcL0o0khVI0bFPMs%2FScreenshots%3Fnode-id%3D185%253A2709%26viewport%3D1400%252C143%252C0.5432203412055969%26scaling%3Dmin-zoom" allowfullscreen></iframe>

            <div class="l-span_3 u-space_above--mob">
                <p class="c-caption u-space_below">After creating a couple of options for the Benchmark icon, I shared it with the Falcon design team for feedback. We chose the V2 after some refinements.</p>

                <p class="c-caption"><strong>Note:</strong> Click the prototype to see V2 and how these two options look when the menu is expanded. </p>
            </div>
        </div>
    </section>




    <!-- LEARNING SECTION -->
    <section>
        <h2 class="l-span_1">What I Learned</h2>

        <div class="l-span_4-10">
            <ul class="o-list--bullet">
                <li><strong>User story mapping:</strong> I would highly recommend this exercise. It helped me learn so much about digging deeper into the problem and build a shared understanding with a broader team. Won’t skip this again.</li>
                
                <li><strong>Miro:</strong> An excellent mapping tool for remote teams.</li>
            </ul>
        </div>
    </section>





    
    <hr class="u-space_below--most"/>





    <!-- MORE -->
    <section class="u-space_below--most">
        <h1 class="l-span_1 u-space_below--most">More Projects</h1>



        {% for entry in site.data.work %}
            {% if entry.page-title != "Project – Unmetric Falcon Integration" %}
                <div class="c-media {{ entry.class }} l-span_full u-space_below--most">
                    <a class="l-grid_of_9" href="{{ entry.link }}">
                        <div class="c-media__info l-span_3">
                            <h2>{{ entry.title }}</h2>
    
                            <p>{{ entry.desc }}</p>
    
                            <span>{{ entry.cta }}</span>
                        </div>
    
                        <img class="l-span_6-10" src="{{ entry.src }}" alt="{{ entry.alt }}"/>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </section>


</main>




{% include footer.html %}