---
layout: default
title: Project – Website, Blog and Newsletters
page-class: p-pr th-white
page-heading: 
page-description: Redesigning the most used UI component using the most sophisticated design tool – data.
---

{% include header.html %}

<main class="c-main">      
    <section class="u-space_below--most">
        <div class="l-span_3-9">
            <h1 class="u-space_below">Unmetric Website, Blog and Newsletters</h1>

            <p class="c-caption">2011–2020</p>
        </div>    
    </section>





    <section>
        <h2 class="l-span_2">What I did</h2>

        <ul class="u-cols--two l-span_4">
            <li>Art Direction</li>

            <li>Visual Design</li>
            
            <li>Responsive Design</li>

            <li>Information Architecture</li>

            <li>Content Strategy</li>

            <li>Curation</li>
        </ul>
    </section>





    <section>
        <h2 class="l-span_1">Unmetric Website</h2>

        <p class="l-span_3-9">From 2010, I have been leading all the redesigns and realigns of Unmetric website. In early years I worked closely with the CEO, later, we were joined by our Head of Marketing. Over the years, our marketing team tested different content approaches. I also led a cross functional team we assembled to redesign our flagship product (Analyze) page.</p> 

        <h3 class="l-span_3-9">Love it! Love it! Love it!</h3>

        <p class="l-span_3-9">On March 10, 2020, <a href="https://boagworld.com/boagworks" target="_blank"><strong>Paul Boag</strong></a> &mdash; a known <em>conversion rate optimization specialist</em> and <em>UX consultant</em>&mdash; <a href="https://smashingmagazine.zoom.us/rec/play/tJJ4deyupjs3GdaU5ASDAKdwW9XsL_is0CEY-6BZnUezU3IFYwejNbJBMedlNUogjvXGo6RDojWQjgjs?continueMode=true&tokenMeetingId=vvBHNYza82hLfKfK7kqFC6oIP5jCeaa81SFP8vsOmhrDV-4Ys_dOpOqiJ59m8sDh" target="_blank">reviewed the Unmetric homepage</a> along with 8 more sites in the <a href="https://www.smashingmagazine.com/smashing-tv/live-ux-review-with-paul-boag/" target="_blank">Live UX Review</a>. He said a lot of good things about Unmetric’s Homepage (shown below).</p>
        
        <ul class="o-list--bullet l-span_3-9 u-space_below--none">
            <li><strong>I love that line. It says what it does on the tin.</strong> (about the page title)</li>

            <li><strong>Love it. Love it. Love it. Solid!</strong> (after reading the subtitle)</li>

            <li><strong>I like this.</strong> (about the section below the CTA)</li>

            <li><strong>Good social proof.</strong> (about the testimonial)</li>

            <li><strong>This is quite nice!</strong> (about the benefits sections)</li>

            <li><strong>Yes, yes, I really like that!</strong> (testimonials in Benefits section)</li>

            <li><strong>This is a nice site.</strong> (after seeing the whole homepage for 5 mins)</p></li>
        </ul>

            
            

        <div class="c-sshot--wrapped l-grid_of_8">
            <img class="l-span_6 u-space_above--lap" src="/assets/i/sshots/web-homepage.png" alt="Unmetric Homepage"/>

            <img class="l-span_2 u-space_above" src="/assets/i/sshots/web-homepage-mobile.png" alt="Unmetric Homepage Mobile"/>

            <figcaption class="l-span_4 l-grid_flip_order">Unmetric homepage I designed in the mid 2019. I wrote most of the copy including the page title (hook), sub-title (value proposition) and section headings.</figcaption>
        </div>



        <h3 class="l-span_3-9">Let’s highlight the Jobs to be Done</h3>

        <p class="l-span_3-9">In 2019, we redesigned our website after we <a href="/case-study-branding.html">revisited our branding</a>. I recommended showcasing product benefits instead of focusing only on features and products. Other recommendation I had was adding “Why Unmetric” section. Here we listed all the main features customers want from a social benchmarking solution.</p>
            
        <p class="l-span_3-9">We also updated our “Solutions” menu and focused on social networks, use-cases and segments. This addressed everything our target audience asks during our sale pitches.</p>



        <div class="l-grid_of_8 l-span_full c-sshot--wrapped">
            <div class="l-span_3">
                <p class="c-caption">Revised Unmetric website navigation with <i class="u-break_line--hd"></i>“Why Unmetric” and “Solutions” menus.</p>

                <img class="l-span_full u-space_below" src="/assets/i/sshots/web-nav-mobile.png" alt="Unmetric Mobile Navigation"/>
            </div>

            <img class="l-span_5" src="/assets/i/sshots/web-nav.png" alt="Unmetric Navigation"/>
        </div>



        <figure class="l-span_full l-grid_of_8 c-sshot--wrapped">
            <img class="l-span_full u-space_above--lap" src="/assets/i/sshots/web-figma-proj-website.png" alt="Figma Unmetric Website Project"/>

            <figcaption class="l-span_3 l-grid_flip_order">Unmetric website project in Figma listing all the webpages I designed (with a time-stamp).</figcaption>
        </figure>    



        <div class="c-sshot--wrapped l-grid_of_8 l-span_full">
            <div class="l-span_full">
                <p class="c-caption">A few other pages.</p>
            </div>


            <div class="l-span_4 l-grid_of_4">
                <img class="l-span_full u-space_below" src="/assets/i/sshots/web-landing.png" alt="Unmetric Landing Page"/>

                <img class="l-span_full u-space_below" src="/assets/i/sshots/web-about.png" alt="Unmetric About Page"/>
            </div>

            <img class="l-span_4 u-space_below" src="/assets/i/sshots/web-pricing.png" alt="Unmetric Pricing Page"/>
        </div>
    </section>



    


    <section>
            <h2 class="l-span_1">Unmetric Blog</h2>


            <p class="l-span_3-7"></p>


            <figure class="l-grid_of_8 c-sshot--wrapped">
                <img class="l-span_full" src="/assets/i/sshots/web-figma-proj-blog.png" alt="Figma Unmetric Blog Project"/>

                <figcaption class="l-span_3 is-below">Figma project for Unmetric blog design <i class="u-break_line--hd"></i>showing a few directions I tried.</figcaption>
            </figure>
            

            <figure class="l-grid_of_8 c-sshot--wrapped">
                <img class="l-span_full" src="/assets/i/sshots/web-blog-home.png" alt="Figma Unmetric Blog"/>

                <figcaption class="l-span_6-9 l-grid_flip_order u-space_below">Unmetric blog redesign launched in 2019 along with the revised website. I handpicked the blog post cover photos (from Unsplash) based on the guidelines we established, i.e., no stock photos.</figcaption>
            </figure>
        </div>
    </section>






    <section>
        <h2 class="l-span_1">Email Newsletters</h2>

        <p class="l-span_3-7">I even used to code the email newsletters during the early years. <i class="u-break_line--hd"></i>It is a PITA :) and I don’t want to do it again.</p>

        <div class="c-sshot--wrapped l-grid_of_8 l-span_full">
            <img class="l-span_5 u-space_below" src="/assets/i/sshots/newsletter-blog.png" alt="Unmetric Blog Updates  Newsletter"/>


            <img class="l-span_3" src="/assets/i/sshots/newsletter-monthly.png" alt="Unmetric Monthly Newsletter"/>
        </div>    
    </section>
      



    





    <hr class="u-space_below--most"/>





    <!-- MORE -->
    <!-- <section>
        <h2>More Case Studies</h2>


        <div class="c-media l-span_5-9 u-space_below">
            <a href="/case-study-qas.html">
                <img src="/assets/i/sshots/cs-qas-cover.png" alt=""/>
                

                <div class="c-media__info">
                    <p>Saving months of extra work and balanced innovation with collaboration and communication.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>


        <div class="c-media l-span_4">
            <a href="/case-study-branding.html">
                <img src="/assets/i/sshots/cs-br-cover.png" alt=""/>
                

                <div class="c-media__info">
                    <p>Positioning Unmetric as a leader in social media analytics space and a premium brand.</p>

                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" fill="#aab3c2" stroke="#aab3c2">
                            <polyline fill="none" stroke="#aab3c2" stroke-miterlimit="10" points="9,2 23,16 9,30 " transform="translate(0, 0)"></polyline>
                        </g>
                    </svg>
                </div>
            </a>
        </div>
    </section> -->
</main>




{% include footer.html %}