---
layout: default
title: Work of Amrinder Sandhu
page-class: p-work
page-heading: Work
page-description: Apart from leading the product design, user experience, and front-end design, I’ve introduced processes and tools to align teams, improve communication, <i class="u-break_line--hd"></i> and increase productivity.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}
      



      
    <section class="c-section l-grid l-grid--section">
		    <h2 class="c-section__heading">Work-ing on it&hellip;</h2>
		        

    </section>    
</main>




{% include footer.html %}