---
layout: default
title: Amrinder Sandhu
page-class: p-work
page-heading: Work
page-description: Apart from leading the product design and user experience, Amrinder has introduced processes and tools to align teams, improve communication, and <i class="u-break_line--hd"></i>increase productivity.
---

{% include header.html %}

<main class="c-main l-grid">      
    {% include billboard.html %}
      
    <section class="c-section l-grid l-grid--section">
        <section class="c-section__content">
          <p>Amrinder has been leading and contributing to product design, user experience and front-end development for over a decade now. Along with developing and implementing user centred design vision, principles, strategy, processes and a design system to guide the development of products, he has collaborated cross-functionally with product, engineering, marketing, sales and customer support to build and maintain efficient process for user research and product development for delivering smooth and usable UI which has resulted in memorable UX. </p>
        </section>
    </section>
      
    <section class="c-section l-grid l-grid--section">
		<h2 class="c-section__heading">Work <br/>Highlights</h2>
		        
        <section class="c-section__content">
          <p>It was not always like this, Amrinder had a B.Tech in Computer Science and Engineering before he moved on to become a designer. However, his core area of interest has not changed during this move: solving problems. </p>
        </section>
    </section>    
</main>