
<header class="c-header"><strong class="c-name">Amrinder Sandhu</strong>
  <nav class="c-nav">
    <ul class="c-nav__list">
      <li class="c-nav__item"><a href="/" class="c-nav__link"> <strong>Home </strong><span>Sweet home</span></a></li>
      <li class="c-nav__item"><a href="work.html" class="c-nav__link is-active"> <strong>Work </strong><span>I’ve done</span></a></li>
      <li class="c-nav__item"><a href="books.html" class="c-nav__link"> <strong>Books </strong><span>I’ve read</span></a></li>
      <li class="c-nav__item"><a href="about.html" class="c-nav__link"> <strong>About </strong><span>Amrinder</span></a></li>
    </ul>
  </nav>
</header>