
<header class="c-header"><strong class="c-name"> <a href="/">Amrinder Sandhu</a></strong>
  <button id="menuToggle" type="button" class="c-menu_button c-menu_button--show"> <span>M</span><span>E</span><br/><span>N</span><span>U</span></button>
  <!--button.c-menu_button.c-menu_button--hide(type="button") 
  span H
  span I
  br
  span D
  span E
  
  
  
  -->
  <nav id="menuToggleMenu" class="c-nav">
    <ul class="c-nav__list">
      <li class="c-nav__item"><a href="/" class="c-nav__link c-nav__link--home">About</a></li>
      <!--li.c-nav__item
      a.c-nav__link.c-nav__link--work(href="work.html") Work
      
      
      -->
      <li class="c-nav__item"><a href="journal.html" class="c-nav__link c-nav__link--journal">Journal</a></li>
      <li class="c-nav__item"><a href="books.html" class="c-nav__link c-nav__link--books">Reading</a></li>
      <!--li.c-nav__item
      a.c-nav__link.c-nav__link--contact(href="contact.html") 
          strong Contact 
          span information
      -->
    </ul>
  </nav>
</header>