
<header class="c-header"> <a href="/" class="c-name"> <span>Amrinder </span><span>Sandhu</span></a>
  <nav class="c-nav">
    <ul class="c-nav__list">
      <li class="c-nav__item"><a href="/" class="c-nav__link c-nav__link--home">Work</a></li>
      <li class="c-nav__item"><a href="journal.html" class="c-nav__link c-nav__link--journal">Journal</a></li>
      <li class="c-nav__item"><a href="library.html" class="c-nav__link c-nav__link--library">Library</a></li>
      <li class="c-nav__item"><a href="about.html" class="c-nav__link c-nav__link--about">About</a></li>
    </ul>
  </nav>
</header>