
<div class="new-wrapper">
  <div class="new-lhs"><img src="/assets/i/photos/amrinder-113.png" class="new-photo"/>
    <h1 class="new-h1">Amrinder Sandhu is a software designer <span class="css-break"></span>with over 15 years for experience in designing <span class="css-break"></span>digital products, design systems, and websites.</h1>
    <ul class="new-contact-links">
      <li><a href="#">Email</a></li>
      <li><a href="https://www.linkedin.com/in/amrindersandhu/">LinkedIn</a></li>
      <li><a href="https://github.com/amrindersandhu">GitHub</a></li>
    </ul>
  </div>
  <section class="new-main">
    <div class="new-work">
      <time>2020&ndash;Current</time>
      <h2>
         
        Staff Designer, <a href="https://www.postman.com/home">Postman</a>
      </h2>
      <p>Built design system from scratch and led product and website redesigns.</p>
    </div>
    <div class="new-work">
      <time>2013&ndash;20</time>
      <h2>
         
        Design Director, <a href="https://www.unmetric.com">Unmetric</a>
      </h2>
      <p>Designed 3 core products from scratch used by Coca Cola, Unilever, and GM.</p>
    </div>
    <div class="new-work">
      <time>2008&ndash;13</time>
      <h2>Lead Designer, <a href="https://www.designbyanaami.com">Design by Anaami</a></h2>
      <p>Worked as a lead designer with clients like Intel, Zomato, and Grasshopper.</p>
    </div>
  </section>
</div>