// -----------------------------------------------------------------------------
// BILLBOARD
// -----------------------------------------------------------------------------


.c-billboard {
    background: #fff;
    grid-column-start: 1;
    grid-column-end: 11;
    padding: 200px 100px;
    margin: 0 0 100px -100px;
    position: relative;
    z-index: 9;
}


.c-billboard__title {
    padding-left: 125px;
    position: relative;
    text-transform: uppercase;

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 50%;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: $color-grey-darker;
    }
}

.p-about {
    .c-billboard__title::before {
        top: 64px;
    }
}


.c-billboard__blurb {
    font-size: $font-size-l;
    font-weight: bold;
    color: $color-grey-dark;
    letter-spacing: -1px;
    line-height: 1.1;
}