// -----------------------------------------------------------------------------
// SECTION
// -----------------------------------------------------------------------------


.c-section {
    display: grid;
    grid-template-columns: 1fr;
    
    @include media-query(hd) {
        column-gap: 25px;
        grid-template-columns: repeat(10, 100px);   
        grid-column: 1/-1;
    }
}





.c-section__heading {
    grid-column: 1/-1;
}





.c-section__content {
    margin: 0 25px;   
    z-index: 9;

    @include media-query(hd) {
        grid-column: 1/-1;
        margin: 30px;
        max-width: 100vw;
        grid-column: 6/-1;  
    }
}





.c-section__col {
    grid-column: 3/5;
}

