// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------



.c-name {
    position: relative;
    padding-left: 125px;
    line-height: 1;

    &::before {
        background-color: $color-grey-lighter;
        content: "";
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        top: 20px;
        width: 27%;
    }
}