// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.c-header { 
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px;

    @include media-query(hd) {
        column-gap: 25px;
        grid-template-areas: "name name name name . nav nav nav nav nav";
        grid-template-columns: repeat(10, 100px);   
        grid-template-rows: 100px;
        grid-column: 1/-1;      
    }
}


.c-name {
    color: $color-text-lighter;
    display: inline-block;
    font-size: $font-size-s;
    font-weight: bold;
    line-height: 1;
    padding-left: 25px;
    position: relative;
    text-transform: uppercase;

    &::before {
        background-color: $color-grey-lighter;
        content: "";
        display: block;
        height: 3px;
        left: 0;
        position: absolute;
        top: 14px;
        width: 27px;
    }

    @include media-query(hd) {
        font-size: $font-size-m;
        grid-area: name;
        padding-left: 125px;

        &::before {
            height: 5px;
            top: 20px;
            width: 27%;
        }
   }
}




.c-nav {
    grid-area: nav;
}