// -----------------------------------------------------------------------------
// BILLBOARD
// -----------------------------------------------------------------------------




.c-billboard__title {
    position: relative;
    text-transform: uppercase;
    grid-column: 1/8;

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        width: 30px;
        left: -25px;
        top: 50%;
        transform: translate(0, -50%);
        background-color: $color-grey-darker;
    }

    @include media-query(hd) {
        grid-column: 1/4;
        padding-left: 125px;

        &::before {
            height: 15px;
            width: 145px;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
   }
}


.c-billboard {
    background: #fff;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto auto;
    padding: 50px 25px;
    position: relative;
    width: calc(100vw - 25px);
    z-index: 9;
    
    @include media-query(hd) {
        align-items: center;
        column-gap: 25px;
        grid-template-columns: repeat(10, 100px);   
        margin-bottom: 100px;
        padding: 200px 0;
        width: auto;


        .c-billboard__link {
            grid-column: 3/4;
        }
    }
}





.p-about {
    .c-billboard__title::before {
        top: 64px;
    }
}





.c-billboard__blurb {
    grid-column: 1/8;
    font-size: $font-size-s;
    font-weight: bold;
    color: $color-grey-dark;
    line-height: 1.1;

    @include media-query(hd) {
        grid-column: 3/10;
        font-size: $font-size-l;
        letter-spacing: -1px;
   }
}




.c-billboard__link {
    grid-column: 1/8;
}