// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------



$as-font-size-xl: 40px;
$as-font-size-l: 30px;
$as-font-size-m: 20px;
$as-font-size-s: 16px;
$as-font-size-xs: 14px;


$as-line-height-xl: 50px;
$as-line-height-l: 35px;
$as-line-height-m: 32px;
$as-line-height-s: 24px;
$as-line-height-xs: 21px;

$as-font-weight-bold: 600; 







body,
p,
ul,
table {
    font-size: $as-font-size-s;
    line-height: $as-line-height-s;
    font-weight: 300;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        line-height: $as-line-height-m;
    }
}


h1 {
    font-size: $as-font-size-l;
    font-weight: $as-font-weight-bold;
    letter-spacing: -1px;
    line-height: $as-line-height-l;

    @include media-query(hd) {
        font-size: $as-font-size-xl;
        line-height: $as-line-height-xl;
    }
}


h2 {
    font-size: $as-font-size-m;
    font-weight: $as-font-weight-bold;
    letter-spacing: -1px;
    line-height: $as-line-height-m;
    margin-bottom: 15px;

    @include media-query(hd) {
        font-size: $as-font-size-l;
        line-height: $as-line-height-l;
        margin-bottom: 30px;
    }
}


h3 {
    font-size: $as-font-size-s;
    font-weight: $as-font-weight-bold;
    line-height: $as-line-height-s;
    margin-bottom: 15px;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        line-height: $as-line-height-m;
        letter-spacing: -1px;
        margin-bottom: 30px;
    }
}



h4 {
    font-size: $as-font-size-s;
    font-weight: $as-font-weight-bold;
    line-height: 20px;
    margin-bottom: 10px;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        letter-spacing: -1px;
        line-height: 30px;
    }
}



p {
    margin-bottom: 21px;

    @include media-query(hd) {
        margin-bottom: 30px;
    }
}


em,
i {
    font-style: italic;
}


strong,
b {
    font-weight: $as-font-weight-bold;
}


small {
    font-size: $as-font-size-xs;
    line-height: $as-line-height-xs;

    @include media-query(hd) {
        font-size: $as-font-size-s;
        line-height: $as-line-height-s;
    }
}


a {
    border-bottom: 1px solid;
    color: $color-grey-darker;
    text-decoration: none;

    @include media-query(hd) {
        &:hover {
            border-width: 3px;
        }
    }
}


blockquote {

    &:not(.c-caption) {
        border-left: 5px solid rgba(black, .1);
        border-radius: 5px;
        padding: 15px 30px;
        margin-bottom: 30px;

        @include media-query(hd) {
            padding: 30px 60px;
            margin-bottom: 60px;
        }

        p {
            color: rgba(black, .75);
            font-style: italic;
        }

        footer {
            color: rgba(black, .5);
            font-size: $as-font-size-xs;

            @include media-query(hd) {
                font-size: $as-font-size-s;
            }
        }
    } 

    &.c-caption p {
        hyphens: none;
        font-size: $as-font-size-xs;
        font-style: italic;
        line-height: $as-line-height-xs;
    }
}


hr {
    border-width: 1px 0 0;
    border-color: rgba(black, .15);
    border-style: solid;
    margin: 0;
}


main {
    h2 {
        transform: translateY(-5px);
    }

    p {
        hyphens: auto;

        &:last-child {
            margin-bottom: 30px;

            @include media-query(hd) {
                margin-bottom: 60px;
            }
        }

        + h3 {
            margin-top: 30px;

            @include media-query(hd) {
                margin-top: 60px;
            }
        }

        .no-hypens {
            hyphens: none;
        }
    }

    img,
    video {
        max-width: 100%;
    }
}


figcaption,
.c-caption {
    color: rgba(black, .5);
    font-size: $as-font-size-xs;
    line-height: $as-line-height-xs;

    a {
        color: rgba(black, .5); 
    }

    .as-icon {
        position: relative;
        top: 2px;

        g,
        polygon {
            fill: rgba(black, .35);
        }
    }

    &.is-below {
        margin-top: 15px;
    }
}



ul, ol {

    li {
        margin-bottom: 5px;
    }
}


.o-list--ordered,
.o-list--bullet {
    font-size: $as-font-size-s;
    list-style-position: outside;
    margin: 0 0 30px 30px;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        margin-bottom: 45px;
    }
}


.o-list--ordered {
    list-style-type: decimal;
}


.o-list--bullet {
    list-style-type: disc;
}

