// -----------------------------------------------------------------------------
// #GRID
// -----------------------------------------------------------------------------

// html {
//     height: 100%; 
// }

// body {
//     display: flex;
//     margin: 0;
//     max-width: 100%;
//     height: 100%; 
// }

// header {
//     position: fixed;
//     background-color: red;
//     width: 25%;
//     height: 100%;
// }

// main {
//     position: relative;
//     width: 75%;
//     left: 25%;
// }

.l-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 25px;
}


.l-col1of1 {
    grid-column: 1/-1;
}

.l-col2of10 {
    grid-column: span 2;
}


.l-col3of10 {
    grid-column: span 3;
}


.l-col4of10 {
    grid-column: span 4;
}


.l-col5of10 {
    grid-column: span 5;
}


.l-col6of10 {
    grid-column: span 6;
}


.l-col7of10 {
    grid-column: span 7;
}


.l-col8of10 {
    grid-column: span 8;
}


.l-col9of10 {
    grid-column: span 9;
}

.l-start-5 {
    grid-column-start: 5;
}


.p-template [class*='l-col'] {
    background-color: rgba(red, .1);
    justify-content: center;
    display: flex;
    margin-bottom: 25px;

    p {
        font-size: 16px;
        margin-top: 25px;
    }
}