// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------



$as-font-size-xxl: 36px;
$as-font-size-xl: 27px;
$as-font-size-l: 21px;
$as-font-size-m: 18px;
$as-font-size-s: 16px;
$as-font-size-xs: 14px;


$as-line-height-xxl: 45px;
$as-line-height-xl: 32px;
$as-line-height-l: 30px;
$as-line-height-m: 30px;
$as-line-height-s: 24px;
$as-line-height-xs: 18px;

$as-font-weight-bold: 600; 







body,
p,
ul,
table {
    font-size: $as-font-size-s;
    line-height: $as-line-height-s;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        line-height: $as-line-height-m;
    }
}


h1, h2 {
    font-family: 'Playfair Display', serif;
}

// .c-testimonial blockquote {
//     font-family: 'Playfair Display', serif;
// }


h1 {
    font-size: 24px;
    font-weight: $as-font-weight-bold;
    letter-spacing: -1px;
    line-height: $as-line-height-xl;

    @include media-query(hd) {
        font-size: 36px;
        line-height: $as-line-height-xxl;
    }
}


h2 {
    font-size: 21px;
    font-weight: $as-font-weight-bold;
    line-height: $as-line-height-l;
    margin-bottom: 15px;

    @include media-query(hd) {
        font-size: 24px;
        line-height: $as-line-height-xl;
        margin-bottom: 30px;
    }
}


h3 {
    font-size: 18px;
    font-weight: $as-font-weight-bold;
    line-height: 24px;
    margin-bottom: 15px;

    @include media-query(hd) {
        font-size: 21px;
        line-height: $as-line-height-l;
        letter-spacing: -1px;
    }
}



h4 {
    font-size: 15px;
    font-weight: $as-font-weight-bold;
    line-height: 20px;
    margin-bottom: 10px;

    @include media-query(hd) {
        font-size: 18px;
        line-height: 30px;
    }
}



p {
    margin-bottom: 21px;

    @include media-query(hd) {
        margin-bottom: 30px;
    }
}


em,
i {
    font-style: italic;
}


strong,
b {
    font-weight: $as-font-weight-bold;
}


small {
    font-size: $as-font-size-xs;
    line-height: $as-line-height-xs;

    @include media-query(hd) {
        font-size: $as-font-size-s;
        line-height: $as-line-height-s;
    }
}


a {
    border-bottom: 1px solid;
    color: $color-grey-darker;
    text-decoration: none;

    &:hover {
        border-bottom-color: $color-grey-darker !important;
    }
}


blockquote {

    &:not(.c-caption) {
        border-left: 5px solid rgba(black, .1);
        border-radius: 5px;
        padding: 9px 0 9px 21px;
        margin-bottom: 30px;

        @include media-query(hd) {
            padding: 30px 60px;
            margin-bottom: 60px;
        }

        p {
            color: rgba(black, .75);
            font-style: italic;
        }

        footer {
            color: rgba(black, .5);
            font-size: $as-font-size-xs;

            @include media-query(hd) {
                font-size: $as-font-size-s;
            }
        }
    } 

    &.c-caption p {
        hyphens: none;
        font-size: $as-font-size-s;
        font-style: italic;
        line-height: $as-line-height-s;
    }
}


hr {
    border-radius:  0 0 3px 3px;
    border-width: 3px 0 0;
    border-color: rgba(black, .03);
    border-style: solid;
    margin: 0;
}


main {
    h2 {
        transform: translateY(-3px);
    }

    p {
        hyphens: auto;

        + h3 {
            margin-top: 45px;
        }
    }

    img,
    video {
        max-width: 100%;
    }
}


.no-hypens {
    hyphens: none;
}


figcaption,
.c-caption {
    color: rgba(black, .5);
    font-size: $as-font-size-xs;
    line-height: $as-line-height-xs;
    margin-bottom: 0;

    a {
        color: rgba(black, .5); 
    }

    .as-icon {
        position: relative;
        top: 2px;

        g,
        polygon {
            fill: rgba(black, .35);
        }
    }

    &.is-below {
        margin-top: 15px;
    }

    @include media-query(hd) {
        font-size: 15px;
        line-height: 22px;
    }
}



ul, ol {

    li {
        margin-bottom: 15px;
    }
}


.o-list--ordered,
.o-list--bullet {
    font-size: $as-font-size-s;
    list-style: none;
    margin: 0 0 30px 30px;
    position: relative;

    li {
        position: relative;
    
        &::before {
            display: inline-block;
            width: 30px; 
            padding-right: 15px;
            margin-left: -30px;
            text-align: right; 
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-query(hd) {
        font-size: $as-font-size-m;
    }
}


.o-list--ordered {
    counter-reset: li;

    li {
        counter-increment: li;
        position: relative;
    
        &::before {
            content: counter(li);
            color: red;
            direction: rtl;
            width: 30px;
            text-align: right; 
        }

        &::after {
            content: ".";
            color: red;
            display: inline-block;
            left: -15px;
            position: absolute;
            top: 0;
            width: 30px;
        }
    }
}


.o-list--bullet {

    li:before {
        color: rgba(black, .3);
        content: "*";
        font-family: monospace;
        font-size: 20px;
        vertical-align: baseline;
        position: relative;
        top: 1px;
    }
}


.c-dropcap {
    display: inline-block;
    font-size: 51px;
    font-style: normal;
    font-weight: 200;
    float: left;
    line-height: 1;
    margin-right: 3px;

    &:before,
    &:after {
    content: "";
    display: block;
    }

    &:before {
        margin-bottom: -1px;
    }

    &:after {
        margin-top: 0;
    }
}