// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
*/
html {
    box-sizing: border-box;
}
  
/**
  * Make all elements from the DOM inherit from the parent box-sizing
  * Since `*` has a specificity of 0, it does not override the `html` value
  * making all elements inheriting from the root box-sizing value
  * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
	color: $color-grey-darker; 
	font-size: 62.5%; 
	font-family: $as-sans-font-family;
	font-weight: 400;
	line-height: 1.5;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;

	&.is-fixed {
		overflow: hidden;
	}
}




main,
.c-footer {
	@include media-query(portable) {
		margin: 20vw auto 2vw;
	}

	@include media-query(palm) {
		margin: 20vw 30px 0;
	}

	@include media-query(hd) {
		margin: 84px auto 0 auto;
		max-width: 1140px;
		padding-left: 120px;
	}

	@include media-query(tv) {
	}
	
	section {
		margin-bottom: 60px;

		@include media-query(hd) {
			display: grid;
			grid-template-columns: repeat(9, 90px);
			grid-column-gap: 30px;
			margin-bottom: 90px;

			&:first-child {
				margin-bottom: 30vh;
			}

		}
	}

	img,
	video {
		box-shadow: 0 5px 30px rgba(black, .05);
	}
}



header,
main,
.c-footer {

	@include media-query(portable) {
		max-width: 570px;
	}
}



figure {

	@include media-query(portable) {
        img,
        video {
            
           + figcaption,
           + .c-caption {
               margin-top: 15px;
           } 
        }
    }
}


.c-dp_analysis {
	height: 240px;
	width: 85vw;

	@include media-query(hd) {	
		width: 690px;
		height: 480px !important;
	}
}



.c-dp_prototype {
	width: 100%;

	@include media-query(hd) {	
		width: 690px;
		height: 570px;
	}
}


.c-integ_icon_prototype {
	height: 165px;
	width: 100%;

	@include media-query(hd) {	
		width: 690px;
		height: 720px;
	}
}


.c-integ_flow_prototype {
	height: 240px;
	width: 100%;
	
	@include media-query(hd) {	
		width: 1050px;
		height: 1000px;
	}
}


.c-progress {
	height: 3px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}


.c-progress__container {
	height: 3px;
	position: fixed;
	width: 100%;
  }
  
.c-progress__bar {
	background: #4caf50;
	height: 3px;
	width: 0%;
}



.p-work h1 {
	position: relative;

	@include media-query(palm) {
		span {
			display: block;
			font-size: 48px;
			margin-bottom: 12px;
		}
	}
	

	@include media-query(hd) {
		margin-right: -30px;

		&::first-line {
			text-indent: -214px;
		}
	}
}



$avatar-size: 300px;


.p-about h1 {
	position: relative;
	margin-right: -30px;

	&::before{
		background: url('/assets/i/photos/amrinder-11.jpg') no-repeat center;
	    background-color: $theme-color-41;
	    background-size: $avatar-size $avatar-size;
	    border: 3px solid white;
	    content: "";
	    display: block;
	    height: $avatar-size;
	    position: absolute;
	    top: -12px;
	    left: -360px;
	    width: $avatar-size;
	    border-radius: 300px;
	    background-blend-mode: darken;
	}

	span {
		font-family: $as-sf-font-family;
		opacity: .3;
	}
}
