// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------


$as-font-size-xxl: 45px;
$as-font-size-xl: 35px;
$as-font-size-l: 25px;
$as-font-size-m: 20px;
$as-font-size-s: 16px;
$as-font-size-xs: 14px;


$as-line-height-xxl: 50px;
$as-line-height-xl: 40px;
$as-line-height-l: 28px;
$as-line-height-m: 32px;
$as-line-height-s: 24px;
$as-line-height-xs: 21px;

$as-font-weight-bold: 600; 







body,
p,
ul,
table {
    font-size: $as-font-size-s;
    line-height: $as-line-height-s;
    font-weight: 300;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        line-height: $as-line-height-m;
    }
}


h1 {
    font-size: $as-font-size-xl;
    font-weight: $as-font-weight-bold;
    letter-spacing: -1px;
    line-height: $as-line-height-xl;

    @include media-query(hd) {
        font-size: $as-font-size-xxl;
        line-height: $as-line-height-xxl;
    }
}


h2 {
    font-size: $as-font-size-l;
    font-weight: $as-font-weight-bold;
    letter-spacing: -1px;
    line-height: $as-line-height-l;
    margin-bottom: 25px;

    @include media-query(hd) {
        font-size: $as-font-size-xl;
        line-height: $as-line-height-xl;
    }
}


h3 {
    font-size: $as-font-size-m;
    font-weight: $as-font-weight-bold;
    letter-spacing: -0.5px;
    line-height: $as-line-height-s;
    margin-bottom: 25px;

    @include media-query(hd) {
        font-size: $as-font-size-l;
        line-height: $as-line-height-l;
        letter-spacing: -1px;
    }
}



h4 {
    font-size: $as-font-size-s;
    font-weight: $as-font-weight-bold;
    line-height: 20px;
    margin-bottom: 10px;

    @include media-query(hd) {
        font-size: $as-font-size-m;
        line-height: 25px;
    }
}



p {
    margin-bottom: 25px;

    @include media-query(hd) {
        
    }
}


em {
    font-style: italic;
}


strong {
    font-weight: $as-font-weight-bold;
}


small {
    font-size: $as-font-size-xs;
    line-height: $as-line-height-xs;

    @include media-query(hd) {
        font-size: $as-font-size-s;
        line-height: $as-line-height-s;
    }
}


a {
    border-bottom: 1px solid;
    color: $color-grey-darker;
    text-decoration: none;

    @include media-query(hd) {
        &:hover {
            border-width: 3px;
        }
    }
}


main p {
    hyphens: auto;
}


.o-list--bullet {
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 10px;
    margin-left: 25px;

    @include media-query(hd) {
        margin-top: 25px;
    }

    li {
        margin-top: 5px;
    }
}