// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
*/
html {
	background-color: $theme-bg-light-1;
    box-sizing: border-box;
}
  
/**
  * Make all elements from the DOM inherit from the parent box-sizing
  * Since `*` has a specificity of 0, it does not override the `html` value
  * making all elements inheriting from the root box-sizing value
  * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
	color: $color-grey-darker; 
	font: 62.5% I0nter, -apple-system, BlinkMacSystemFont, sans-serif; 
	line-height: 1.5;
	overflow-x: hidden;

	@include media-query(hd) {
		margin: 0 auto;
		max-width: 1280px;
	}
}

header {

	@include media-query(hd) {
		border-right: 1px solid rgba(black, .1);
		position: fixed;
		top: 3vw;
		bottom: 3vw;
		left: 0;
		width: 20%;
	}
}


main {
	margin: 20vw 30px 0;

	@include media-query(hd) {
		margin: 20vw 0 0 350px;
	}
	
	section {
		margin-bottom: 60px;

		@include media-query(hd) {
			display: grid;
			grid-template-columns: repeat(8, 90px);
			grid-column-gap: 30px;
			margin-bottom: 90px;
		}
	}

	img {
		box-shadow: 0 5px 30px rgba(black, .05);
	}
}



figure {

	@include media-query(palm) {
        img,
        video {
            
           + figcaption,
           + .c-caption {
               margin-top: 15px;
           } 
        }
    }
}


.c-dp_analysis {
	height: 240px;
	width: 85vw;

	@include media-query(hd) {	
		width: 690px;
		height: 480px;
	}
}



.c-dp_prototype {
	width: 100%;

	@include media-query(hd) {	
		width: 690px;
		height: 570px;
	}
}


.c-integ_icon_prototype {
	height: 165px;
	width: 100%;

	@include media-query(hd) {	
		width: 690px;
		height: 720px;
	}
}


.c-integ_flow_prototype {
	height: 240px;
	width: 100%;
	
	@include media-query(hd) {	
		width: 930px;
		height: 1000px;
	}
}
