// -----------------------------------------------------------------------------
// ENTRY / JOURNAL ENTRY
// -----------------------------------------------------------------------------

.c-entry {
    margin-bottom: 30px;
    
    @include media-query(hd) {
        margin-bottom: 50px;
    }
}


.c-entry_comment {
    font-size: $as-font-size-m;
    line-height: 1.4;

    @include media-query(hd) {
        margin-top: 3px;
        padding-left: 30px;
    }
}


.c-entry__content {

}


.c-section__col--1to4 {
    @include media-query(hd) {
        grid-column: 1/4 !important;
    }
}

.c-entry__blurb {
    display: block;
}


    .c-entry__link {
        border-bottom: 0;
        color: $color-text-light;
        display: block;

        &:hover {
            .c-entry__content__heading {
                border-color: $theme-bg-bright-4;
                border-width: 2px;
                color: $color-text-base;
            }

            p {
                color: $color-text-base;
            }
        }
    }


    .c-entry__embed {
        margin-top: 30px;

        @include media-query(hd) {
            margin: 50px 0 0 55px;
        }
    }


    .c-entry__content__heading {
        border-bottom: 1px solid $color-grey-lighter;
        display: inline;
        max-width: 500px;

        & + p {
            margin-top: 15px;
        }
    }