// -----------------------------------------------------------------------------
// #CASE-STUDY – HOMEPAGE
// -----------------------------------------------------------------------------

.c-media {
    border-radius: 9px;
    position: relative;
    margin: 0 -30px;

    @include media-query(hd) {
        align-items: center;
        display: flex;
        height: 690px;
    }
    

    a {
        align-items: center;
        border: none;
    }

    p {
        hyphens: none;
    }

    img {
        display: flex;
        box-shadow: none;
        z-index: 2;

        &.has-shadow {
            box-shadow: 0 0 15px rgba(black, .15);
            padding: 9px;
            margin-bottom: 15px;
        }

        @include media-query(hd) {
            position: absolute;
            left: 480px;
            top: 0;
            max-height: 690px;

            &.has-shadow {
                box-shadow: 0 0 30px rgba(black, .15);
                border-radius: 9px;
                padding: 15px;
                margin-bottom: 0;
            }
        }
    }
    

    &:last-child {
        margin-bottom: 0 !important;
    }
}





.c-media__info {
    align-items: center;
    position: relative;
    z-index: 2;

    @include media-query(portable) {
        max-width: 330px;
        padding: 45px 30px 15px;
    }

    @include media-query(hd) {
        margin-left: 120px;
    }

    

    time {
        color: #999;
        display: block;
        font-size: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 15px;

        @include media-query(hd) {
            margin-bottom: 30px;
        }
    }

    span {
        display: inline-block;
        color: #999;
        margin-bottom: 30px;

        @include media-query(hd) {
            margin-bottom: 0;
        }
    }
}






@mixin media-theme($media-col-1) {

    &:before {
        background-color: $media-col-1;
        //border: 15px solid $media-col-1;
        border-radius: 900px;
        content: "";
        display: block;
        height: 300px;
        margin-left: -60px;
        margin-top: -60px;
        position: absolute;
        width: 300px;
    }

    @include media-query(portable) {
        &:before {
            margin-left: -75px;
            height: 480px;
            width: 480px;
        }
    }

    @include media-query(palm) {
        &:before {
            height: 420px;
            width: 420px;
        }
    }

    @include media-query(hd) {
        &:before {
            margin-top: 0;
            height: 630px;
            width: 630px;
        }
    }
}




.c-media--dp {
    @include media-theme(#b2ebf2);

    img:first-child {
        z-index: 3;

        @include media-query(hd) {
            top: 240px;
            width: 640px;
        }
    }

    img:nth-child(2) {
        display: none;

        @include media-query(hd) {
            display: block;
            margin-left: 90px;
            width: 840px;
        }
    }
}

.c-media--ana {
    @include media-theme(#dcd6f7);

    img:first-child {
        z-index: 4;

        @include media-query(hd) {
            top: 210px;
            width: 775px;
        }
    }

    img:nth-child(2) {
        z-index: 3;
        display: none;

        @include media-query(hd) {
            display: block;
            border-radius: 6px;
            box-shadow: 0 0 30px rgba(black, .15);
            top: 30px;
            margin-left: 39px;
            width: 360px;
        }
    }

    img:nth-child(3) {
        display: none;

        @include media-query(hd) {
            display: block;
            border-radius: 6px;
            box-shadow: 0 0 30px rgba(black, .15);
            top: -30px;
            margin-left: 380px;
            width: 360px;
        }
    }


    img:nth-child(4) {
        display: none;

        @include media-query(hd) {
            display: block;
            border-radius: 6px;
            box-shadow: 0 0 30px rgba(black, .15);
            top: 47px;
            margin-left: 660px;
            width: 240px;
        }
    }
}

.c-media--dis {
    @include media-theme(#a3f7bf);
}

.c-media--int {
    @include media-theme(#fff3cd);//(#b9cced);
}

.c-media--qas {
    @include media-theme(#bae8e8);
}

.c-media--unds {
    @include media-theme(#d8ebb5);//(#c3edea);
}

.c-media--web {
    @include media-theme(#dcd6f7);

    img:first-child {
        z-index: 4;
        display: none;

        @include media-query(hd) {
            display: block;
            box-shadow: 0 0 15px rgba(black, .15);
            border-radius: 24px;
            padding: 9px;
            top: 360px;
            width: 168px;
        }
    }

    img:nth-child(2) {
        z-index: 3;

        @include media-query(hd) {
            top: 30px;
            margin-left: 39px;
            width: 570px;
        }
    }

    img:nth-child(3) {
        display: none;

        @include media-query(hd) {
            display: block;
            top: -30px;
            margin-left: 360px;
            width: 570px;
        }
    }
}

.c-media--br {
    @include media-theme(#B5E0FF);
}