// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------



.c-footer {
    margin: 0 30px 30px;
    
    @include media-query(hd) {
        bottom: 30px;
        left: 0;
        margin: 0;
        position: fixed;
        width: 20%;
        text-align: center;
    }


    small,
    a {
        color: $color-grey-light;
        font-size: $as-font-size-xs;
    }
}