// -----------------------------------------------------------------------------
// ENTRY / JOURNAL ENTRY
// -----------------------------------------------------------------------------

.c-entry {
    margin-bottom: 25px;
    
    @include media-query(hd) {
        margin-bottom: 50px;
    }
}


.c-entry__content {
    
    @include media-query(hd) {
        margin-top: 10px;
    }
}


.c-entry__heading {
    font-size: $font-size-s;
    line-height: 1.2;
    margin-bottom: 25px;

    @include media-query(hd) {
        font-size: $font-size-m;
        margin-bottom: 10px;
    }

    @include media-query(portable) {
        padding: 0 125px 0 25px;
    }
}

.c-section__col--1to4 {
    @include media-query(hd) {
        grid-column: 1/4 !important;
    }
}

.c-entry__blurb {
    //border-left: 6px double $color-grey-lighter;
    display: block;
    // margin-top: 10px;
    // padding-left: 50px;
}





    .c-entry__link {
        border-bottom: 0;
        color: $color-text-light;
        display: block;

        &:hover {
            .c-entry__content__heading {
                border-color: $theme-bg-bright-4;
                border-width: 2px;
                color: $color-text-base;
            }

            p {
                color: $color-text-base;
            }
        }

        @include media-query(hd) {
            p {
                margin-top: 25px !important;
            }
        }
    }


    .c-entry__embed {
        margin-top: 25px;

        @include media-query(hd) {
            margin: 50px 0 0 55px;
        }
    }


    .c-entry__content__heading {
        border-bottom: 1px solid $color-grey-lighter;
        display: inline;
        line-height: 1.3;

        & + p {
            margin-top: 25px;
        }
    }


        // .c-entry__author {
        //     color: $color-text-light;
        //     font-size: $font-size-xs;
        //     line-height: 1.5;
        //     text-transform: uppercase;

        //     @include media-query(hd) {
        //         font-size: $font-size-s;
        //         margin-top: 15px;
        //     }
        // }