// -----------------------------------------------------------------------------
// #PHOTOS
// -----------------------------------------------------------------------------


.c-photo {
    margin-bottom: 30px;
    position: relative;

    img {
        display: flex;
    }

    figcaption {
        font-weight: 400;
        text-align: center;
        
    }
    
    @include media-query(hd) {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        overflow: hidden;

        figcaption {
            backdrop-filter: blur(20px);
            background-color: rgba(black, .3);
            border-radius: 6px;
            color: rgba(white, .85);
            padding: 3px 12px 4px;
            position: absolute;
            transform: translateY(50px);
            transition: .2s transform ease;
        }

        &:hover {
            figcaption {
                transform: translateY(-9px);
            }
        }
    }

}