// -----------------------------------------------------------------------------
// #CASE-STUDY – HOMEPAGE
// -----------------------------------------------------------------------------

.c-case_study {

    a {
        background-color: white;
        border: none;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
        display: block;

        &:hover {
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); 
        }
    }

    p {
        hyphens: none;
        padding-right: 15px;
    }

    img {
        box-shadow: none;
    }

    @include media-query(hd) {
        p {
            padding-right: 72px;
        }

    }
}


.c-case_study__info {
    align-items: center;
    display: grid;
    grid-template-columns: 5fr 36px;
    margin: 15px 20px 9px 24px;

    svg {
        height: 36px;
        width: 36px;
        margin-top: -20px;
    }

    @include media-query(hd) {
        grid-template-columns: 5fr 48px;
        margin: 24px 30px 5px;

        svg {
            height: 48px;
            margin-top: -27px;
            width: 48px;
        }
    }
}