// -----------------------------------------------------------------------------
// BILLBOARD
// -----------------------------------------------------------------------------


.c-billboard {
    align-items: center;
    background: #fff;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto auto;    
    position: relative;
    width: calc(100vw - 25px);
    z-index: 9;
    position: relative;    
    overflow: hidden;
    height: auto;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        border-bottom: 50px solid white;
        border-left: 50px solid transparent;
    }
    
    @include media-query(desk) {
        height: 580px;
        column-gap: 0;
        grid-template-columns: repeat(12, auto);   
        //margin-bottom: 100px;        
        width: auto;

        &::after {
            border-bottom-width: 100px;
            border-left-width: 100px;
        }


        .c-billboard__link {
            grid-column: 3/4;
        }
    }
    
    
    @include media-query(portable) {
        grid-template-columns: repeat(12, auto);
        padding: 50px 25px;
    }
}


.c-billboard__title {
    position: absolute;
    color: rgba(white, .25);
    font-weight: 900;
    letter-spacing: -20px;
    margin-left: -15px;
    position: absolute;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    z-index: 1;

    @include media-query(hd) {
        writing-mode: horizontal-tb;
        animation: in 3s ease-out forwards ;
        animation-delay: 0s;
        opacity: 0;
        //grid-column: 1/4;
        //padding-left: 125px;
   }
}


@keyframes in {
  0%{
    letter-spacing: 0px;
    opacity: 0;
  }
  100%{
    letter-spacing: -75px;
    opacity: 1;
  }
}


.c-billboard__blurb {    
    font-size: $font-size-m;
    font-weight: 700;
    color: $color-grey-darker;
    line-height: 1.1;    
    z-index: 2;
    animation: blurb 3s ease-out forwards ;
    animation-delay: 0s;

    @include media-query(desk) {
        line-height: 1.2;
        text-shadow: 0 0 20px rgba(black, .15);
        grid-column: 3/11;
        font-size: $font-size-l;
        letter-spacing: -1px;
        position: absolute;   
    }

    @include media-query(portable) {
       margin-top: 0;
    }
}

@keyframes blurb {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




.c-billboard__link {
    grid-column: 1/8;
}





.c-billboard__anime {    
    position: relative;    
    width: 100%;
    background-color: white;
    transition: 1s background-color;

    @include media-query(desk) {
        height: 580px;
    }

    @include media-query(palm) {
       display: none;
    }
}