// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------



.c-footer {
    margin: 0 30px 30px;
    
    @include media-query(hd) {
        margin: 0 0 3vw 350px;
    }


    small,
    a {
        color: $color-grey-light;
        font-size: $as-font-size-xs;
    }
}