// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.c-header {
    position: relative;

    @include media-query(portable) {
		margin: 0 auto;
    }
    
    @include media-query(palm) {
        margin: 15px 30px 30px;
    }

    @include media-query(hd) {
        bottom: -24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 2vw;
		position: fixed;
		top: 4vw;
		width: 210px;
    }
}



.c-name {
    border: none;
    display: inline-block;
    font-weight: 600;
    line-height: 1 !important;
    margin: 60px 30px 30px 190px;
    text-transform: uppercase;
    width: 90px;

    @include media-query(portable) {
        margin-left: calc(50% + 30px);
    }

    @include media-query(hd) {
        margin: 0 auto;
        padding-top: 105px;
        text-align: center; 
    }

    &:after {
        background: url('/assets/i/photos/amrinder-11.jpg') no-repeat center;
        background-color: $theme-bg-light-1;
        background-size: 90px 90px;
        border: 3px solid white;
        content: "";
        display: block;
        height: 90px;
        position: absolute;
        top: 30px;
        left: 0;
        width: 90px;
        border-radius: 110px;
        background-blend-mode: luminosity;

        @include media-query(hd) {
            background-size: 110px 110px;
            left: 50px;
            height: 110px;
            width: 110px;
            top: -5px;
        }
    }

    span + span {
        font-size: 23px;
        letter-spacing: -1px;
        margin-left: -1px;
    }

    

   @include media-query(portable) {
       left: 30px;

       span { 
            font-size: 18px;
            letter-spacing: -0.5px;
       }
   }


   svg {
       width: 110px;
       margin-left: -15px;

       g {
           fill: rgba(black, .5);
       }
   }
}




.c-hire_me {
    align-items: center;
    background-color: rgba(black, .05);
    display: flex;
    justify-content: center;
    margin: 45px 0;
    padding: 30px 30px 9px;
    text-align: center;
    border-radius: 9px;


    @include media-query(hd) {
        border-radius: 210px;
        height: 210px;
        margin: -1px;
        width: 210px;
    }

    p {
        font-size: $as-font-size-s;
        line-height: 1.7;
    }

    .c-button {
        display: inline-block;
        margin-top: 9px;
    }
}