// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.c-header {
    position: relative;
    z-index: 2;

    @include media-query(portable) {
		margin: 0 auto;
    }
    
    @include media-query(palm) {
        margin: 15px 30px 30px;
    }

    @include media-query(hd) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
		position: fixed;
		top: 4vw;
        width: 210px;
        bottom: 0;
    }
}



.c-name {
    border: none;
    display: inline-block;
    font-family: monospace;
    line-height: 1 !important;
    margin: 30px 30px 30px 0;
    width: 60px;
    height: 60px;

    @include media-query(hd) {
        margin: 0 auto;
        text-align: center; 
    }

   @include media-query(portable) {
       left: 30px;
   }


   svg {
       height: 60px;
       width: 60px;

       g {
           fill: rgba(black, .5);
       }
   }
}




.c-hire_me {

    p {
        margin-bottom: 12px;
    }

    @include media-query(hd) {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 45px 0;
        padding: 30px 30px 9px;
        text-align: center;
        height: 210px;
        margin: -1px;
        width: 210px;
    }

    p {
        font-size: $as-font-size-s;
        line-height: 1.5;
    }

    a {
        display: inline-block;
        margin-top: 12px;
    }
}