// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.c-nav {    
    z-index: 9;    

    @include media-query(hd) {
        grid-column: 6/11;
        margin: 0;
    }

    @include media-query(palm) {
        transition: 0.5s opacity ease-in, 0.4s height ease-in-out;
        visibility: hidden;
        height: 0;
        opacity: 0;
    }

    &.is-visible {
        visibility: visible;
        height: 250px;
        margin: 0 0 25px 25px;
        opacity: 1;
    }
}




.c-nav__list {
    @include media-query(hd) {
        align-items: center;
        column-gap: 25px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 100%;
    }
}




.c-menu_button {
    display: none;
    background: none;
    border: 0;
    -webkit-appearance: none !important;
    outline: none;
    border-radius: 4px;

    &:focus {
        border: 1px dotted black;
    }

    @include media-query(palm) {
        display: block;
        justify-self: center;
        z-index: 9;
    }
}





.c-nav__link {
    color: $color-grey-darker;
    display: inline-block;
    font-size: $font-size-s;
    line-height: 1.5;
    margin-bottom: 10px;

    @include media-query(hd) {
        border: 0 none;
        color: $color-grey-light;
        display: flex;
        flex-direction: column;
        height: 100px;
        justify-content: center;
        line-height: 1.2;
        

        strong {
            transition: .2s transform ease-in-out;
            font-weight: 700;
            transform: translateY(14px);
        }

        span {
            transition: .2s opacity ease-in-out, .2s visibility ease-in-out;
            color: $color-text-light;
            display: block;
            font-size: $font-size-xs;
            opacity: 0;
            transform: translateY(5px);
            visibility: hidden;
        }

        &:hover {
            strong {
                color: $color-grey-dark;
                transform: translateY(5px);

            }
            span {
                opacity: 1;
                visibility: visible;
            }
        }

        &.is-active {
            strong {
                color: $color-grey-darker;
            }
        }
    }
}





.c-menu_button {
    //background-color: red;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: $font-size-xs;
    font-weight: bold;
    line-height: 0.9;
    margin-right: -20px;
    padding: 10px;
    text-align: center;
    // display: grid;
    // grid-template-columns: repeat(2, 20px);
    // grid-template-rows: repeat(2, 20px);

    span:nth-of-type(1) {
        
    }

    span:nth-of-type(2) {
        
    }

    span:nth-of-type(3) {
        
    }

    span:nth-of-type(4) {
        
    }
}



.c-menu_button--hide {
    display: none;
}