// -----------------------------------------------------------------------------
// ENTRY / JOURNAL ENTRY
// -----------------------------------------------------------------------------

.c-entry {
    margin-bottom: 50px;
    
    @include media-query(hd) {
        margin-bottom: 100px;
    }
}



.c-entry__blurb {
    border-left: 6px double $color-grey-lighter;
    display: block;
    margin-top: 10px;
    padding-left: 50px;
}



    .c-entry__link {
        border-bottom: 0;
        border-left: 6px solid $color-grey-lighter !important;
        border-bottom: 6px solid $theme-bg-light-3 !important;
        color: $color-text-light;
        display: block;
        margin-top: 25px;
        padding: 0 25px;

        &:hover {
            border-left-color: $theme-bg-bright-4 !important;
        }

        @include media-query(hd) {
            padding: 0 50px;
            margin-top: 50px;  
            
            p {
                margin-top: 15px !important;
            }
        }
    }


    .c-entry__embed {
        margin-top: 25px;

        @include media-query(hd) {
            margin: 50px 0 0 55px;
        }
    }


        .c-entry__author {
            color: $color-text-light;
            font-size: $font-size-xs;
            line-height: 1.5;
            text-transform: uppercase;

            @include media-query(hd) {
                font-size: $font-size-s;
                margin-top: 15px;
            }
        }