// -----------------------------------------------------------------------------
// BOOKS/LIBRARY
// -----------------------------------------------------------------------------


.c-books_list {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-content: space-between;

    li {
        color: $color-grey-light;
        list-style: none;
        margin: auto 30px 210px 0;
        width: 140px;

        @include media-query(portable) { 
            margin-bottom: 150px;
            margin-right: 30px;

            &:nth-child(2n+0) {
                margin-right: 0;
            }

            &:last-child {
                margin-bottom: 90px;
            }
        }

        @include media-query(hd) {
            width: 190px;

            &:nth-child(3n+0) {
                margin-right: 0;
            }
        } 
    }
}


// FAVORITE BOOKS 
.c-books_list--favs {
    margin-bottom: 30px;

    @include media-query(hd) {
        margin-bottom: 100px;
    }

    li {
        color: $color-grey-light;
        list-style: none;
        margin: 0 40px 60px 0;
        width: 100%;

        @include media-query(portable) { 
            margin-right: 0;
        }

        @include media-query(hd) {
            width: 100%;
        } 
    }

    .c-book_link {
        display: flex;
        width: auto;
    
        @include media-query(hd) {
            width: auto;
        }
    }

    .c-book_cover {
        align-self: flex-start;
        margin-right: 15px;
        margin-bottom: 15px;
        height: auto;
        width: 120px;
    
        @include media-query(hd) {
            margin-right: 30px;
            width: 210px;
        }
    }

    .c-book_meta {
        position: relative;
        width: auto;
    
        @include media-query(hd) {
            width: auto;
        }
    }


    .c-book_title {
        font-size: $as-font-size-s;
        line-height: 20px;
        white-space: normal;
        
    
        @include media-query(hd) {
            font-size: $as-font-size-m;
        }
    }
    
    
    .c-book_author {
        color: $color-grey-light;
        display: inline-block;
        line-height: 20px;
    
        @include media-query(hd) {
            line-height: 32px;
            margin-bottom: 15px;
        }
    }
}





.c-book_link {
    border: none;
    display: block;
    //width: 120px;

    @include media-query(hd) {
        //width: 150px;
    }
}


.c-book_cover {
    margin-bottom: 15px;
    width: 150px;

    @include media-query(hd) {
        width: 150px;
    }
}


.c-book_meta {
    position: absolute;
    width: 120px;

    @include media-query(hd) {
        align-self: center;
        width: 150px;
    }
}

.c-book_title {
    font-size: $as-font-size-xs;
    line-height: 20px;
    white-space: normal;

    @include media-query(hd) {
        font-size: $as-font-size-s;
        letter-spacing: 0;
    }
}


.c-book_info {
    color: $color-grey-light;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 10px;

    @include media-query(hd) {
        line-height: 22px;
    }
}
