/* ---------------------------- *\
    #LIST LAYOUT
\* ---------------------------- */

.c-list {
    position: relative;
}





// STYLE VARIANTS
.c-list--bullet {
    list-style-type: disc;
    list-style-position: outside;
    margin-top: 10px;
    margin-left: 25px;

    @include media-query(hd) {
        margin-top: 25px;
    }
}