// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.c-nav {    
    z-index: 9;    
}


.c-nav__list {

    @include media-query(portable) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }

    @include media-query(palm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
}


.c-nav__item {
    margin-bottom: 0;

    @include media-query(hd) {
        &:last-child a {
            border: none;
        }
    }
}


.c-nav__link {
    color: rgba(black, .75);
    display: block;
    line-height: 2.5;
    margin-bottom: 10px;

    @include media-query(hd) {
        border: none;
        line-height: calc(4vh + 20px);

        margin-bottom: 0;
        padding: 2px;
        text-align: center;
    }
}