// -----------------------------------------------------------------------------
// BILLBOARD
// -----------------------------------------------------------------------------


.c-billboard {
    align-items: center;
    background: transparent;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto auto;    
    height: auto;
    position: relative;
    width: calc(100vw - 25px);
    
    @include media-query(desk) {
        min-height: 550px;
        column-gap: 0;
        grid-template-columns: repeat(10, 100px);   
        grid-column-gap: 25px;
        margin-bottom: 25px;        
        width: auto;

        .c-billboard__link {
            grid-column: 3/4;
        }
    }
    
    
    @include media-query(portable) {
        padding: 100px 0 75px 25px;
    }
}


.c-billboard__title {
    color: rgba(white, .75);
    font-size: 300px;
    font-weight: 900;
    left: -125px;
    letter-spacing: -20px;
    margin-left: -15px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    visibility: hidden;
    writing-mode: vertical-lr;

    @include media-query(hd) {
        animation: in 3s ease-out forwards ;
        animation-delay: 0s;
        opacity: 0;
        visibility: visible;
   }
}


@keyframes in {
  0%{
    letter-spacing: 0px;
    opacity: 0;
  }
  100%{
    letter-spacing: -75px;
    opacity: 1;
  }
}


.c-billboard__blurb {    
    animation: blurb 3s ease-out forwards ;
    animation-delay: 0;
    z-index: 2;

    @include media-query(desk) {
        grid-column: 5/11;
        position: absolute;   
    }

    @include media-query(portable) {
       margin-top: 0;
    }
}

@keyframes blurb {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




.c-billboard__link {
    grid-column: 1/8;
}





.c-billboard--alt {
    margin: 125px 0 125px 125px;
}