// -----------------------------------------------------------------------------
// #MAIN
// -----------------------------------------------------------------------------


main {
    display: grid;
    grid-column: 1/-1;
    z-index: 1;
}