// -----------------------------------------------------------------------------
// #TESTIMONIALS
// -----------------------------------------------------------------------------

.c-testimonial {
    img {
        border-radius: 90px;
        display: block;
        width: 90px;
    }

    small {
        color: rgba(black, .75);
        display: block;
        line-height: 1.5;
    }

    blockquote {
        border: none;
        padding: 0;
        position: relative;

        span {
            font-family: Georgia, serif;
            font-size: $as-font-size-l;
            position: absolute;

            &:first-child {
                left: -10px;
            }
        }
    }
}


    .c-testimonial__author {
        @include media-query(palm) {
            align-items: center;
            display: grid;
            grid-template-columns: 90px 2fr;
            column-gap: 15px;
            margin-bottom: 15px;

            small {
                margin: 15px 0 15px 15px;
            }
        }
    }