// -----------------------------------------------------------------------------
// SECTION
// -----------------------------------------------------------------------------


.c-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 30px 50px;
    z-index: 2;
    
    @include media-query(hd) {
        column-gap: 30px;
        grid-template-columns: repeat(10, 100px);   
        grid-column: 1/-1;
        margin: 0 0 100px;
    }
}





.c-section__heading {
    grid-column: 1/-1;
}





.c-section__content {
    margin-bottom: 50px;
    z-index: 9;

    @include media-query(hd) {
        max-width: 100vw;
        grid-column: 5/-1;  
    }
}





.c-section__col {
    @include media-query(hd) {
        grid-column: 1/5;
    }
}


.c-section__col--1 {
    @include media-query(hd) {
        grid-column: 1/5;
        margin: 100px 0 -350px 0;
    }
}



.c-section__image {
    img {
        max-width: calc(100% - 50px);
        margin: 30px 0 0 30px;
        border-radius: 500px;
        background-blend-mode: multiply;
    }

    @include media-query(portable) {
        position: absolute;
        top: 10px;
        right: 30px;
        
        img {
            max-width: 100px;
        }
    }
    

    @include media-query(hd) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            grid-column: 1/4;
            max-width: none;
            object-fit: cover;
            width: 100%;
            margin-left: 0;
            display: none;
        }
    }
}




.c-section__caption {
    color: $color-grey-light;
    grid-column: 2/-1;
    font-size: $as-font-size-xs;
    font-style: italic;
    margin: 10px 30px 30px;

    @include media-query(hd) {
        margin: 30px 0 0;
    }
}



.c-section--elsewhere {

    @include media-query(hd) {
        grid-column: 1/5;
    }   
}



// FILTERS NAV

.c-section__col--nav {

    @include media-query(portable) {
        display: none; // HIDE ON MOBILE
    }
}

.c-section__nav {
    position: sticky;
    top: 35px;
}





// USED FOR BOOKS FILTERS
.c-section__nav_link {
    cursor: pointer;
    display: inline-block;
    font-size: $as-font-size-s;
    line-height: 30px;
    padding-top: 10px;

    &:hover {
        border-bottom-color: transparent;
        border-bottom-width: 1px;
        color: $theme-bg-bright-3;
    }

    &.is_active {
        color: $theme-bg-bright-3;
    }
}