// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.c-header { 
    align-items: center;
    display: grid;
    grid-template-rows: 150px;
    margin-top: 10px;

    @include media-query(hd) {
        column-gap: 25px;
        grid-template-areas: "name name name name . nav nav nav nav ham";
        grid-template-columns: repeat(10, 100px);   
        grid-template-rows: 100px;
        grid-column: 1/-1;    
        margin-top: 0;  
    }
}


.c-name {
    border: 0;
    display: inline-block;
    font-weight: normal;
    line-height: 1 !important;
    position: relative;
    width: 120px;

    @include media-query(hd) {
        grid-area: name;
        width: auto;
   }

   @include media-query(portable) {
       left: 25px;

       span { 
            font-size: 25px;
            letter-spacing: -1px;
       }

       span + span {
           font-size: 30px;
           margin-left: -1px;
       }
   }
}


.c-avatar {
    display: none;

    @include media-query(portable) {
        display: block;
        position: absolute;
        top: 35px;
        right: 25px;
        background: url('/assets/i/photos/amrinder-11.jpg') no-repeat center;
        background-color: $theme-bg-light-4;
        background-size: 100px 100px;
        border: 5px solid white;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        background-blend-mode: luminosity;

        img {
            display: none;
        }
    }
}