// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------



// GREY COLORS
$color-grey-darker: #050505;
$color-grey-dark: #454545;
$color-grey-light: #858585;
$color-grey-lighter: #c5c5c5;
$color-grey-lightest: #f5f5f5;





// TEXT COLORS
$color-text-base: $color-grey-darker;
$color-text-light: $color-grey-light;
$color-text-lighter: $color-grey-lighter;





// THEME BACKGROUND COLORS
$theme-bg-light-1: #e4f9ff;
$theme-bg-bright-1: #ffcc00;


$theme-bg-light-2: #eaffd0;
$theme-bg-bright-2: #ff7315;


$theme-bg-light-3: #FFE8D6;
$theme-bg-bright-3: #41A3FD;


$theme-bg-light-4: #F6E1E1;
$theme-bg-bright-4: #01CD7D;


$theme-bg-light-5: #f6e1e1;
$theme-bg-bright-5: #ff7315;