// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------



// GREY COLORS
$color-grey-darker: #050505;
$color-grey-dark: #454545;
$color-grey-light: #858585;
$color-grey-lighter: #c5c5c5;
$color-grey-lightest: #f5f5f5;





// TEXT COLORS
$color-text-base: $color-grey-darker;
$color-text-light: $color-grey-light;
$color-text-lighter: $color-grey-lighter;



// #fffdf9
// f6eedf
// f1f3f4
// f1f9f9
// f0efef
// f9f6f7

// THEME BACKGROUND COLORS
$theme-bg-light-1: #f0efef;
$theme-bg-bright-1: #161616;


//$theme-bg-light-1: #E4FCF9;
//$theme-bg-bright-1: #EF483F;


$theme-bg-light-2: #F6F6FA;
$theme-bg-bright-2: #5856D6;


$theme-bg-light-3: #FFF0E3;
$theme-bg-bright-3: #01CD7D;


$theme-bg-light-4: #FAF5E4;
$theme-bg-bright-4: #00D1FF;


$theme-bg-light-5: #FFF1FA;
$theme-bg-bright-5: #FF8A00;