// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------



// GREY COLORS
$color-grey-darker: #050505;
$color-grey-dark: #454545;
$color-grey-light: #858585;
$color-grey-lighter: #c5c5c5;
$color-grey-lightest: #f5f5f5;





// TEXT COLORS
$color-text-base: $color-grey-darker;
$color-text-light: $color-grey-light;
$color-text-lighter: $color-grey-lighter;



// THEME COLORS


$theme-color-11: #ECE9F2;
$theme-color-12: #572DF5;

$theme-color-21: #F2F1E9;
$theme-color-22: #F58D2D;

$theme-color-31: #F2EAE9;
$theme-color-32: #E33328;

$theme-color-41: #E6F0EE;
$theme-color-42: #03AE24;

$theme-color-51: #E6E9F0;
$theme-color-52: #2860E3;