// -----------------------------------------------------------------------------
// TYPE
// -----------------------------------------------------------------------------



$as-sans-font-family: 'Arimo', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$as-sf-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$as-serif-font-family: 'Playfair Display', Georgia, serif;