// -----------------------------------------------------------------------------
// THEME COLORS
// -----------------------------------------------------------------------------

.c-nav__link--home {

    &:active {
        border-color: $theme-bg-bright-1;
    }

    &:hover {
        strong {
            color: $theme-bg-bright-1;
        }
    }
}

.c-nav__link--work:hover {
    &:active {
        border-color: $theme-bg-bright-2;
    }

    &:hover {
        strong {
            color: $theme-bg-bright-2;
        }
    }
}

.c-nav__link--books:hover {
    &:active {
        border-color: $theme-bg-bright-3;
    }

    &:hover {
        strong {
            color: $theme-bg-bright-3;
        }
    }
}

.c-nav__link--journal:hover {
    &:active {
        border-color: $theme-bg-bright-4;
    }

    &:hover {
        strong {
            color: $theme-bg-bright-4;
        }
    }
}

// .c-nav__link--contact:hover {
//     &:active {
//         border-color: $theme-bg-bright-5;
//     }

//     &:hover {
//         strong {
//             color: $theme-bg-bright-5;
//         }
//     }
// }





.p-home {
    background-color: $theme-bg-light-1;

    h2 {
        color: $theme-bg-bright-1;
    }

    a {
        border-color: $theme-bg-bright-1;
    }

    .c-name a,
    .c-menu_button {
        color: $theme-bg-bright-1;
    }

    .c-name path {
        stroke: $theme-bg-bright-1;
    }

    .c-nav__link--home {
        border-bottom-color: $color-grey-lighter;
        color: $color-grey-light;

        @include media-query(hd) {
            color: $color-grey-darker;
        }
    }

    .c-billboard {
        background-color: $theme-bg-bright-1;

        &::after {
            border-bottom-color: $theme-bg-light-1;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);
        font-size: 120px;

        @include media-query(hd) {
            font-size: 420px;
            margin-left: -30px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-1;
    }

    .c-billboard__anime {
        background-color: $theme-bg-light-1;
    }
}





.p-work {
    background-color: $theme-bg-light-2;

    a {
        border-color: $theme-bg-bright-2;
    }

    .c-name a,
    .c-menu_button {
        color: $theme-bg-bright-2;
    }

    .c-name path {
        stroke: $theme-bg-bright-2;
    }

    .c-nav__link--work {
        border-bottom-color: $color-grey-lighter;
        color: $color-grey-light;

        @include media-query(hd) {
            color: $color-grey-darker;
        }
    }


    .c-billboard {
        background-color: $theme-bg-bright-2;

        &::after {
            border-bottom-color: $theme-bg-light-2;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);//$theme-bg-light-1;
        font-size: 120px;

        @include media-query(hd) {
            font-size: 450px;
            margin-left: -20px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-2;
    }

    .c-billboard__anime {
        background-color: $theme-bg-light-2;
    }
}




.p-books {
    background-color: $theme-bg-light-3;

    a {
        border-color: $theme-bg-bright-3;
    }

    .c-name a,
    .c-menu_button {
        color: $theme-bg-bright-3;
    }

    .c-name path {
        stroke: $theme-bg-bright-3;
    }

    .c-nav__link--books {
        border-bottom-color: $color-grey-lighter;
        color: $color-grey-light;

        @include media-query(hd) {
            color: $color-grey-darker;
        }
    }

    .c-billboard {
        background-color: $theme-bg-bright-3;

        &::after {
            border-bottom-color: $theme-bg-light-3;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);//$theme-bg-light-1;
        font-size: 120px;

        @include media-query(hd) {
            font-size: 450px;
            margin-left: -30px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-3;
    }

    .c-billboard__anime {
        background-color: $theme-bg-light-3;
    }
}




.p-journal {
    background-color: $theme-bg-light-4;

    a {
        border-color: $theme-bg-bright-4;
    }

    .c-name a,
    .c-menu_button {
        color: $theme-bg-bright-4;
    }

    .c-name path {
        stroke: $theme-bg-bright-4;
    }

    .c-nav__link--journal {
        border-bottom-color: $color-grey-lighter;
        color: $color-grey-light;

        @include media-query(hd) {
            color: $color-grey-darker;
        }
    }

    .c-billboard {
        background-color: $theme-bg-bright-4;

        &::after {
            border-bottom-color: $theme-bg-light-4;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);
        font-size: 130px;

        @include media-query(hd) {
            font-size: 450px;
            margin-left: -20px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-4;
    }

    .c-billboard__anime {
        background-color: $theme-bg-light-4;
    }
}





// .p-contact {
//     background-color: $theme-bg-light-5;

//     a {
//         border-color: $theme-bg-bright-5;
//     }

//     .c-name a,
//     .c-menu_button {
//         color: $theme-bg-bright-5;
//     }

//     .c-name path {
//         stroke: $theme-bg-bright-5;
//     }

//     .c-nav__link--contact {
//         border-bottom-color: $color-grey-lighter;
//         color: $color-grey-light;

//         @include media-query(hd) {
//             color: $color-grey-darker;
//         }
//     }

//     .c-billboard {
//         background-color: $theme-bg-bright-5;

//         &::after {
//             border-bottom-color: $theme-bg-light-5;
//         }
//     }

//     .c-billboard__title {
//         color: rgba(white, .15);
//         font-size: 130px;

//         @include media-query(hd) {
//             font-size: 450px;
//             margin-left: -20px;
//         }
//     }

//     .c-billboard__blurb {
//         color: $theme-bg-light-5;
//     }
// }