// -----------------------------------------------------------------------------
// THEME COLORS
// -----------------------------------------------------------------------------



$theme-color-11: #ECE9F2;
$theme-color-12: #572DF5;

$theme-color-21: #F2F1E9;
$theme-color-22: #E3A328;

$theme-color-31: #F2EAE9;
$theme-color-32: #E33328;

$theme-color-41: #E6F0EE;
$theme-color-42: #01CD7D;

$theme-color-51: #E6E9F0;
$theme-color-52: #2860E3;





html.p-work {
    background-color: $theme-color-11;

    .c-name:after {
        background-color: $theme-color-11; 
        box-shadow: 0 0 0 1px darken($theme-color-11, 10); 
    }

    .c-header,
    hr,
    a {
        border-color: darken($theme-color-11, 10);
    }

    .c-nav__link,
    h1,
    .c-footer small {
        color: darken($theme-color-11, 50);
    }

    figcaption,
    figcaption a, 
    .c-caption,
    .c-caption a {
        color: darken($theme-color-11, 35);
    }

    .c-name,
    h3, 
    p,
    li,
    .c-nav__link--home {
        color: darken($theme-color-11, 70);
    }

    h2, 
    h3 {
        color: darken($theme-color-11, 80);
    }

    a {
        color: darken($theme-color-11, 90);
        border-color: $theme-color-12;
    }


    .c-nav__link {
        border-color: darken($theme-color-11, 10);

        &:hover {
            color: darken($theme-color-11, 90);;
        }
    }


    .c-hire_me {
        background-color: darken($theme-color-11, 6);

        h4 {
            color: $theme-color-12;
        }
    }
}





html.p-cs,
html.p-pr {
    background-color: $theme-color-51;

    .c-name:after {
        background-color: $theme-color-51; 
        box-shadow: 0 0 0 1px darken($theme-color-51, 10); 
    }

    .c-header,
    hr,
    a {
        border-color: darken($theme-color-51, 10);
    }

    .c-nav__link,
    h1,
    .c-footer small {
        color: darken($theme-color-51, 50);
    }

    figcaption,
    figcaption a, 
    .c-caption,
    .c-caption a {
        color: darken($theme-color-51, 35);
    }

    .c-name,
    h3, 
    p,
    li,
    .c-nav__link--home {
        color: darken($theme-color-51, 70);
    }

    h2, 
    h3 {
        color: darken($theme-color-51, 80);
    }

    a {
        color: darken($theme-color-51, 90);
        border-color: $theme-color-52;
    }


    .c-nav__link {
        border-color: darken($theme-color-51, 10);

        &:hover {
            color: darken($theme-color-51, 90);;
        }
    }


    .c-hire_me {
        background-color: darken($theme-color-51, 6);
    }
}




html.p-about {
    background-color: $theme-color-41;

    .c-name:after {
        background-color: $theme-color-41;
        box-shadow: 0 0 0 1px darken($theme-color-41, 10); 
    }

    .c-header,
    hr,
    a {
        border-color: darken($theme-color-41, 10);
    }

    .c-nav__link,
    h1,
    .c-footer small {
        color: darken($theme-color-41, 50);
    }

    figcaption,
    figcaption a, 
    .c-caption,
    .c-caption a {
        color: darken($theme-color-41, 35);
    }

    
    h3, 
    p,
    li,
    .c-nav__link--about {
        color: darken($theme-color-41, 60);
    }

    .c-name,
    h2, 
    h3,
    h4 {
        color: darken($theme-color-41, 70);
    }

    a {
        color: darken($theme-color-41, 90);
        border-color: $theme-color-42;
    }


    .c-nav__link {
        border-color: darken($theme-color-41, 10);

        &:hover {
            color: darken($theme-color-41, 90);;
        }
    }


    .c-hire_me {
        background-color: darken($theme-color-41, 6);
    }

    .c-photo figcaption {

        @include media-query(hd) {
            color: darken($theme-color-41, 10);
        }
    }

    .c-hire_me h4 {
        color: $theme-color-42;
    }
}





html.p-library {
    background-color: $theme-color-21;

    .c-name:after {
        background-color: $theme-color-21; 
        box-shadow: 0 0 0 1px darken($theme-color-21, 10); 
    }

    .c-header,
    hr,
    a {
        border-color: darken($theme-color-21, 10);
    }

    .c-nav__link,
    h1,
    .c-footer small,
    .c-book_info {
        color: darken($theme-color-21, 50);
    }

    figcaption,
    figcaption a, 
    .c-caption,
    .c-caption a {
        color: darken($theme-color-21, 35);
    }

    .c-name,
    h3, 
    p,
    li,
    .c-nav__link--library {
        color: darken($theme-color-21, 70);
    }

    .c-section__nav_link.is_active,
    .c-section__nav_link:hover {
        border-color: darken($theme-color-21, 90);
    }

    h2, 
    h3,
    h4 {
        color: darken($theme-color-21, 80);
    }

    a,
    .c-nav__link:hover {
        color: darken($theme-color-21, 90);
        border-color: $theme-color-22;
    }

    .c-hire_me {
        background-color: darken($theme-color-21, 6);

        h4 {
            color: $theme-color-22;
        }
    }
}




html.p-journal {
    background-color: $theme-color-31;

    .c-name:after {
        background-color: $theme-color-31; 
        box-shadow: 0 0 0 1px darken($theme-color-31, 10); 
    }

    .c-header,
    hr,
    a {
        border-color: darken($theme-color-31, 10);
    }

    .c-nav__link,
    h1,
    .c-entry__blurb p,
    .c-footer small,
    .c-entry__blurb li {
        color: darken($theme-color-31, 50);
    }

    figcaption,
    figcaption a, 
    .c-caption,
    .c-caption a {
        color: darken($theme-color-31, 35);
    }

    .c-name,
    h3, 
    p,
    li,
    .c-book_info,
    .c-nav__link--journal {
        color: darken($theme-color-31, 60);
    }

    .c-entry__link:hover .c-entry__heading {
        border-color: $theme-color-32;
    }

    h2, 
    h3,
    h4 {
        color: darken($theme-color-31, 70);
    }

    a {
        color: darken($theme-color-31, 90);
        border-color: $theme-color-32;
    }


    .c-nav__link {
        border-color: darken($theme-color-31, 10);

        &:hover {
            color: darken($theme-color-31, 90);;
        }
    }


    .c-hire_me {
        background-color: darken($theme-color-31, 6);

        h4 {
            color: $theme-color-32;
        }
    }
}





html.p-testimonials {
    background-color: $theme-color-51;

    .c-name:after {
        background-color: $theme-color-51; 
        box-shadow: 0 0 0 1px darken($theme-color-51, 10); 
    }

    .c-header,
    hr,
    a {
        border-color: darken($theme-color-51, 10);
    }

    .c-nav__link,
    h1,
    .c-footer small,
    caption,
    .c-caption {
        color: darken($theme-color-51, 50);
    }

    figcaption,
    figcaption a, 
    .c-caption,
    .c-caption a {
        color: darken($theme-color-51, 35);
    }

    .c-name,
    h3, 
    p,
    li,
    .c-nav__link--home {
        color: darken($theme-color-51, 70);
    }

    h2, 
    h3 {
        color: darken($theme-color-51, 80);
    }

    a {
        color: darken($theme-color-51, 90);
        border-color: $theme-color-52;
    }


    .c-nav__link {
        border-color: darken($theme-color-51, 10);

        &:hover {
            color: darken($theme-color-51, 90);;
        }
    }


    .c-hire_me {
        background-color: darken($theme-color-51, 6);

        h4 {
            color: $theme-color-52;
        }
    }
}




html.th-white {

    @include media-query(hd) {
        background-color: white;
    }
}







.p-work .c-nav__link--home,
.p-journal .c-nav__link--journal,
.p-library .c-nav__link--library,
.p-about .c-nav__link--about {
    font-weight: 600;
}