// -----------------------------------------------------------------------------
// THEME COLORS
// -----------------------------------------------------------------------------


.p-home {
    .c-name {
        color: $theme-bg-bright-1;
    }

    &::before {
        background-color: $theme-bg-light-1;
    }

    .c-billboard {
        background-color: $theme-bg-bright-1;

        &::after {
            border-bottom-color: $theme-bg-light-1;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);
        font-size: 120px;
        margin-left: -10px;

        @include media-query(hd) {
            font-size: 420px;
            margin-left: -30px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-1;
    }
}





.p-about {
    .c-name {
        color: $theme-bg-bright-2;
    }

    &::before {
        background-color: $theme-bg-light-2;
    }

    .c-billboard {
        background-color: $theme-bg-bright-2;

        &::after {
            border-bottom-color: $theme-bg-light-2;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);//$theme-bg-light-1;
        font-size: 120px;
        margin-left: -10px;

        @include media-query(hd) {
            font-size: 450px;
            margin-left: -30px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-2;
    }
}




.p-reading {
    .c-name {
        color: $theme-bg-bright-3;
    }

    &::before {
        background-color: $theme-bg-light-3;
    }

    .c-billboard {
        background-color: $theme-bg-bright-3;

        &::after {
            border-bottom-color: $theme-bg-light-3;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);//$theme-bg-light-1;
        font-size: 120px;
        margin-left: -10px;

        @include media-query(hd) {
            font-size: 450px;
            margin-left: -30px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-3;
    }
}




.p-work {
    .c-name {
        color: $theme-bg-bright-4;
    }

    &::before {
        background-color: $theme-bg-light-4;
    }

    .c-billboard {
        background-color: $theme-bg-bright-4;

        &::after {
            border-bottom-color: $theme-bg-light-4;
        }
    }

    .c-billboard__title {
        color: rgba(white, .15);
        font-size: 120px;
        margin-left: -10px;

        @include media-query(hd) {
            font-size: 450px;
            margin-left: -20px;
        }
    }

    .c-billboard__blurb {
        color: $theme-bg-light-4;
    }
}