/* -------------------- *\
   #UTILITIES
\* -------------------- */

.u-hidden {
    display: none !important;
}

// MARGINS 
.u-mar-left--more {
    transform: translateX(600px);
    width: 650px;
}


.u-mar-left--less {
    transform: translateX(100px);
}


.u-border--none {
    border: none;
}




// TYPOGRAPHY

.u-break_line {
    display: block;
}


.u-break_line--hd {
    @include media-query(hd) {
        display: block;
    }
}

.is-hidden {
    display: none;
}

.is-active {
    display: block;
}


.u-sep {
    color: rgba(black, .15);
    margin: 0 3px;

    @include media-query(hd) {
        margin: 0 5px;
    }
}


.u-align--bottom {
    align-self: end;
    margin-bottom: 3px;
}

.u-align--center {
    align-items: center;
}


.u-flex--space_between {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.u-pad_right--30 {
    

    @include media-query(hd) {
        padding-right: 30px;
    }
}


.u-pad_right--60 {
    

    @include media-query(hd) {
        padding-right: 60px;
    }
}


.u-space_left--120 {

    @include media-query(hd) {
        margin-left: 120px;
    }
}


.u-space_left {
    margin-left: 30px;

    @include media-query(hd) {
        
    }
}


.u-space_below--none {
    margin-bottom: 0 !important;
}


.u-space_below {
    margin-bottom: 30px;

    @include media-query(hd) {
        
    }
}


.u-space_below--less {
    margin-bottom: 15px;

    @include media-query(hd) {
        
    }
}


.u-space_below--more {
    margin-bottom: 60px;

    @include media-query(hd) {

    }
}


.u-space_below--most {
    margin-bottom: 90px;

    @include media-query(hd) {
        margin-bottom: 150px;
    }
}


.u-space_above {
    margin-top: 30px;
}


.u-space_above--lap {

    @include media-query(lap-and-up) {
        margin-top: 30px;
    }
}


.u-align_content--start {

    @include media-query(hd) {
        align-content: start;
    }
}




// MOBILE ONLY STYLES


.u-space_above--mob {

    @include media-query(palm) {
        margin-top: 30px;
    }
}


.u-space_above--more {
    margin-top: 60px;

    @include media-query(hd) {
        
    }
}


.u-pull_up--200 { 

    @include media-query(hd) {
        transform: translateY(-200px); 
    }
}



.u-mar-left--more {
    transform: translateX(600px);
    width: 650px;
}


.u-mar-left--less {
    transform: translateX(100px);
}


.u-cols--two {
    
    @include media-query(lap-and-up) {
        column-count: 2;
        column-gap: 30px;
    }
}



.u-cols--three {
    
    @include media-query(lap-and-up) {
        column-count: 3;
        column-gap: 30px;
    }
}



.u-txt-align--right {
    @include media-query(hd) {
        text-align: right;
    }
}



.u-txt-t1 {
    font-size: $as-font-size-xxl;
    font-weight: bold;
}


/*********************/
/* NEW HOMEPAGE 2024 */
/*********************/

.new body {
    background-color: rgb(242, 241, 233);
    display: flex;
    height: 100vh;
}

.new-wrapper {
    color: rgb(95, 82, 137);
    display: flex;
    flex-direction: column;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    justify-content: center;
    gap: 32px;
    padding: 0 32px;
    position: relative;

    @include media-query(lap-and-up) {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        grid-template-rows: 180px 120px 120px;
        padding: 48px;
        max-width: 1240px;
        margin: auto;
        justify-content: center;
    }


    h1, h2, h3 {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0;
    }

    h1 {
        font-size: 21px;
        line-height: 1.4;

        @include media-query(lap-and-up) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
        }
    }

    h2 {
        margin-bottom: 2px;
    }

    .new-logo {
        display: none;
        width: 32px;

        @include media-query(lap-and-up) {
            position: absolute;
            top: -50px;
            left: 50px;
            opacity: .4;
        }
    }

    .new-photo {
        border-radius: 1000px;
        box-shadow: 0 0px 32px rgba(138, 132, 82, .6) inset;
        width: 140px;

        @include media-query(lap-and-up) {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 1;
        }
    }

    time {        
        opacity: .6;
    }

    p {
        font-size: 16px;
        opacity: .72;
        margin: 0;
    }

    span.css-break {
        @include media-query(lap-and-up) {
            display: block;
        }
    }

    .new-lhs {
        background: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        padding: 48px 24px;
        text-align: center;

        @include media-query(lap-and-up) {
            gap: 36px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            padding: 48px;
            background: rgb(242,241,233);
            background: linear-gradient(90deg, rgba(242,241,233,1) 0%, rgba(255,255,255,1) 10%);
        }
    }

    .new-main {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        padding: 48px;
        text-align: center;
        background: rgb(242,241,233);
        background: linear-gradient(180deg, rgba(242,241,233,1) 0%, rgba(255,255,255,1) 10%);
        width: 100%;

        @include media-query(lap-and-up) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            text-align: left;
            background: rgb(242,241,233);
            background: linear-gradient(90deg, rgba(242,241,233,1) 0%, rgba(255,255,255,1) 10%);
        }
    }

    .new-work {
        max-width: 320px;

        a {
            border-bottom: 1px solid rgba(95, 82, 137, .1);
            color: rgb(95, 82, 137);

            &:hover {
                border-bottom-color: rgba(95, 82, 137, .6);
            }
        }
    }

    .new-contact-links {
        display: flex;
        font-size: 16px;
        gap: 24px;

        @include media-query(lap-and-up) {
            flex-direction: column;
            gap: 0;
            width: 200px;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 2;
        }

        p,
        li {
            margin: 0;
        }

        a {
            border: none;
            color: #5F5289;
            opacity: .6;
            border-bottom: 1px solid rgba(95, 82, 137, .4);

            &:hover {
                opacity: 1;
                border-bottom: 1px solid rgba(95, 82, 137, .4);
            }
        }
    }
}