/* -------------------- *\
   #UTILITIES
\* -------------------- */

// MARGINS 
.u-mar-left--more {
    transform: translateX(600px);
    width: 650px;
}


.u-mar-left--less {
    transform: translateX(100px);
}




// TYPOGRAPHY
.u-break_line {
    display: block;
}


.u-break_line--hd {
    @include media-query(hd) {
        display: block;
    }
}

.is-hidden {
    display: none;
}

.is-active {
    display: block;
}


.u-sep {
    color: rgba(black, .15);
    margin: 0 3px;

    @include media-query(hd) {
        margin: 0 5px;
    }
}