<!DOCTYPE html>
<html class="{{ page.page-class }}">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{ page.title }}</title>
		<meta name="robots" content="index, follow"/>
		<meta name="title" content="Amrinder Sandhu"/>
		<meta name="DC.title" content="Amrinder Sandhu"/>
		<meta name="author" content="Amrinder Sandhu"/>
		<meta name="description" content="Amrinder Singh Sandhu is a UX/UI designer from Ancaster, Canada. He designs web and mobile apps."/>
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
		<link rel="manifest" href="/site.webmanifest"/>		
		<!--link(rel="stylesheet" href="https://use.typekit.net/cjk1juq.css")-->
		<!-- <link rel="stylesheet" href="https://use.typekit.net/njh2cfh.css"/>	   -->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
          {{ content }}         

    </body>
</html>
