<!DOCTYPE html>
<html class="{{ page.page-class }}">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{ page.title }}</title>
		<meta name="robots" content="index, follow"/>
		<meta name="title" content="Amrinder Sandhu"/>
		<meta name="DC.title" content="Amrinder Sandhu"/>
		<meta name="author" content="Amrinder Sandhu"/>
		<meta name="description" content="Amrinder Singh Sandhu is a UX/UI designer from Ancaster, Canada. He designs web and mobile apps."/>
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1"/>
		
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5658d6">
		<meta name="msapplication-TileColor" content="#5658d6">
		<meta name="theme-color" content="#ffffff">

		<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@900&display=swap" rel="stylesheet">

        <!-- Custom CSS -->
		<link rel="stylesheet" href="/css/styles.css" inline>		

		<!-- ANIMATION -->
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    </head>
    <body>
          {{ content }}         
			
	<script src="assets/js/functions.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4197248-4"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-4197248-4');
	</script>

	<!-- INITIALIZE AOS -->
	<script>
		AOS.init();
	</script>


    </body>
</html>
