doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Amrinder Sandhu
        meta(name='robots', content='index, follow')
        meta(name='title', content='Amrinder Sandhu')
        meta(name='DC.title', content='Amrinder Sandhu')
        meta(name='author', content='Amrinder Sandhu')
        meta(name='description', content='Amrinder Singh Sandhu is a UX/UI designer from Ancaster, Canada. He designs web and mobile apps.')
        meta#viewport(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")


        link(rel='stylesheet', href='assets/css/styles.css', type='text/css')
        




    body
        header
            strong.c-name Amrinder Sandhu


            nav.c-nav
                a(href="#") Journal

                a(href="#") Work

                a(href="#") Reading

                a(href="#") About


        

        main
            section.c-billboard
                h1.c-billboard__title Hello!

                p.c-billboard__blurb Amrinder is a user experience and interface designer with 12 years of experience. Currently, he is head of design at Unmetric.





            


        