doctype strict
html.p-reading(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Amrinder Sandhu
        meta(name='robots', content='index, follow')
        meta(name='title', content='Amrinder Sandhu')
        meta(name='DC.title', content='Amrinder Sandhu')
        meta(name='author', content='Amrinder Sandhu')
        meta(name='description', content='Amrinder Singh Sandhu is a UX/UI designer from Ancaster, Canada. He designs web and mobile apps.')
        meta#viewport(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")


        link(rel='stylesheet', href='assets/css/styles.css', type='text/css')

        //link(rel="stylesheet" href="https://use.typekit.net/cjk1juq.css")
        link(rel="stylesheet" href="https://use.typekit.net/njh2cfh.css")
        




    body
        header.c-header
            strong.c-name Amrinder Sandhu


            //nav.c-nav
                ul.c-nav__list
                    li
                        a(href="") Home

                    li
                        a(href="") Work

                    li
                        a(href="") Reading
                    
                    li
                        a(href="") About


            //nav.c-menu


        main.c-main
            // HOMEPAGE BILLBOARD
            section.c-billboard
                h1.c-billboard__title Reading

                p.c-billboard__blurb Amrinder strongly believes in continous learning. Whenever he needs to understand something better and deeper, he’d pick a book on the subject.

                //a.c-billboard__link(href="#") Learn more





            // JOURNAL ENTRIES
            section.c-section
                h2.c-section__heading Books


                section.c-section__content
                    h3 Branding

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Logo-Design-Love-Creating-Identities/dp/0321985206" target="_blank") Logo design love

                            |  by 
                            
                            em David Airey


                        li
                            a(href="https://www.amazon.com/Designing-Brand-Identity-Essential-Branding/dp/1118099206" target="_blank") Designing brand identity

                            |  by 
                            
                            em Alina Wheeler
                    

                
                section.c-section__content
                    h3 Business and Strategy

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Why-We-Fail-Learning-Experience/dp/1933820179" target="_blank") Why we fail

                            |  by 
                            
                            em Victor Lombardi

                        
                        li
                            a(href="https://www.amazon.com/Hacking-Growth-Fastest-Growing-Companies-Breakout/dp/045149721X" target="_blank") Hacking growth

                            |  by 
                            
                            em Morgan Brown 
                            
                            | and 
                            
                            em Sean Ellis

                        
                        li
                            a(href="https://www.amazon.com/Trendology-Advantage-Data-Driven-Real-Time-Marketing/dp/1137479558" target="_blank") Trendology

                            |  by 
                            
                            em Chris Kerns

                        
                        li
                            a(href="https://www.amazon.com/Sense-Respond-Successful-Organizations-Continuously/dp/1633691888" target="_blank") Sense and respond

                            |  by 
                            
                            em Jeff Gothelf 
                            
                            | and 
                            
                            em Josh Seiden

                        
                        li
                            a(href="https://www.amazon.com/Experience-Required-become-leader-regardless/dp/0134398270" target="_blank") Experience required

                            |  by 
                            
                            em Hoekman Jr Robert

                        
                        li
                            a(href="https://www.amazon.com/Extreme-Revenue-Growth-Startup-Industry/dp/0984183515" target="_blank") Extreme revenue growth

                            |  by 
                            
                            em Victor Cheng




                
                section.c-section__content
                    h3 Colors


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Elements-Color-Treatise-System-Johannes/dp/0471289299" target="_blank") The elements of color

                            |  by 
                            
                            em Johannes Itten


                        li
                            a(href="https://www.amazon.com/COLOUR-INDEX-2-Jim-Krause/dp/0715328484" target="_blank") Colour index two

                            |  by 
                            
                            em Jim Krause

                        
                        li
                            a(href="https://www.amazon.com/Designers-Guide-Color-Combinations/dp/0891348573" target="_blank") The designer’s guide to colour combinations

                            |  by 
                            
                            em Leslie Cabarga

                        
                

                section.c-section__content
                    h3 Content Strategy &amp; Copywriting

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Nicely-Said-Writing-Purpose-Voices/dp/0321988191" target="_blank") Nicely Said

                            |  by 
                            
                            em Kate Kiefer Lee 
                            
                            | and 
                            
                            em Nicole Fenton

                        
                        li
                            a(href="https://www.fivesimplesteps.com/products/the-craft-of-words" target="_blank") The Craft of Words

                            |  by 
                            
                            em The Standardistas

                        
                        li
                            a(href="https://www.amazon.com/Spunk-Bite-Writers-Guide-Contemporary/dp/0375722270" target="_blank") Spunk &amp; Bite

                            |  by 
                            
                            em Arthur Plotnik

                        
                        li
                            a(href="https://www.amazon.com/Elements-Content-Strategy-People-Websites/dp/B004ZRFJ4G" target="_blank") The Elements of Content Strategy

                            |  by 
                            
                            em Erin Kissane




                
                section.c-section__content
                    h3 Design Process


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Decoding-Design-Understanding-Symbols-Communication/dp/1581809697" target="_blank") Decoding design

                            |  by 
                            
                            em Maggie Macnab

                        li
                            a(href="https://www.amazon.com/Designing-Design-Kenya-Hara/dp/3037784504" target="_blank") Designing design

                            |  by 
                            
                            em Kenya Hara

                        li
                            a(href="https://www.amazon.com/Universal-Methods-Design-Innovative-Effective/dp/1592537561" target="_blank") Universal methods of design

                            |  by 
                            
                            em Bella Martin 
                            | and 
                            
                            em Bruce Hanington

                        li
                            a(href="https://www.amazon.com/Art-Looking-Sideways-Alan-Fletcher/dp/0714834491" target="_blank") The art of looking sideways

                            |  by 
                            
                            em Alan Fletcher

                        li
                            a(href="https://www.amazon.com/Design-Everyday-Things-Revised-Expanded/dp/0465050654" target="_blank") The design of everyday things

                            |  by 
                            
                            em Don Norman

                        li
                            a(href="https://www.amazon.com/Creative-Selection-Inside-Apples-Process/dp/1250194466" target="_blank") Creative selection

                            |  by 
                            
                            em Ken Kocienda
                        

                        li
                            a(href="https://www.amazon.com/Thoughts-Design-Paul-Rand/dp/081187544X" target="_blank") Thoughts on design

                            |  by 
                            
                            em Paul Rand

                        li
                            a(href="https://www.amazon.com/Ways-Seeing-Based-Television-Penguin/dp/0140135154" target="_blank") Ways of seeing 

                            |  by 
                            
                            em John Berger

                        li
                            a(href="https://www.amazon.com/How-Designers-Think-Fourth-Demystified/dp/0750660775" target="_blank") How designers think

                            |  by 
                            
                            em Bryan Lawson

                        li
                            a(href="https://www.amazon.com/Seventy-nine-Essays-Design-Michael-Bierut/dp/1616890614" target="_blank") 79 short essays on design

                            |  by 
                            
                            em Michael Bierut

                        li
                            a(href="https://www.amazon.com/Design-Job-Mike-Monteiro/dp/1937557049" target="_blank") Design is a job

                            |  by 

                            em Mike Monteiro
                            




                section.c-section__content
                    h3 Data Visualization

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Information-Dashboard-Design-Effective-Communication/dp/0596100167" target="_blank") Information Dashboard Design

                            |  by 
                            
                            em Stephen Few

                        
                        li
                            a(href="https://www.amazon.com/Practical-Guide-Designing-Data-ebook/dp/B0058ZWZ8C" target="_blank") A Practical Guide to Designing with Data

                            |  by 
                            
                            em Brian Suda

                        
                        li
                            a(href="https://www.amazon.com/Advanced-Presentations-Design-Creating-Communication/dp/1118347919" target="_blank") Advanced Presentations by Design

                            |  by 
                            
                            em Andrew V. Abela

                        
                        li
                            a(href="https://www.amazon.com/Visual-Display-Quantitative-Information/dp/1930824130" target="_blank") The Visual Display of Quantitative Information

                            |  by 
                            
                            em Edward Tufte


                        li
                            a(href="https://www.amazon.com/Visual-Miscellaneum-Colorful-Worlds-Consequential/dp/0061748366" target="_blank") The Visual Miscellaneum

                            |  by 
                            
                            em David McCandless

                        
                        li
                            a(href="https://www.amazon.com/Visualize-This-FlowingData-Visualization-Statistics/dp/0470944889" target="_blank") Visualize This: The Flowing Data Guide to Design, Visualization, and Statistics

                            |  by 
                            
                            em Nathan Yau
                        

                


                section.c-section__content
                    h3 Front-end Development

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Sass-Compass-Designers-Ben-Frain/dp/1849694540" target="_blank") Sass and Compass for Designers

                            |  by 
                            
                            em Ben Frain
                        

                        li
                            a(href="https://www.amazon.com/Implementing-Responsive-Design-Building-everywhere/dp/0321821688" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="https://www.amazon.com/Handcrafted-CSS-More-Bulletproof-Design/dp/0321643380" target="_blank") Handcrafted CSS

                            |  by 
                            
                            em Dan Cederholm 
                            
                            | and 
                            
                            em Ethan Marcotte

                        
                        li
                            a(href="https://www.amazon.com/Web-Standards-Solutions-Handbook-Pioneering/dp/1590593812" target="_blank") Web standard solution￼s￼￼

                            |  by 
                            
                            em Dan Cederholm

                        
                        li
                            a(href="https://www.amazon.com/HTML5-Web-Designers-Jeremy-Keith/dp/0984442502" target="_blank") HTML 5 for web designers

                            |  by 
                            
                            em Jeremy Keith

                        
                        li
                            a(href="http://smacss.com/book/" target="_blank") Scalable and Modular Architecture for CSS

                            |  by 
                            
                            em Jonathan Snook


                        li
                            a(href="https://www.amazon.com/Css3-Web-Designers-Dan-Cederholm/dp/B005SYVZVQ" target="_blank") CSS3 for Web Designers

                            |  by 
                            
                            em Dan Cederholm

                        
                        li
                            a(href="https://www.amazon.com/Sass-Web-Designers-Dan-Cederholm/dp/193755712X" target="_blank") SASS for Web Designers

                            |  by 
                            
                            em Dan Cederholm

                        
                        li
                            a(href="https://www.amazon.com/Pocket-Guide-CSS-Animations-ebook/dp/B00GOFZ9K6" target="_blank") Pocket Guide to CSS Animation

                            |  by 
                            
                            em Val Head

                        
                        li
                            a(href="https://www.amazon.com/DOM-Scripting-Design-JavaScript-Document/dp/1430233893" target="_blank") DOM Scripting

                            |  by 
                            
                            em Jeremy Keith


                        li
                            a(href="https://www.amazon.com/Bulletproof-Web-Design-flexibility-protecting/dp/0321509021" target="_blank") Bulletproof Web Design

                            |  by 
                            
                            em Dan Cederholm

                        
                        li
                            a(href="https://www.amazon.com/Designing-Web-Standards-Jeffrey-Zeldman/dp/0321616952" target="_blank") Designing with Web Standards

                            |  by 
                            
                            em Jeffrey Zeldman

                        
                        li
                            a(href="https://www.amazon.com/CSS-Mastery-Advanced-Standards-Solutions/dp/1430223979" target="_blank") CSS Mastery

                            |  by 
                            
                            em Andy Budd

                        
                        li
                            a(href="https://www.amazon.com/Zen-CSS-Design-Visual-Enlightenment/dp/0321303474" target="_blank") The Zen of CSS Design

                            |  by 
                            
                            em Dave Shea 
                            
                            | and 
                            
                            em Molly Holzschlag


                        li
                            a(href="https://www.amazon.com/Smashing-CSS-Professional-Techniques-Modern/dp/047068416X" target="_blank") Smashing CSS

                            |  by 
                            
                            em Eric Meyer

                        
                        

                
                section.c-section__content
                    h3 Graphic Design


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="https://www.amazon.com/Implementing-Responsive-Design-Building-everywhere/dp/0321821688" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec




                section.c-section__content
                    h3 Information Architecture

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 Interaction Design

                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec


                


                section.c-section__content
                    h3 Productivity


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 Product Design


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 Product Management


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                



                section.c-section__content
                    h3 Psychology


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 Typography


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 Usability


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 User Experience


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 User Research


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec





                section.c-section__content
                    h3 Web and Mobile Design


                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                




                section.c-section__content
                    h3 Miscellaneous 



                    ul.o-list--bullet.c-books_list
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                        
                        li
                            a(href="" target="_blank") Implementing Responsive Design

                            |  by 
                            
                            em Tim Kadlec

                    

                
                