doctype strict
html.wf-jubilat-n1-active.wf-jubilat-n4-active.wf-jubilat-n2-active.wf-active(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Amrinder Sandhu
        meta(name='robots', content='index, follow')
        meta(name='title', content='Amrinder Sandhu')
        meta(name='DC.title', content='Amrinder Sandhu')
        meta(name='author', content='Amrinder Sandhu')
        meta(name='description', content='Amrinder Singh Sandhu is a UX/UI designer from Ancaster, Canada. He designs web and mobile apps.')
        meta#viewport(name='viewport', content='width=device-width, initial-scale=1')

        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")


        link(rel='stylesheet', href='assets/css/styles.css', type='text/css')
        //if IE 6
            style(type='text/css').
                li a {height: 1%; }
                li em {width: 350px; text-align:left;}
    body.c-body.l-body
        .l-grid__container
            header.c-header.l-grid.l-grid--header
                p.c-name Amrinder Sandhu


                nav.c-nav
                    ul.c-nav__list
                        li
                            a(href="") Home

                        li
                            a(href="") Work

                        li
                            a(href="") Reading
                        
                        li
                            a(href="") About



            main.c-main
                section.c-section.l-grid__section
                    h2.c-section__heading Reading

                    div.c-section__aside
                        button.o-button All books

                        button.o-button Design process

                        button.o-button Front-end Development

                        button.o-button Graphic Design

                        button.o-button Information Architecture

                        button.o-button Interaction Design
                        
                        button.o-button Productivity
                        
                        button.o-button Product Design
                        
                        button.o-button Psychology


                    div.c-section__content
                        ul
                            li
                                img(src="/assets/i/books/about_face.jpg", alt="About Face")

                            li
                                img(src="source/assets/i/books/building_web_reputation.jpg", alt="Building Web Reputation Systems")

                            li
                                img(src="source/assets/i/books/checklist_manifesto.jpg", alt="Checklist Manifesto")

                            li
                                img(src="source/assets/i/books/communicating_design.jpg", alt="Communicating Design")
                            

            